.parallax-banner {
	background-image: url(../../../../../../assets/images/whyMactec/app-dev.jpg);
	width: 100%;
	height: 300px;
	background-attachment: inherit;
	background-position: center;
	background-size: cover;
}
.viewServices {
	p {
		font-size: 14px;
	}
	.checklist {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			font-size: 14px;
			margin-bottom: 14px;
		}
		li:before {
			content: '\f00c';
			font-family: FontAwesome;
			color: #f07615;
			font-size: 10px;
			margin-right: 5px;
			border: 1px solid;
			border-radius: 50%;
			padding: 2px;
		}
	}
	.serviceInfo {
        & :last-child {
			border-bottom: 0px;
		}
		//   border-bottom: 1px solid #f07615;
        padding: 20px 0;
        
		/*  box-shadow: 0px 2px 7px #ddd; */
	
	}
	h5 {
		color: #212529;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 0;
	}
}

.slide-content {
	color: #fff;
	text-align: center;
	width: 315px;
	margin: 0 auto;
	padding: 35% 0;
  
  }
  
  
  @media only screen and (min-width:768px){
	.slide-content {
		color: #fff;
		text-align: center;
		width: 420px;
		margin: 0 auto;
		padding: 15% 0;
	
	}
	}
  @media only screen and (min-width:1024px){
	.parallax-banner {
		background-image: url(../../../../../../assets/images/whyMactec/app-dev.jpg);
		width: 100%;
		height: 500px;
		background-attachment: inherit;
		background-position: center;
		background-size: cover;
	}
	.slide-content {
	  text-align: center;
	  color: #fff;
	  text-align: center;
	  width: 75%;
	  margin: 0 auto;
	  padding: 16% 0;
  
  }
  
  
  .h2, h2 {
  font-size: 4rem;
  }
  }  