<div class="slotbook min-h-100 flex-container flex-pc">
    <div class="container text-center">
        <h2 class="display-4">Get Started with Skill Passport <span>Enroll</span></h2>
        <h4 class="heading">Enroll now for our upcoming trainings</h4>
        <ul class="box-container flex-container flex-w-w">
            <li class="box" *ngFor="let item of items">
                <div class="box-content">
                    <h4>{{item.title}}</h4>
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-calendar" aria-hidden="true"></i><span>{{item.startDate}} to {{item.endDate}}</span> </li>
                        <li><i class="fa fa-li fa-inr" aria-hidden="true"></i><span>{{item.assessmentFee}}</span></li>
                        <li><i class="fa fa-li fa-users" aria-hidden="true"></i><span>{{item.noOfStudents}}</span></li>
                        <li> <i class="fa fa-li fa-th-list" aria-hidden="true"></i><span>{{item.trainingType}}</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="space-50"></div>
        <a target="_blank" href="http://183.82.117.232:82/sp/apssdc-signup.html" class="button button-1 text-center" >Enroll Now</a> 
    </div>
</div>