<div class="tab-sp">
    <div class="container">
      <div class="flex-pc heading">
        <h1>Easy-to-use, affordable <br>Virtual Classroom and LMS Software</h1>
        <!-- <button class="button button-1" >START FREE TRIAL</button> -->
      </div>
      <div class="tab-1 tabs">
        <ul class="nav nav-pills">
          <li><a data-toggle="pill" class="active" href="#home">
            AI Enabled LMS
            </a>
          </li>
          <li><a data-toggle="pill" href="#onlinec">
            Online Course Creation
            </a>
          </li>
          <li><a data-toggle="pill" href="#testa">
            Tests and Assessments
            </a>
          </li>
          <li><a data-toggle="pill" href="#elearn">
            E-learning
            </a>
          </li>
          <li><a data-toggle="pill" href="#virtualc">
            Virtual Classroom
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade active show">
            <img src="/assets/images/banner/virtual.png" alt="tab-image" class="img-fluid"/>
          </div>
          <div id="onlinec" class="tab-pane fade">
            <img src="/assets/images/banner/online.png" alt="tab-image" class="img-fluid"/>
          </div>
          <div id="testa" class="tab-pane fade">
            <img src="/assets/images/banner/test.png" alt="tab-image" class="img-fluid"/>
          </div>
          <div id="elearn" class="tab-pane fade">
            <img src="/assets/images/banner/test.png" alt="tab-image" class="img-fluid"/>
          </div>
          <div id="virtualc" class="tab-pane fade">
            <img src="/assets/images/banner/test.png" alt="tab-image" class="img-fluid"/>
          </div>
        </div>
      </div>
    </div>
  </div>