<!-- <section class="section section-1">
  <div class="background-banner flex-container flex-pc flex-d-c">
    <h1 class="display-1">MacTec</h1>
    <h2 class="bannertext"></h2>
  </div>
</section> -->
<section class="section section-2">
  <!-- <app-workflow></app-workflow> -->
  <app-slider3></app-slider3>
</section>
<section class="section section-3 flex-container flex-pc">
  <app-courses-card class="width-100"></app-courses-card>
</section>

<section class="section section-4">
    <div class="container flex-container flex-pc flex-d-c">
      <h2 class="text-center">Smart Business Solutions – SBuS Products</h2>
      <p class="text-center">
        Digitise your business processes with fully integrated stack of operations and applications – Smart Business Solutions.
        <br> 
        Make your business Smart Business Compliant through SBuS. Customise your solutions for your business and processes.
      </p>
      <h5 class="text-center">
        Simple and easy way to connect.
      </h5>
      <p>
        <br>
        <i>Choose your product</i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i>Provide Personal Details</i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i>Business Details</i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i>Subscirbe</i>
      </p>
      <a routerLink="/allProducts" class="button button-2">Start now</a>
  </div>
</section>


<section class="section flex-container flex-pc">
</section>

<section class="section  flex-container flex-pc">
  <div class="container-fluid">
    <div class="row">
      <app-testimonial class="width-100"></app-testimonial>
    </div>
  </div>
</section>