<section id="section-1">

    <app-slider-banner ></app-slider-banner>

  <!-- <div class="banner flex-container flex-d-c flex-jc-c">

    <div class="container">
      <div class="row">

          

        <div class="col-md-7 col-sm-7 col-12 flex-container flex-d-c flex-jc-c">
          <h1 class="display-4"><small>What are we ? </small></h1>
          <p>
              MacTec Solutions, the name stands for Management and Technology Solutions, is a leading smart employee services company, operating from Hyderabad, India and New Jersey, USA.
              <br>
              <br>
              Our success has been built upon having the best software developers, testers and accounting professionals in the industry to deliver a set of services tailored to what our clients want and need. We are pioneering industry-specific Smart Employee Solutions with focussed emphasis on operational excellence. Delivery of superior standard of service coupled with low cost and new age digital practices that enable rapid growth, rich value and specific business outcomes.
              <br>
              <br>
              We are not mere a vendor providing services to marginalize your cost. We strive to be a domain expert and aim to be a partner in success of our customers.
          </p>
          <div class="space-30">
            <a href="#" class="button button-1">View more</a>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-12">
          <img src="/assets/images/banner/banner_img.PNG" alt="Flow Diagram image" class="img-fluid">
        </div>
      </div>
       <a href="#section-2" class="downarr"><span></span></a>       <a href="#" class="scroll-down">
          <i class="icon"></i>
          <span>scroll down</span>
      </a>

    </div>
  </div> -->
 
</section>


<section class="section min-h-100 flex-container flex-pc" >

  <div class="padding-d-50">
    <app-courses-card class="width-100"></app-courses-card>
  </div>
</section>
<!-- <section class="section min-h-100 flex-container flex-pc" id="section-7">
  <a href="#section-6" class="downarr prev-sec"><img src="/assets/images/decorative/top.png" alt="" class="img-fluid"></a>
  <a href="#section-8" class="downarr next-sec"><img src="/assets/images/decorative/top.png" alt="" class="img-fluid"></a>
  <app-slotbook class="width-100" [items]="slotBookData.server"></app-slotbook>
</section> -->
<!-- <section class="section min-h-100 flex-container flex-pc" id="section-8">

  <div class="">
    <app-service-check [services]="servicesdata" class="width-100 padding-d-100"></app-service-check>
  
  </div>
</section> -->


<section class="section">
 
  
  <div class="width-100 min-h-100 flex-container flex-pc" id="subscription-form">
    <div class="container">
        <h2 class="display-4 text-center">Expand Your Business With MacTec Automation</h2>
        <div class="space-10"></div>
        <p style="color:#fff;">"SBUS<sup>&reg;</sup> ERP is a ‘1 Platform – Multiple Benefits’ solution that caters to multi dimensional stake holders in the world of education and continuous learning. SBUS<sup>&reg;</sup> ERP leverages the essential differentiator of a 360<sup>o</sup> transformation tool that not only focusses on certain key activities but pretty much goes above and beyond them. The key philosophy of RiteERP is the integration of the essential pillars of an institution which can potentially refine the way an institution carries out the operations. Not just that: The ‘Services’ portfolio of RiteERP caters to the dynamic learning process through robust developmental services."</p>
        <div class="row subscription">
          <!-- <div class="col-md-7 col-sm-7 col-xs-12 content-subscription">
             <h4>Whats Included for you</h4>
           <app-final-check></app-final-check>
          </div> -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <app-subscription [services]="servicesdata" class="width-100 padding-d-100"></app-subscription>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section  flex-container flex-pc" >
    <div class="container-fluid">
        <div class="row">
      <app-testimonial class="width-100"></app-testimonial>
    </div>
    </div>
  </section>


