<section id="section-1">
  <app-slider-banner></app-slider-banner>
</section>
<section class="section  flex-container flex-pc">
  <div class="padding-d-50">
    <app-courses-card class="width-100"></app-courses-card>
  </div>
</section>
<section class="section">
  <div class="width-100 min-h-100 flex-container flex-pc" id="subscription-form">
    <div class="container">
      <h2 class="display-4 text-center">Expand Your Business With MacTec Automation</h2>
      <div class="space-10"></div>
      <p style="color:#fff;">"SBUS<sup>&reg;</sup> ERP is a ‘1 Platform – Multiple Benefits’ solution that caters to multi
        dimensional stake holders in the world of education and continuous learning. SBUS<sup>&reg;</sup> ERP leverages the
        essential differentiator of a 360<sup>o</sup> transformation tool that not only focusses on certain key activities
        but pretty much goes above and beyond them. The key philosophy of RiteERP is the integration of the essential pillars
        of an institution which can potentially refine the way an institution carries out the operations. Not just that:
        The ‘Services’ portfolio of RiteERP caters to the dynamic learning process through robust developmental services."
      </p>
      <div class="row subscription">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- <app-subscription [services]="servicesdata" class="width-100 padding-d-100"></app-subscription> -->
          <app-subscription [services]="servicesdata" class="width-100 padding-d-100"></app-subscription>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section  flex-container flex-pc">
  <div class="container-fluid">
    <div class="row">
      <app-testimonial class="width-100"></app-testimonial>
    </div>
  </div>
</section>