<div class="about-section">
		<div class="parallax-banner">

				<div class="slide-content">
					<h2 class="slide-heading">ABOUT US</h2>
					<p class="slide-text">We nuture passion to add value and provide the Best-in-Class Operational & Technological Solutions</p>
				</div>

		</div>
		<div class="space-40"></div>
		<div class="">
			<section>
				<div class="container">
					<!-- <h3 class="display-4 text-center">About Us</h3> -->
					<div class="row">
						
						<div class="col-lg-5 col-md-12 text-center">
							<img src="../../../assets/images/whyMactec/about1-500x300.jpg" class="img-fluid"/>
						</div>
						<div class="col-lg-7 col-md-12">
							<p>
								MacTec Solutions, the name stands for Management and Technology Solutions, is a leading smart employee services company, operating from Hyderabad, India and New Jersey, USA.</p>
							<p>
							Founded in 2012 with a passion to provide best in class virtual employee services for Operations and Technology. Our smart employee solutions from India to our global customers is primarily in the areas of Finance & Accounting (SFaS) and Technology (STeH).
							</p>
							<p>
							Our success has been built upon having the best software developers, testers and accounting professionals in the industry to deliver a set of services tailored to what our clients want and need. We are pioneering industry-specific Smart Employee Solutions with focussed emphasis on operational excellence. Delivery of superior standard of service coupled with low cost and new age digital practices that enable rapid growth, rich value and specific business outcomes.
							</p>
							<p>
							We are not mere a vendor providing services to marginalize your cost. We strive to be a domain expert and aim to be a partner in success of our customers.
							</p>
						</div>	
								
					</div>
				</div>
			</section>
			<section class="visionParallax ">
				<div class="container">
					<h3 class="display-4 text-center">Vision & Mission</h3>
					<div class="row space-50">
						<div class="col-md-6">
						<div class="visoon">
							<h5>Vision</h5>
							<p>
								MacTec’s vision is to be the Best-in-Class and an innovative access to Talent, Processes and Technology, through Smart People Solutions. We aim to position MacTec as a Global Hub and driving force for Efficiency, Reliability, Cost-Effective and highly qualitative Solutions through offshore resource management processes.
							</p>
							</div>
						</div>
						<div class="col-md-6">
								<div class="visoon">
							<h5>Mission</h5>
							<p>
								Our mission is to add value to our clients’ business through our services and products. Simplification of complex and deferrable processes; set benchmark strategic solutions, and then drive to process excellence, for augmented ROI of time, money and effort of the management. We are an opportunity and knowledge hub with an objective and reputation in People Transformation, Process Enhancements and Technology Solutions.
							</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="benfit_cont">
				<div class="container">
					<h3 class="display-4 text-center">Benifits of working with MacTec</h3>
					<div class="row space-50">
						<div class="col-md-12">
							<ul class="benifitsList">
								<li>
									<h5 class="iconica"><span ><i class="fa fa-adjust" aria-hidden="true">&nbsp;</i></span>Operational Flexibility</h5>
									<p>We are not mere a vendor providing services to marginalize your cost. We strive to be a domain expert and aim to be a partner in success of our customers.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-address-card-o" aria-hidden="true">&nbsp;</i></span>CERTIFIED STAFF</h5>
									<p>MacTec has a wide pool of highly qualified Graduates and Post Graduates with valued industry certifications who have the right expertise and talent for leveraging the appropriate knowledge base.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-star-half-o" aria-hidden="true">&nbsp;</i></span>TRAINING & DEVELOPMENT</h5>
									<p>Our robust L&D mechanism is designed to deliver learning interventions that ensures enhanced execution in sync with our customers’ expectations.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-video-camera" aria-hidden="true">&nbsp;</i></span>TRANSPARENCY</h5>
									<p>MacTec believes in Zero Surprises Operational mechanism where we keep out communication open and transparent ensuring client satisfaction. Our governance process ensures clear communication.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-shield" aria-hidden="true">&nbsp;</i></span>SECURED OPERATIONS</h5>
									<p>We have a state-of-the-art surveillance mechanism and robust background check verification of our employees and top notch data security protocols to safeguard client information.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-clock-o" aria-hidden="true">&nbsp;</i></span>TIME ZONE COVERAGE</h5>
									<p>Supporting global operations cannot have any time zone boundaries. Our services are not bound by this natural limitation and hence we are open 24/7 with complete resource support.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-snowflake-o" aria-hidden="true">&nbsp;</i></span>NICHE SKILLS</h5>
									<p>Academic qualifications and industry certifications apart, the significant aspect of a strong pool of experts in niche skill which can be leveraged for critical and high value projects.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-money" aria-hidden="true">&nbsp;</i></span>COST REDUCTION</h5>
									<p>MacTec stands by the philosophy of marginalised cost with no compromise in quality. We provides the services at a competitive price to significantly reduce the staffing cost.</p>
								</li>
								<li>
									<h5 class="iconica"><span ><i class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp;</i></span>PROVEN SUCCESS</h5>
									<p>With a fervent partnership with our erstwhile and existing clients, we have proven track record of not just seamless delivery but also adding value proposition to our clients’ business.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			



		

			<section id="team" class="pb-5">
					<div class="container">
							<h3  class="text-center display-4">OUR TEAM</h3>
						<div class="row space-30">
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
								<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
									<div class="mainflip">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="../../../assets/images/whyMactec/ravi-2.png" alt="card image"></p>
													<h4 class="card-title">RAVI KROVVIDI</h4>
													<p class="card-text">Director - Strategic Planning</p>
													<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center ">
													<h4 class="card-title">RAVI KROVVIDI</h4>
													<p class="card-text2">Ravi is at the helm of Strategic Planning of MacTec. With an astounding career spanning over 20 years in the areas of Finance & Accounting and Project Management, he is a Chartered Accountant with a varied industry experience with global Pharma, IT and Service companies. He is a Subject Matter Expert on Financial Planning & Analysis process equipped with wide and extensive insight on F&A domain coupled with business acumen on Service Delivery and Process Transformation. Ravi is instrumental in building MacTec IT Solutions as a brand that envisions partnering for success.</p>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
								<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
									<div class="mainflip">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="../../../assets/images/whyMactec/sumanthi-web-pic-2.jpg" alt="card image"></p>
													<h4 class="card-title">SUMANTHI PARAKALA</h4>
													<p class="card-text">Director</p>
													<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center ">
													<h4 class="card-title">SUMANTHI PARAKALA</h4>
													<p class="card-text2">Sumanthi has been associated with MacTec IT Solutions since the inception. She is the anchor of the ship. Having done everything with regards to HR operations, Recruitment, Products, Strategy and day-to-day operations, Sumanthi is instrumental in taking MacTec to a stature where the organisation is today, through her sheer competency to execute and accomplish. Sumanthi role entails Business Development, Product Development, Technical consultation and strategy. She holds a Masters Degree from Scotland in Information Technology with major specialization in Computer Aided Engineering.</p>

													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
								<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
									<div class="mainflip">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="../../../assets/images/whyMactec/Ravi-Kiran.jpg" alt="card image"></p>
													<h4 class="card-title">RAVI KIRAN V</h4>
													<p class="card-text">Advisory Board Member</p>
													<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center ">
													<h4 class="card-title">RAVI KIRAN V</h4>
													<p class="card-text2">With career spanning over 17 years in the areas of accounting and consulting services, Ravi Kiran is a qualified Chartered Accountant and CPA who holds specialization and expertise in varied areas of IFRS, SEC regulations, Capital Market and Consulting.As the Advisory Board Member of MacTec IT Solutions, Ravi Kiran brings immense experience and competency for the organisation for its stronghold on Client Services and Consulting businesses catering to global clients.</p>

													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->





						
						
						


							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
								<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
									<div class="mainflip">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="../../../assets/images/whyMactec/rd.jpg" alt="card image"></p>
													<h4 class="card-title">RAJEEV DUBEY</h4>
													<p class="card-text">Chief Architect</p>
													<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center ">
													<h4 class="card-title">RAJEEV DUBEY</h4>
													<p class="card-text2">Rajeev is a certified expert in Adobe AEM with a strong experience in varied technological platforms for over 17 years. As the Chief Architect, Rajeev is the key member of MacTec being the design head for the state-of-the-art products Order Ezi®, Campus Champs®, City Blaze® and SmartOpx®.Rajeev is chief contributor in expansion of the technology portfolio of MacTec for the client servicing businesses in the areas of  product design and development. Being the lead, he is the mentor and the guide of the development team in MacTec.</p>

													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
								<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
									<div class="mainflip">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="../../../assets/images/whyMactec/ron.jpg" alt="card image"></p>
													<h4 class="card-title">RON (RAMAKRISHNAN)</h4>
													<p class="card-text">L & D | Operations</p>
													<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center ">
													<h4 class="card-title">RON (RAMAKRISHNAN)</h4>
													<p class="card-text2"> Ron is an expert in Learning & Development and Customer Service Operations domain with career spanning over 14 years specializing in Training functions. He is a Certified Trainer on array of Soft-skills and Behavioural interventions.Besides, he brings in rich experience in business transitions and knowledge transfer practices. Ron’s core expertise lies in human development & transformation and client service management.As a key member of MacTec, Ron plays a pivotal role in expansion of the L&D functions and product operations.</p>

													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
								<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
									<div class="mainflip">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="../../../assets/images/whyMactec/IMG_2722.jpg" alt="card image"></p>
													<h4 class="card-title">DINESH MUDILI</h4>
													<p class="card-text">Project Lead</p>
													<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center ">
													<h4 class="card-title">DINESH MUDILI</h4>
													<p class="card-text2">Dinesh Mudili leads the Development team of MacTec and is the contributory force for all the ingenious products of the organisation. He holds a Bachelor’s degree in Technology and Computer Science from a premier university in India. With his career spanning over 7 years, Dinesh has worked in varied projects and led teams keenly involved in building and implementation of technological products. He holds vast experience and working knowledge in emerging technologies and platforms. His innate People Skills gives him an added edge to mentor and groom his team towards the organisational goals and success.</p>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
				



	
<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	<div class="mainflip">
		<div class="frontside">
			<div class="card">
				<div class="card-body text-center">
					<p><img class=" img-fluid" src="../../../assets/images/whyMactec/rama.jpg" alt="card image"></p>
					<h4 class="card-title">RAMAKRISHNA</h4>
					<p class="card-text">Lead Mobile Devloper</p>
					<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
				</div>
			</div>
		</div>
		<div class="backside">
			<div class="card">
				<div class="card-body text-center ">
					<h4 class="card-title">RAMAKRISHNA</h4>
					<p  class="card-text2">Ramakrishna is the engine of sorts of the development vertical of MacTec IT Solutions. He is the most significant contributory force for the development and implementation of the technology products that we have built. With a Bachelors Degree in Engineering, Ramakrishna’s core competency lies in mobile technologies and building cross platform applications through Phone Gap technology. His keen eye on emerging trends and platforms gives him the added advantage that makes the vertical stronger. His role and contribution creates the key differentiator for MacTec products which sets us apart from the competition.</p>
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- ./Team member -->




	<!-- Team member -->
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
				<div class="mainflip">
					<div class="frontside">
						<div class="card">
							<div class="card-body text-center">
								<p><img class=" img-fluid" src="../../../assets/images/whyMactec/swaroop.jpg"  alt="card image"></p>
								<h4 class="card-title">Swaroop Suravarapu</h4>
								<p class="card-text">Head of Operation</p>
								<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
							</div>
						</div>
					</div>
					<div class="backside">
						<div class="card">
							<div class="card-body text-center ">
								<h4 class="card-title">Swaroop Suravarapu</h4>
								<p class="card-text2">Swaroop leads the Operations at MacTec by the virtue of his long drawn experience in Operations Management. He holds a Master’s degree in Technology and Electronics from a premier university in India. With a industry experience  of over 6 years, Swaroop has extensive field operations expertise as well as infra management.</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Team member -->

						</div>
					</div>
				</section>



			<section class="facilityParallax ">

					<h3 class="display-4 text-center">Our Facilities </h3>

					<div class="container">
							<div class="">
								
									<p>
											We have  ensured we strive to provide best-in-class  services to our clients. Our top notch facilities enabling the smooth operations enhances our delivery standards.
										</p>
									<div class="row">
										<div class="col-md-6 col-lg-3">
											<div class="box">
												<div class="box-content">
													<h1 class="tag-title">Infrastructure</h1>
													<hr />
													<p>We have modern and sleek infrastructure with services capable of running 24/7. Our power back-up and stringent security measures are put in place to ensure no halt in delivery. Round the clock CCTV surveillance to ensure safeguard of security</p>
													
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-3">
											<div class="box">
												<div class="box-content">
													<h1 class="tag-title">IT & Telecom</h1>
													<hr />
													<p>We have implemented updated Technology and Telecom infrastructure to ensure zero downtime for our delivery. We have top of the line telecom platform to have robust connectivity with our clients across the globe</p>
													
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-3">
											<div class="box">
												<div class="box-content">
													<h1 class="tag-title">Work Station</h1>
													<hr />
													<p>Our staff is given ergonomically compliant workstations enabling them to deliver more efficiently. The systems are enabled with strong anti-virus applications to ensure absolute safety of data.								</p>

												</div>
											</div>
										</div>
											  <div class="col-md-6 col-lg-3">
											<div class="box">
												<div class="box-content">
													<h1 class="tag-title">Connectivity</h1>
													<hr />
													<p>Any offshore service heavily relies on internet connection and having it high speed with no downtime is equally essential. We can deliver on multiple projects with zero interruption in delivery</p>

												</div>
											</div>
										</div>
									</div>           
								</div>
							</div>


			</section>
			<section class=" journeyParalax">
					<div class="container">
						<h3 class="display-4 text-center">Journey of MacTec</h3>
						<div class="row space-50">
							<div class="col-md-12">
									<div class="journeyStick"><!-- --></div>
									<div class="firstYear">
										<h5>2012</h5>
										<ul>
											<li>The beginning of MacTec journey as partnership firm.</li>
											<li>Started as a garage-office with basic set-up</li>
											<li>Launched ‘Smart Business Solutions’ - a consulting service for India-to-India enterprises</li>
										</ul>
									</div>
									<div class="secondYear">
										<h5>2013</h5>
										<ul>
											<li>2 client addition on India-to-India portfolio</li>
											<li>Launched Finance & Accounting consulting service</li>
											<li>Initiated Operational Excellence consulting service</li>
										</ul>
									</div>
									<div class="thirdYear">
										<h5>2014</h5>
										<ul>
											<li>Registered as Private Limited Company</li>
											<li>Moved to IT Hub – Hitec City facility in Hyderabad with topline infrastructure</li>
											<li>Launched Technology Outsourcing services through Smart Employee Services platform</li>
											<li>Signed-off outsourcing contract with UK based client CACI for Development and Testing portfolio</li>
											<li>Initiated first indigenous IT product – OrderEzi in Food Tech domain for restaurants and Order Management process</li>
										</ul>
									</div>
									<div class="forthYear">
										<h5>2015</h5>
										<ul>
											<li>Set-up office in New Jersey USA</li>
											<li>Initiated Smart Employee Services for domestic clients in F&A domain</li>
											<li>Complete 3 major Business Re-engineering consulting projects with an overall value benefit of 50 mn INR for clients</li>
											<li>Initiated development of proprietary products in Education and Utility service domain</li>
											<li>Campus Champs</li>
											<li>City Blaze</li>
											<li>Developed e-Commerce platform for retail enterprise with customized and localized features</li>
											<li>Deals.com</li>
											<li>Added domain capability in Smart Business Services portfolio</li>
											<li>Application Development</li>
											<li>QA</li>
										</ul>
									</div>
									<div class="fifthYear">
										<h5>2016</h5>
										<ul>
											<li>Bagged major government project in Skill Development sector</li>
											<li>Initiated proprietary ERP development for Small & Medium Scale businesses covering 2 modules</li>
											<li>Payroll</li>
											<li>HRMS</li>
											<li>Extended ERP module development to 5 modules as wholesome product – Rite ERP</li>
											<li>Project Management</li>
											<li>Asset Management</li>
											<li>Procurement</li>
											<li>Employee Self Services</li>
											<li>Budgeting</li>
											<li>Increased headcount to cater to domestic clients</li>
											<li>Bagged re-engineering projects for business transformation</li>
											<li>Launched Social Entrepreneurship projects in collaboration with state government</li>
											<li>Singed off QA Testing projects for domestic clients</li>
										</ul>
									</div>
							</div>
						</div>
					</div>
				</section>
			<section class="citizenParallax ">
					<div class="container">
						<h3 class="display-4 text-center">Social Citizenship & CSR </h3>
						<div class="row space-30">




								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="our-services-wrapper mb-60">
											<div class="services-inner">
												<div class="our-services-img">
												<img src="../../../assets/images/icons/csr.PNG" width="68px" alt="">
												</div>
												<div class="our-services-text">
													<h4>OUR CSR STRATEGY</h4>
													<p>
															MacTec is devoted to giving back to the community through three key areas that align with our core value
														</p>
														<p>
															Education and Employability – Providing Skill Development trainings and coaching to students from rural parts of the state.
														</p>
														<p>	
															Community Service – Enabling self-less organisation to garner resources to sustain social welfare activities
														</p>
												</div>
											</div>
										</div>
									</div>	



									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
											<div class="our-services-wrapper mb-60">
												<div class="services-inner">
													<div class="our-services-img">
													<img src="../../../assets/images/icons/social.PNG" width="68px" alt="">
													</div>
													<div class="our-services-text">
														<h4>SOCIAL CITIZENSHIP</h4>
														<p>
																We at Mactec aim to improve the quality of life of not only our employees and stakeholders, but also the community which is an integral part of our eco system. At MacTec, Corporate Social Responsibility (CSR) plays a critical role in shaping our success around the globe. We utilize the energy and forte of our employees and leverage our distinct strengths to contribute to the economic, social, and environmental betterment of the communities where we live and work.
															</p>
													</div>
												</div>
											</div>
										</div>	


										
						</div>
					</div>
				</section>

			
			  </div>


		


			  
		</div>
		