p {
	font-size: 1rem;
	line-height: auto;
	text-align: left;
	margin-bottom: 0rem;
}

section {
    padding: 2rem 0;
    &:nth-child(odd){
        background-color: #f1f1f1;
    }
}

.page-nav {
    position: fixed;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;;
    ul {
        list-style: none;
        text-align: right;
        li {
            a {
                color: white;
                display: flex;
                justify-content: flex-end;
                margin: 0.2rem 0;
                position: relative;
                span, .fa {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 3rem;
                    min-width: 3rem;
                    padding: 1rem 0rem;
                }
                
                span {
                    position: absolute;
                    padding: 0rem 1rem;
                    background-color: var(--secondary-background-color);
                    opacity: 0.7;
                    right: -5rem;
                    z-index: 10;
                    transition: 0.2s all ease-in-out;
                    font-size: 0.8rm;
                    line-height: 1rem;
                }
                &:hover span {
                    right: 3rem;
                }
                .fa {
                    position: relative;
                    background-color: var(--secondary-background-color);
                    z-index: 20;
                }
            }
        }
    }
}

.about_sec1 {
}
.about_sec2 {
    .abtus_img {
        position: sticky;
        top: 6rem;
    }
}

.about_sec3 {
    .block-container {
        background-color: white;
        padding: 1.5rem 1rem;
        .heading {
            font-size: 1.25rem;
        }
    }
}

.about_sec4 {
    .box-container {
        background-color: #f1f1f1;
        padding: 1.5rem 1rem;
    }
}
.about_sec7 {
    .benifitsList {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 1rem;
        }
        .iconica {
            font-size: 1rem;
            margin:0;
        }
    }
}

.about_sec8 {
    .team-box {
        margin: 1.5rem 0;
        .team-img {
            margin-bottom: 1rem;
            height: 10rem;
            width: 10rem;
            border-radius: 5rem;
            background-color: var(--secondary-color);
        }
        .leadership {
            .title {
                font-size: 1.25rem;
                margin: 0rem;
                line-height: 1.25rem;
            }
            .dsg {
                font-size: 1rem;
                margin: 0rem;
            }
            .content {
                font-size: 0.9rem;
            }
        }
    }
}

.about_sec9 {
    background-color: var(--secondary-color) !important;
    position: relative;
    .rocket-bg {
        position: absolute;
        background-size: cover;
        background-image: url(/assets/images/banner/rocket.png);
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100% - 2rem);
        left: calc(50%);
        transform: translateX(-50%);
    }
    .about_years {
        position: relative;
        .yeardata {
            background-color: rgba(255,255,255,0.7);
            padding: 1rem;
            text-align: center;
            &>*{
                text-align: center;
            }
        }
    }
}

.img-fluid{
    margin: 1rem 0;
}

@media only screen and ( min-width: 960px ){
    .img-fluid{
        margin: 0;
    }
    .about_sec8 {
        .team-box {
            .team-img {
                margin-bottom: 0;
            }
        }
    }

    .about_sec9 {
        padding: 0;
        .rocket-bg {
            background-size: 55rem;
            height: 45rem;
            background-position: calc(50% - 1rem) 1rem;
            width: 39rem;
        }
        .about_years {
            height: 45rem;
            .yeardata {
                background-color: white;
                position: absolute;
                width: 12rem;
                height: 12rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 50%;
                padding: 1rem;
                text-align: center;
                &>*{
                    text-align: center;
                }
                h4 {
                    margin-bottom: 0rem;
                }
                p {
                    font-size: 0.9rem;
                    line-height: 1rem;
                }
                &:nth-child(1) {
                    top: 2rem;
                    left: 20rem;
                }
                &:nth-child(2) {
                    top: 13rem;
                    left: 10rem;
                }
                &:nth-child(3) {
                    top: 26rem;
                    left: 17rem;
                }
                &:nth-child(4) {
                    top: 26rem;
                    right: 17rem;
                }
                &:nth-child(5) {
                    top: 13rem;
                    right: 10rem;
                }
                &:nth-child(6) {
                    top: 2rem;
                    right: 20rem;
                }
            }
        }
    }
}