<div class="about-section">
<!-- <a class="fixed-btn button button-3" id="scrollToSubscriptionform" (click)="startTrialBtn()">Start Trial</a> -->
	<div class="page-banner" style="background-color: var(--secondary-background-color)">
		<div class="banner-content container">
			<div class="logo-img">
					<svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px"><g><g><path d="M451.72,237.26c-17.422-8.71-50.087-8.811-51.469-8.811c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5
						c8.429,0.001,32.902,1.299,44.761,7.228c1.077,0.539,2.221,0.793,3.348,0.793c2.751,0,5.4-1.52,6.714-4.147
						C456.927,243.618,455.425,239.113,451.72,237.26z"></path></g></g><g><g><path d="M489.112,344.041l-30.975-8.85c-1.337-0.382-2.271-1.62-2.271-3.011v-10.339c2.52-1.746,4.924-3.7,7.171-5.881
						c10.89-10.568,16.887-24.743,16.887-39.915v-14.267l2.995-5.989c3.287-6.575,5.024-13.936,5.024-21.286v-38.65
						c0-4.142-3.358-7.5-7.5-7.5H408.27c-26.244,0-47.596,21.352-47.596,47.596v0.447c0,6.112,1.445,12.233,4.178,17.699l3.841,7.682
						v12.25c0,19.414,9.567,36.833,24.058,47.315l0.002,10.836c0,1.671,0,2.363-6.193,4.133l-15.114,4.318l-43.721-15.898
						c0.157-2.063-0.539-4.161-2.044-5.742l-13.971-14.678v-24.64c1.477-1.217,2.933-2.467,4.344-3.789
						c17.625-16.52,27.733-39.844,27.733-63.991v-19.678c5.322-11.581,8.019-23.836,8.019-36.457v-80.19c0-4.142-3.358-7.5-7.5-7.5
						H232.037c-39.51,0-71.653,32.144-71.653,71.653v16.039c0,12.621,2.697,24.876,8.019,36.457v16.931
						c0,28.036,12.466,53.294,32.077,69.946v25.22l-13.971,14.678c-1.505,1.581-2.201,3.679-2.044,5.742l-46.145,16.779
						c-3.344,1.216-6.451,2.863-9.272,4.858l-7.246-3.623c21.57-9.389,28.403-22.594,28.731-23.25c1.056-2.111,1.056-4.597,0-6.708
						c-5.407-10.814-6.062-30.635-6.588-46.561c-0.175-5.302-0.341-10.311-0.658-14.771c-2.557-35.974-29.905-63.103-63.615-63.103
						s-61.059,27.128-63.615,63.103c-0.317,4.461-0.483,9.47-0.658,14.773c-0.526,15.925-1.182,35.744-6.588,46.558
						c-1.056,2.111-1.056,4.597,0,6.708c0.328,0.656,7.147,13.834,28.76,23.234l-20.127,10.063C6.684,358.176,0,368.991,0,381.02
						v55.409c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V381.02c0-6.312,3.507-11.987,9.152-14.81l25.063-12.531l8.718,8.285
						c6.096,5.793,13.916,8.688,21.739,8.688c7.821,0,15.645-2.897,21.739-8.688l8.717-8.284l8.172,4.086
						c-3.848,6.157-6.032,13.377-6.032,20.94v57.725c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-57.725
						c0-10.296,6.501-19.578,16.178-23.097l48.652-17.691l20.253,30.381c2.589,3.884,6.738,6.375,11.383,6.835
						c0.518,0.051,1.033,0.076,1.547,0.076c4.098,0,8.023-1.613,10.957-4.546l12.356-12.356v78.124c0,4.142,3.358,7.5,7.5,7.5
						c4.142,0,7.5-3.358,7.5-7.5v-78.124l12.356,12.356c2.933,2.934,6.858,4.547,10.957,4.547c0.513,0,1.029-0.025,1.546-0.076
						c4.646-0.46,8.795-2.951,11.384-6.835l20.254-30.38l48.651,17.691c9.676,3.519,16.178,12.801,16.178,23.097v57.725
						c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-57.725c0-10.428-4.143-20.208-11.093-27.441l1.853-0.529
						c1.869-0.534,4.419-1.265,6.979-2.52l19.149,19.149v69.066c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-69.066
						l19.016-19.016c1.011,0.514,2.073,0.948,3.191,1.267l30.976,8.85c7.07,2.02,12.009,8.567,12.009,15.921v62.044
						c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-62.044C512,360.371,502.588,347.892,489.112,344.041z M48.115,330.794
						c-14.029-5.048-21.066-11.778-24.07-15.453c2.048-5.354,3.376-11.486,4.275-17.959c4.136,9.917,11.063,18.383,19.795,24.423
						V330.794z M91.08,351.092c-6.397,6.078-16.418,6.077-22.813-0.001l-6.975-6.628c1.177-2.205,1.824-4.705,1.824-7.324v-7.994
						c5.232,1.635,10.794,2.517,16.558,2.517c5.757,0,11.316-0.886,16.557-2.512l-0.001,7.988c0,2.62,0.646,5.121,1.824,7.327
						L91.08,351.092z M79.676,316.662c-22.396,0-40.615-18.22-40.615-40.615c0-4.142-3.358-7.5-7.5-7.5c-0.42,0-0.83,0.043-1.231,0.11
						c0.022-0.645,0.043-1.291,0.065-1.93c0.167-5.157,0.328-10.028,0.625-14.206c0.958-13.476,6.343-25.894,15.163-34.968
						c8.899-9.156,20.793-14.198,33.491-14.198s24.591,5.042,33.491,14.198c8.82,9.074,14.205,21.492,15.163,34.968
						c0.296,4.177,0.458,9.047,0.628,14.203c0.015,0.443,0.03,0.892,0.045,1.338c-8.16-12.572-20.762-21.837-37.045-27.069
						c-15.043-4.833-27.981-4.534-28.527-4.52c-1.964,0.055-3.828,0.877-5.191,2.291l-13.532,14.034
						c-2.875,2.982-2.789,7.73,0.193,10.605s7.73,2.788,10.605-0.193l11.26-11.677c9.697,0.474,40.894,4.102,53.027,30.819
						C116.738,302.04,99.816,316.662,79.676,316.662z M111.229,330.819l0.001-8.945c8.725-6.007,15.662-14.457,19.801-24.449
						c0.899,6.458,2.226,12.576,4.27,17.918C132.314,318.983,125.244,325.773,111.229,330.819z M183.403,209.145v-18.608
						c0-1.129-0.255-2.244-0.746-3.261c-4.826-9.994-7.273-20.598-7.273-31.518V139.72c0-31.239,25.415-56.653,56.653-56.653h104.769
						v72.692c0,10.92-2.447,21.524-7.273,31.518c-0.491,1.017-0.746,2.132-0.746,3.261v21.355c0,20.311-8.165,39.15-22.991,53.047
						c-1.851,1.734-3.772,3.36-5.758,4.875c-0.044,0.03-0.086,0.063-0.129,0.094c-13.889,10.545-30.901,15.67-48.667,14.519
						C213.201,281.965,183.403,248.897,183.403,209.145z M225.632,360.056c-0.052,0.052-0.173,0.175-0.418,0.149
						c-0.244-0.024-0.34-0.167-0.381-0.229l-23.325-34.988l7.506-7.887l35.385,24.187L225.632,360.056z M256.095,331.113
						l-40.615-27.762v-14c10.509,5.681,22.276,9.234,34.791,10.044c1.977,0.128,3.942,0.191,5.901,0.191
						c14.341,0,28.143-3.428,40.538-9.935v13.7L256.095,331.113z M287.357,359.978c-0.041,0.062-0.137,0.205-0.381,0.229
						c-0.245,0.031-0.365-0.098-0.418-0.149l-18.767-18.767l35.385-24.188l7.507,7.887L287.357,359.978z M424.308,353.65l-17.02-17.019
						c0.297-1.349,0.465-2.826,0.464-4.455l-0.001-3.165c4.723,1.55,9.701,2.47,14.852,2.624c0.578,0.018,1.151,0.026,1.727,0.026
						c5.692,0,11.248-0.86,16.536-2.501v3.02c0,1.496,0.188,2.962,0.542,4.371L424.308,353.65z M452.591,305.196
						c-7.949,7.714-18.45,11.788-29.537,11.446c-21.704-0.651-39.361-19.768-39.361-42.613v-14.021c0-1.165-0.271-2.313-0.792-3.354
						l-4.633-9.266c-1.697-3.395-2.594-7.195-2.594-10.991v-0.447c0-17.974,14.623-32.596,32.596-32.596h64.673v31.15
						c0,5.034-1.19,10.075-3.441,14.578l-3.786,7.572c-0.521,1.042-0.792,2.189-0.792,3.354v16.038
						C464.924,287.126,460.544,297.478,452.591,305.196z"></path></g></g><g><g><path d="M472.423,380.814c-4.142,0-7.5,3.358-7.5,7.5v48.115c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-48.115
						C479.923,384.173,476.565,380.814,472.423,380.814z"></path></g></g><g><g><path d="M39.577,390.728c-4.142,0-7.5,3.358-7.5,7.5v38.201c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-38.201
						C47.077,394.087,43.719,390.728,39.577,390.728z"></path></g></g><g><g><path d="M317.532,158.475c-28.366-28.366-87.715-22.943-111.917-19.295c-7.623,1.149-13.155,7.6-13.155,15.339v17.278
						c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-17.279c0-0.255,0.168-0.473,0.392-0.507
						c9.667-1.457,28.85-3.705,48.725-2.38c23.388,1.557,40.328,7.428,50.349,17.45c2.929,2.929,7.678,2.929,10.606,0
						C320.461,166.152,320.461,161.403,317.532,158.475z"></path></g></g><g><g><path d="M167.884,396.853c-4.142,0-7.5,3.358-7.5,7.5v32.077c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-32.077
						C175.384,400.212,172.026,396.853,167.884,396.853z"></path></g></g><g><g><path d="M344.306,396.853c-4.142,0-7.5,3.358-7.5,7.5v32.077c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-32.077
						C351.806,400.212,348.448,396.853,344.306,396.853z"></path></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
			</div>
			<div class="heading-content">
				<h2 class="banner-heading">About us</h2>
				<p>Smart Business Solutions… Powered by Intelligent Technologies</p>
			</div>

		</div>
		<svg x="0px" y="0px" viewBox="0 0 1000 78" style="enable-background:new 0 0 1000 78; fill: #ffffff;">
			<g>
				<polygon points="1000,78 1000,0 0,78" />
			</g>
		</svg>
	</div>

	<div class="page-nav">
		<ul>
			<li> <a routerLink="/aboutus/vision"> <span>Vision& Mission</span> <i class="fa fa-eye"></i></a></li>
			<li> <a routerLink="/aboutus/whyMacTec"> <span>Why MacTec</span> <i class="fa fa-question"></i></a></li>
			<li> <a routerLink="/aboutus/leadership"> <span>Leadership</span> <i class="fa fa-flag"></i></a></li>
			<!-- <li> <a href="#contact"> <span>Journey</span> <i class="fa fa-map-marker"></i></a></li> -->
		</ul>
	</div>

	<section class="about_sec1 ">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-12 flex-container flex-pc">
					<img src="/assets/images/banner/service.png" alt="About-us banner" class="img-fluid" style="height:325px;" />
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-12 flex-container flex-ai-c">
					<p> At MacTec we understand that truly innovative ideas come from a smart employee and inspired workforce. We exceed
						the day to day work experience to achieve excellence through our Smart People ( SPpL<sup>®</sup>) . Process (SOpX<sup>®</sup>)
						.Technology (STeH<sup>®</sup>)
					</p>
				</div>
			</div>
		</div>
	</section>
	<svg style="enable-background:new 0 0 1000 78; fill: #f1f1f1;" viewBox="0 0 1000 78" x="0px" y="0px"><g>
			<polygon points="1000,78 0,78 0,0"></polygon>
		</g>
	</svg>

	<section class="about_sec2 gray">
		<div class="container">
			<h2 class="heading"><span>Introduction</span></h2>
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						MacTec Solutions, the name stands for management (MAC) and Technology (TEC) Solutions, is a leading smart business solutions
						services provider, operating from India, USA and Australia. Globalization of talent through Uberization of Workforce
						Smart Technologies. We aim at our clients’ success by optimization of people process and technology.
						<br>
						<br> Founded in 2012 with a passion to provide best in class smart employee consulting services for operations and
						technology, our smart employee solutions from India to our global customers is primarily in the areas of Technology,
						ITES, Finance and Accounting and process re-engineering.
						<br>
						<br> Why Smart Employee Engagement is so important?
						<br>
						<br> We attempt to create an inviting culture and work environment that's encouraging to the spirit of Uberization
						of workforce. Recent studies reveal that while only 33.33 percent of the total employees say they are ‘engaged productively’,
						nearly 66.66 percent employees are ‘not productively engaged’, and over 25 percent are ‘actively disengaged’. Inspired
						leadership will consider for the effective engagement of smart and skilled workforce. Uberization of workforce will
						helps drive skilled workforce engagement. Here’s why it’s such a smart strategy for our business — and for yours as
						well:
						<br>
						<br>
					</p>
					<ul class="abt_intro slide-list">
						<li>
							<p>
								Organizations with highly smart employee engagement experience 50 percent greater productivity
							</p>
						</li>
						<li>
							<p>
								Companies with sustained employee engagement have shown operating margins three times higher than those of companies with
								the lowest levels of engagement
							</p>
						</li>
						<li>
							<p>
								Smart employee engagement and retention cultivate an ethos of mission and purpose
							</p>
						</li>
					</ul>
					<br>
					<p>
						Our success has been built upon having the best software developers, testers and accounting professionals in the industry
						to deliver a set of services tailored to what our clients want and need. We are pioneering industry-specific Smart
						Employee Solutions with focussed emphasis on operational excellence. Delivery of superior standard of service coupled
						with low cost and new age digital practices that enable rapid growth, rich value and specific business outcomes.
						<br>
						<br> We are not mere a vendor providing services to marginalize your cost. We strive to be a domain expert and aim
						to be a partner in success of our customers.
					</p>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abtus_img">
						<img src="/assets/images/banner/team.png" alt="About-us banner" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<svg style="enable-background:new 0 0 1000 78; fill: #f1f1f1;" viewBox="0 0 1000 78" x="0px" y="0px"><g>
			<polygon points="1000,0 0,78 0,0"></polygon>
		</g>
	</svg>


	<section class="about_sec5" id="vision">
		<app-testimonial [data]="visiondata" class="width-100"></app-testimonial>
	</section>


	<svg style="enable-background:new 0 0 1000 78; fill: #f1f1f1;" viewBox="0 0 1000 78" x="0px" y="0px"><g>
			<polygon points="1000,78 0,78 0,0"></polygon>
		</g>
	</svg>
	<section class="about_sec3 gray" id="whyMacTec">
		<div class="container" *ngFor="let sdata of servOffer;">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12">
					<h2 class="heading"><span>Why MacTec</span></h2>
				</div>
				<div class="col-12 col-sm-6 col-md-3 block-container" *ngFor="let siner of sdata.seclist;">
					<h5 class="heading" [innerHTML]="siner.header"></h5>
					<ul class="slide-list">
						<li *ngFor="let listdata of siner.feature">
							<p>
								{{listdata}}
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="about_sec4">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-3 box-container">
					<h5 class="heading">Integrate</h5>
					<ul class="slide-list">
						<li>
							<p>pre-Hire Orientation </p>
						</li>
						<li>
							<p>Buddy Program</p>
						</li>
					</ul>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 box-container">
					<h5 class="heading">Engage</h5>
					<ul class="slide-list">
						<li>
							<p>1-on-1 with Supervisor </p>
						</li>
						<li>
							<p>High Impact Touch Points </p>
						</li>
						<li>
							<p>"Connect" -Family Day</p>
						</li>
					</ul>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 box-container">
					<h5 class="heading">Communicate</h5>
					<ul class="slide-list">
						<li>
							<p>Straight Talk -Q&A </p>
						</li>
						<li>
							<p>Monthly All Associate Townhall </p>
						</li>
						<li>
							<p>Monthly All Manager Meet</p>
						</li>
					</ul>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 box-container">
					<h5 class="heading">Moniter</h5>
					<ul class="slide-list">
						<li>
							<p>Early Warning System </p>
						</li>
						<li>
							<p>Daily Attrition Tracker</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 order-1">
					<img src="/assets/images/whyMactec/why.png" alt="About-us banner" class="img-fluid" />
				</div>
				<div class="col-md-6 allAbt order-0 flex-container flex-jc-c flex-d-c">
					<h3>It's all about</h3>
					<ul class="slide-list">
						<li>How all work gets done.</li>
						<li>How we deliver value to the customer.</li>
						<li>How we strive for continous improvement of our own process as well as our customers.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row preety-boxes">
				<div class="col-12 col-md-12">
					<h3>Benefit working with us</h3>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-box" *ngFor="let data of benefitdata;">
					<div class="p-inner">
						<div class="icon">
							<i class="fa fa-bandcamp" aria-hidden="true"></i>
						</div>
						<div class="content">
							<h5>{{data.heading}}</h5>
							<p [innerHTML]="data.content"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<svg style="enable-background:new 0 0 1000 78; fill: #f1f1f1;" viewBox="0 0 1000 78" x="0px" y="0px"><g>
			<polygon points="1000,78 0,78 0,0"></polygon>
		</g>
	</svg>
	<section class="about_sec8 gray" id="leadership">
		<div class="container">
			<h2 class="heading"><span>Our Leadership</span></h2>
			<!-- Team member -->
			<div class="team-box">
				<div class="row">
					<div class="col-md-4 col-lg-4 col-sm-6 col-12 team" *ngFor="let data of teamdata">
						<!-- <div class="text-center team-img" [ngStyle]="{backgroundImage: 'url('+data.img+')'}"> -->
						<div class="text-center team-img">
						</div>
						<div class="leadership">
							<h4 class="title">{{data.name}}</h4>
							<h5 class="desg"><small><i>{{data.desg}}</i></small></h5>
							<p class="content" [innerHTML]="data.content"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="gray svg-section">
		<svg style="enable-background:new 0 0 1000 78; fill: #032d4d;" viewBox="0 0 1000 78" x="0px" y="0px"><g>
				<polygon points="1000,78 0,78 1000,0"></polygon>
			</g>
		</svg>
	</section>
	<div class="journey-heading">
		<div class="container">
			<h2 class="heading inverse"><span>Our Journey</span></h2>
		</div>
	</div>
	<section class="rocket about_sec9">
		<div class="container rocket-bg"></div>
		<div class="container about_years">
			<div class="yeardata">
				<h4>2017</h4>
				<p>Product Development Support, IT & ITES consulting services offshore centre.</p>
			</div>
			<div class="yeardata">
				<h4>2016</h4>
				<p>Proprietary products launch: Skill Passport, ampmdeals.com and ERP. Govt of AP Contract</p>
			</div>
			<div class="yeardata">
				<h4>2015</h4>
				<p>New Jersey office incorporated – Process re-engineering clients, Smart Business Solutions Products launch. Finance
					and Accounting Projects.
				</p>
			</div>
			<div class="yeardata">
				<h4>2014</h4>
				<p>Signed off UK based client CACI for high end development support, through Yati Solutions </p>
			</div>
			<div class="yeardata">
				<h4>2013</h4>
				<p>Smart Business Solutions launch for India to India operations and converted MacTec as a Private Limited Company</p>
			</div>
			<div class="yeardata">
				<h4>2012</h4>
				<p>The beginning of MacTec journey as Partnership Firm.</p>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 col-md-6 col-sm-12">
					<h4>Our CSR Strategy</h4>
					<p>
						MacTec is devoted to giving back to the community through three key areas that align with our core value
						<br/> Education and Employability – Providing Skill Development trainings and coaching to students from rural parts
						of the state.
						<br/> Community Service – Enabling self-less organisation to garner resources to sustain social welfare activities
					</p>
				</div>

				<div class="col-12 col-lg-6 col-md-6 col-sm-12">
					<h4>Social Citizenship</h4>
					<p>
						We at Mactec aim to improve the quality of life of not only our employees and stakeholders, but also the community which
						is an integral part of our eco system. At MacTec, Corporate Social Responsibility (CSR) plays a critical role in shaping
						our success around the globe. We utilize the energy and forte of our employees and leverage our distinct strengths
						to contribute to the economic, social, and environmental betterment of the communities where we live and work.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>