<footer class="footer-3">
    <div class="container">
      <div class="row">
        <div class="hodes col-md-4 col-sm-12 col-12 rightbar getintouch">
          <h4 class="heading">Where we are</h4>
          <ul class="contact-links flex-container flex-d-c fa-ul">
            <li><i class="fa fa-li fa-envelope fa-fw" aria-hidden="true"></i><a href="mailTo:admin@example.com">info@example.com</a></li>
            <li><i class="fa fa-li fa-phone fa-fw" aria-hidden="true"></i><a href="tel:9999888877">Telephone </a></li>
            <li><i class="fa fa-li fa-map-marker fa-fw" aria-hidden="true"></i>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam corporis voluptatem, ullam cupiditate repellendus
                perferendis.
              </span>
            </li>
          </ul>
        </div>
        <div class="hodes col-md-4 col-sm-12 col-12 rightbar letsworktogether">
          <h4 class="heading">How to connect</h4>
          <div class="social">
            <ul class="social-links flex-container flex-w-w">
              <li class="social-link"><a class="flex-container flex-pc" href="www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-link"><a class="flex-container flex-pc" href="www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-link"><a class="flex-container flex-pc" href="www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li class="social-link"><a class="flex-container flex-pc" href="www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="social-link"><a class="flex-container flex-pc" href="www.github.com" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <form class="form-1">
            <div class="group">
              <!-- <label for="email">Start a Project</label> -->
              <input type="email" id="email" placeholder="Enter your Email id">
              <span class="bar"></span>
              <button class="submit" class="button button-2">Submit</button>
            </div>
          </form>
        </div>
        <div class="hodes col-md-4 col-sm-12 col-12 rightbar getintouch">
          <h4 class="heading">who we are</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam corporis voluptatem, ullam cupiditate repellendus
            perferendis minus voluptates nihil non? Deleniti accusantium labore mollitia voluptatem nemo quidem nulla obcaecati
            optio id.</p>
          <a href="#">Read More</a>
        </div>
        <div class="hodes col-md-4 col-sm-12 col-12 footerlinks">
          <h4 class="heading">Policy</h4>
          <ul class="footer-links">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>
        <div class="hodes col-md-4 col-sm-12 col-12 footerlinks">
          <h4 class="heading">Quick Links</h4>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">how we did</a></li>
            <li><a href="#">what we do</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottombar flex-container flex-w-w">
      <div class="copyright container text-right">
        <p>
          Copyright @ 2018 Kayra Solutions. All rights reserved.
        </p>
      </div>
    </div>
  </footer>