<footer class="footer-3">
  <div class="container">
    <div class="row">

      <div class="hodes col-md-4 col-sm-12 col-12 footerlinks">
        <h4 class="heading">Quick Links</h4>
        <ul class="footer-links">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/allProducts">SBuS Products</a>
          </li>
          <li>
            <a routerLink="/careers">Career</a>
          </li>
          <li>
            <a routerLink="/contact">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="hodes col-md-4 col-sm-12 col-12 rightbar getintouch">
        <h4 class="heading">who we are</h4>
        <p>
            At MacTec we understand that truly innovative ideas come from a smart employee and inspired workforce. We exceed the day to day work experience to achieve excellence through our Smart People ( SPpL<sup>®</sup>) . Process (SOpX<sup>®</sup>) . Technology (STeH<sup>®</sup>)</p>
        <a routerLink="/aboutus">Learn More</a>
      </div>

      <div class="hodes col-md-4 col-sm-12 col-12 rightbar letsworktogether">
        <h4 class="heading">How to connect</h4>
        <div class="social">
          <ul class="social-links flex-container flex-w-w">
            <li class="social-link">
              <a class="flex-container flex-pc" href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-link">
              <a class="flex-container flex-pc" href="https://www.twitter.com" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-link">
              <a class="flex-container flex-pc" href="https://www.instagram.com" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-link">
              <a class="flex-container flex-pc" href="https://www.linkedin.com" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-link">
              <a class="flex-container flex-pc" href="https://www.github.com" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottombar flex-container flex-w-w">
    <div class="copyright container text-right">
      <p>
         &copy; 2018 <a routerLink="/" class="colr_rimary">MacTec IT Solutions</a>. All rights reserved.
      </p>
    </div>
  </div>
</footer>