<div class="container">
  <nav class="topbar topbar-sp">
    <ul class="links">
      <li><a href="https://skillpassport.in/corporate-connect.html" target="_blank" class="link" aria-haspopup="false" title="employer-connect"> Employer Connect</a></li>
      <li><a href="https://skillpassport.in/become-trainer.html" target="_blank" class="link" aria-haspopup="false" title="trainer-connect"> Trainer Connect</a></li>
      <li><a href="https://skillpassport.in/lms/" target="_blank" class="link" aria-haspopup="false" title="login"> Login</a></li>
    </ul>
  </nav>
</div>