<div class="bg-parallax dark pos-relative shape" data-jarallax="{&quot;speed&quot;: 0.4}" style="background-image: none; z-index: 0; background-attachment: scroll; background-size: auto;">
  <div class="parallax-overlay"></div>

  <div class="container pb-30">
    <div class="row align-items-center">
      <div class="col-lg-8 pb-30 ml-auto mr-auto text-center scrollReveal sr-top" data-sr-id="1">
        <h2 class="text-medium mb-3 text-capitalize"> CAREERS</h2>
        <p class="lead">
          At MacTec, your individual aspirations take center stage along with building a strong company future. Come join us to author
          a successful future, together.
        </p>
        <a href="#!">
          <button class="button button-s mt-2">
            Let's work together</button>
        </a>
      </div>
    </div>
  </div>