.card1{
    margin: 50px 0;
	.profile {
		margin-top: 25px;
		h1 {
			font-weight: normal;
			font-size: 20px;
			margin: 10px 0 0 0;
		}
		h2 {
			font-size: 14px;
			font-weight: lighter;
			margin-top: 5px;
		}

		.img-box {
			img{
				transform: scale(0.9);	
			}
			
			.d-mobi-none{
				display: none;
			}
			.w-100{width: 100%;}
			.d-desk-none{
				display: inherit;
				width: 100%;
			}

			.text-box{
				width: 100%;
				p {
					text-align: center;
					opacity: 1;
					font-size: 13px;
					padding: 10px 10px 0px;
				}
				h4 {
					font-weight: bold;
					font-size: 18px;
				}
				h5 {
					font-weight: bold;
					text-align: center;
					font-size: 13px;
				}
				img{
					margin: 0px;
				}
			}
		}
        .box-1{
			height:452px;
		}

   		.img-hgt{
			   height:315px;
		}
	}
	.d-desk-hide{
		display: inherit !important;
	}
	.d-mobi-none{
		display: none;
	}
	.mar_t2{
		margin-top: 0;
	}
}


@media only screen and (min-width: 1020px){
	.card1{
		.mar_t2{margin-top: 25px;}
		margin: 50px 0;
		.box-1{
			height:500px !important;
		}
		.pt-md{
			&>div{
				.img-box{
					transition: 0.2s all ease-in-out;
					transform: scale(1);
					&:hover{
						transform: rotateY(0deg) scale(1.1);					
					}
					.d-mobi-none{
						display: inherit;
					}
					.d-desk-none{
						display: none;
					}
				}
			}
		}
		.profile {
			margin-top: 25px;
			h1 {
				font-weight: normal;
				font-size: 20px;
				margin: 10px 0 0 0;
			}
			h2 {
				font-size: 14px;
				font-weight: lighter;
				margin-top: 5px;
			}
			.img-box {
				overflow: hidden;
				opacity: 1;
				display: block;
				position: relative;
				&:after {
					content: "";
					opacity: 0;
					position: absolute;
					right: 0;
					left: 0;
					top: 0;
					bottom: 0;
					transition: all 0.3s ease-in-out 0s;
				}
				img{
					transition: all 0.3s ease-in-out 0s;
					filter: blur(0px) brightness(1);
					transform: scale(1);	
				}
				
		
				.text-box{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) scale(0.9);
					width: 95%;
					z-index: 100;
					opacity: 0;
					visibility: hidden;
					transition: .3s all ease-in-out;
					p {
						font-weight: bold;
						text-align: center;
						opacity: 1;
						font-size: 12px;
						padding: 20px;
					}
					h4 {
						font-weight: bold;
					}
					h5 {
						font-weight: bold;
						text-align: center;
						a {
							transition: all 0.3s ease-in-out 0s;
						}
					}
				}
		
				&:hover{
					img{
						filter: blur(3px) brightness(0.4);
						transform: scale(1.1);	
					}
					.text-box{
						opacity: 1;
						visibility: visible;
					}
					&::after {
						opacity: 0.5 !important;
					}
				}
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
		.d-desk-hide{
			display: none !important;
		}
		.d-mobi-none{
			display: inherit;
		}
	}
}

.capbilityCard{
   
    border: 1px solid #cecece;
    border-radius: 13px; 
    transform: rotateY(20deg) skewY(-10deg);
    box-shadow:-15px 1px 4px rgba(189, 189, 189, 0.46);
	transition: 0.5s ease-in-out;
	p{
		display: none;
	}
	.img-Width {
		width: 100%;
		height: 300px;
	}
}
.capbilityCard:hover{
    transform: rotateY(0deg) skewY(0deg) scale(1.1);
    box-shadow: 0 7px 3px #ddd;
	p{
		display: block;
		position: absolute;
		top: 0;
		background: #f07615db;
		width: 100%;
		left: 0;
		padding: 91px 0 0px 5px;
		color: #fff;
		height: 46vh;
		text-align: center;

	}
	.img-Width:hover {
		filter:grayscale(100%);
	}
}

@media only screen and (max-width:768px){
	.capbilityCard{
		border: 1px solid #cecece;
		border-radius: 13px; 
		transform: rotateY(0deg) skewY(0deg);
		box-shadow:none;
		transition: 0.5s ease-in-out;
		p{
			display: none;
		}
		.img-Width {
			width: 100%;
			height: 300px;
		}
	}
}