.card1{
	.heading {
		color: var(--quinary-color);
	}
	.profile {
		margin-top: 25px;
		h2 {
			font-size: 14px;
			font-weight: lighter;
			margin-top: 5px;
		}

		.img-box {
			img{
				transform: scale(0.9);	
			}
			
			.d-mobi-none{
				display: none;
			}
			
			.d-desk-none{
				display: inherit;
			}

			.text-box{
				width: 100%;
				p {
					text-align: center;
					opacity: 1;
					font-size: 13px;
					padding: 10px 10px 0px;
				}
				h4 {
					font-size: 1.25rem;
				}
				h5 {
					text-align: center;
				}
				img{
					margin: 0px;
				}
			}
		}
	}
}


@media only screen and (min-width: 1020px){
	.card1{
		margin: 50px 0;
		.pt-md{
			&>div{
				.img-box{
					transition: 0.2s all ease-in-out;
					transform: scale(1);
					.d-mobi-none{
						display: inherit;
						width: 100%;
						height: 300px;
					}
					.d-desk-none{
						display: none;
					}
				}
			}
		}
		.profile {
			margin-top: 25px;
			h2 {
				font-size: 14px;
				font-weight: lighter;
				margin-top: 5px;
			}
			.img-box {
                img{
                    transform: scale(1);	
                }

                overflow: hidden;
				opacity: 1;
				display: block;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 0;
                    top: 250px;
                    width: 100%;
                    height: 100%;
                    transition: all 0.2s ease-in-out 0s;
				}

                
				.text-box{
                    position: absolute;
                    left: 50%;
                    top: 260px;
                    transform: translate(-50%, 0%);
                    width: 95%;
                    z-index: 100;
					transition: .2s all ease-in-out;
					p {
						text-align: center;
						opacity: 1;
						font-size: 1rem;
						padding: 20px;
					}
					h4 {
						font-size: 1.25rem;
					}
					h5 {
						text-align: center;
						a {
							transition: all 0.3s ease-in-out 0s;
						}
					}
				}
		
				&:hover{
					.text-box{
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &::after {
                        top: 0px;
					}
				}
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}