<!-- <section class="team card1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 flex-container flex-jc-c">
        <h2 class="heading">Our Capabilities</h2>
      </div>
      <div class="col-lg-12">
        <div class="row pt-md">
          <div *ngFor="let data of carddata" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
            <div class="img-box">
              <div class="text-box flex-container flex-pc flex-d-c">
                <h4 class="text-center" [innerHTML]="data.heading"></h4>
                <img src="{{data.img}}" class="img-fluid d-desk-none" alt="card image for component">
                <p>{{data.content}}</p>
                <h5 *ngIf="data.type=='page'"><a routerLink="{{data.link}}">{{data.readLink}}</a></h5>
                <h5 *ngIf="data.type=='web'"><a href="{{data.link}}" target="_blank">{{data.readLink}} <img src="{{data.redirect}}" style="width: 12px;"/></a></h5>
              </div>
              <img src="{{data.img}}" class="img-fluid d-mobi-none" alt="card image for component">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container boxes">
  <h2 class="heading text-center"><span>Our Capabilities</span></h2>
  <div class="row">
    <div *ngFor="let data of carddata" class="col-6 col-sm-6 col-sm-4 col-lg-4 out-box">
      <div class="box" [ngStyle]="{backgroundImage: 'url('+data.img+')'}">
        <div class="box-overlay" style="background-color: var(--secondary-color);"></div>
        <div class="text-content">
          <h3 [innerHTML]="data.heading"></h3>
          <p [innerHTML]="data.content"></p>
          <a [routerLink]="data.link" *ngIf="data.type!='web' && data.type!='none'">Learn more </a>
          <a href="{{data.link}}" target="_blank" *ngIf="data.type=='web' && data.type!='none'">Learn more <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>