<section class="team ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="text-center">
          <h2 class="display-4">Our Capabilities</h2>
        </div>
        <!-- <div class="col-lg-12 card1">
          <div class="row pt-md">
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 profile">
              <div class="img-box box-1">
                <div class="text-box flex-container flex-pc flex-d-c">
                  <h4 class="text-center">Mobile Application Development</h4>
                  <img src="/assets/images/coursesImages/itcomp.jpg" style="width:100%;" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                  <p>Team of experienced enterprise application developers having strong track record on building native applications on Android & iOS ...</p>
                  <h5><a [routerLink]="['courses','domain']">Learn More</a></h5>
                </div>
                <img src="/assets/images/coursesImages/itcomp.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
              </div>

         
                <div class="img-box box-4 mar_t2">
                    <div class="text-box flex-container flex-pc flex-d-c">
                      <h4 class="text-center">Technology Services</h4>
                      <img src="/assets/images/coursesImages/technology_services.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                      <p>We work with a range of clients across the globe hailing from a diverse array of industries and needs. Our team is highly-skilled ...</p>
                      <h5><a [routerLink]="['courses','life']"> Learn More</a></h5>
                    </div>
                    <img src="/assets/images/coursesImages/technology_services.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
                  </div>
                    <div class="img-box box-5 d-desk-hide">
                        <div class="text-box flex-container flex-pc flex-d-c">
                          <h4 class="text-center">Application Development</h4>
                          <img src="/assets/images/coursesImages/quantitative-aptitude.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                          <p>Team of certified experts with extensive experience in developing cutting edge products on Java and Dot Net applications with expertise on ...</p>
                          <h5><a [routerLink]="['courses','cognitive']">Learn More</a></h5>
                        </div>
                        <img src="/assets/images/coursesImages/quantitative-aptitude.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
                      </div>
                      <div class="img-box box-4 d-desk-hide">
                        <div class="text-box flex-container flex-pc flex-d-c">
                          <h4 class="text-center">Administrative</h4>
                          <img src="/assets/images/coursesImages/body-language.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                          <p>Team with strong organizational skills and specialized in HR and Recruitment</p>
                          <h5><a [routerLink]="['courses','life']">Learn More</a></h5>
                        </div>
                        <img src="/assets/images/coursesImages/body-language.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
                      </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 profile">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
              <div class="img-box box-2">
                <div class="text-box flex-container flex-pc flex-d-c">
                  <h4 class="text-center">Web Development</h4>
                  <img src="/assets/images/coursesImages/mis.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                  <p>Our technical expertise lies in state-of-the-art UI Design, Web Design, UI/UX, and Graphic Design. With certified CMS Developers onboard ...</p>
                  <h5><a [routerLink]="['courses','domain']">Learn More</a></h5>
                </div>
                <img src="/assets/images/coursesImages/mis.jpg" class="img-fluid d-mobi-none  w-100" alt="card image for component">
              </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
              <div class="img-box box-3">
                <div class="text-box flex-container flex-pc flex-d-c">
                  <h4 class="text-center">Software Testing</h4>
                  <img src="/assets/images/coursesImages/gst.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                  <p> We’re a team of software testing and quality assurance experts packed with practical and technical knowledge and  a keen eye for detail.</p>
                  <h5><a [routerLink]="['courses','domain']">Learn More</a></h5>
                </div>
                <img src="/assets/images/coursesImages/gst.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
              </div>
              </div>

              </div>
         
              </div>


              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar_t2">
              <div class="img-box box-6">
                  <div class="text-box flex-container flex-pc flex-d-c">
                    <h4 class="text-center">Finance and Accounting</h4>
                    <img src="/assets/images/coursesImages/resume.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                    <p>We leverage our deep F&A functional expertise through Operational Excellence and efficient delivery model.</p>
                    <h5><a [routerLink]="['courses','employability']">Learn More</a></h5>
                  </div>
                  <img src="/assets/images/coursesImages/resume.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
                </div>
</div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar_t2">
                  <div class="row">
                      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12  d-mobi-none">
                          <div class="img-box box-4">
                              <div class="text-box flex-container flex-pc flex-d-c">
                                <h4 class="text-center">Administrative</h4>
                                <img src="/assets/images/coursesImages/body-language.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                                <p>Team with strong organizational skills and specialized in HR and Recruitment</p>
                                <h5><a [routerLink]="['courses','life']">Learn More</a></h5>
                              </div>
                              <img src="/assets/images/coursesImages/body-language.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
                            </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 d-mobi-none">
                                    <div class="img-box box-5">
                                        <div class="text-box flex-container flex-pc flex-d-c">
                                          <h4 class="text-center">Application Development</h4>
                                          <img src="/assets/images/coursesImages/quantitative-aptitude.jpg" class="img-fluid d-desk-none w-100 img-hgt" alt="card image for component">
                                          <p>Team of certified experts with extensive experience in developing cutting edge products on Java and Dot Net applications with expertise ...</p>
                                          <h5><a [routerLink]="['courses','cognitive']">Learn More</a></h5>
                                        </div>
                                        <img src="/assets/images/coursesImages/quantitative-aptitude.jpg" class="img-fluid d-mobi-none w-100" alt="card image for component">
                                      </div>
                                </div>
                  
                                </div>
                           
                                
                           
                               
                                </div>

       


           

</div>




            </div>
          </div>
        </div> -->
        
      </div>
    </div>
    <div class="row space-30">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card capbilityCard">
        <img src="/assets/images/coursesImages/itcomp.jpg" class="card-img-top img-Width"/>
        <div class="card-body">
          <h5>Mobile Development</h5>
          <p>Team of experienced enterprise application developers having strong track record on building native applications on Android & iOS ...</p>
          <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card capbilityCard">
        <img src="/assets/images/coursesImages/technology_services.jpg" class="card-img-top img-Width"/>
        <div class="card-body">
          <h5>Technology Services</h5>
          <p>We work with a range of clients across the globe hailing from a diverse array of industries and needs. Our team is highly-skilled ...</p>
          <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card capbilityCard">
        <img src="/assets/images/coursesImages/quantitative-aptitude.jpg" class="card-img-top img-Width"/>
        <div class="card-body">
          <h5>Application Development</h5>
          <p>Team of certified experts with extensive experience in developing cutting edge products on Java and Dot Net applications with expertise on ...</p>
          <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card capbilityCard">
          <img src="/assets/images/coursesImages/body-language.jpg" class="card-img-top img-Width"/>
          <div class="card-body">
            <h5>Administrative</h5>
            <p>Team with strong organizational skills and specialized in HR and Recruitment</p>
            <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
          </div>
        </div>
        </div>
    </div>
    <div class="row space-50 justify-content-center">
       
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card capbilityCard">
          <img src="/assets/images/coursesImages/mis.jpg" class="card-img-top img-Width"/>
          <div class="card-body">
            <h5>Web Development</h5>
            <p>Our technical expertise lies in state-of-the-art UI Design, Web Design, UI/UX, and Graphic Design. With certified CMS Developers onboard ...</p>
            <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
          </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card capbilityCard">
          <img src="/assets/images/coursesImages/gst.jpg" class="card-img-top img-Width"/>
          <div class="card-body">
            <h5>Software Testing</h5>
            <p>We’re a team of software testing and quality assurance experts packed with practical and technical knowledge and  a keen eye for detail.</p>
            <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
          </div>
        </div>
        </div>
      <!-- </div>
      <div class="row space-30"> -->
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card capbilityCard">
            <img src="/assets/images/coursesImages/resume.jpg" class="card-img-top img-Width"/>
            <div class="card-body">
              <h5>Finance and Accounting</h5>
              <p>Team with strong organizational skills and specialized in HR and Recruitment</p>
              <small class="pull-right"><a [routerLink]="['courses','domain']">Learn More</a></small>
            </div>
          </div>
          </div>
         
        </div>
  </div>
</section>