<div class="counter-wrapper counter-sp">
  <div class="counter">
    <div class="flex-container flex-pc">
      <div class="flex-container container-fluid css_counter flex-jc-sa flex-w-w">
        <div class="count flex-container flex-pc flex-d-c padding-20">
          <div class="css_counter_font">
            259
          </div>
          <div class="vl">
            Organizations
          </div>
        </div>
        <div class="count flex-container flex-pc flex-d-c padding-20">
          <div class="css_counter_font">
            180
          </div>
          <div class="vl">
            Trainers
          </div>
        </div>
        <div class="count flex-container flex-pc flex-d-c padding-20">
          <div class="css_counter_font">
            1800
          </div>
          <div class="vl">
            Avilable Jobs
          </div>
        </div>
        <div class="count flex-container flex-pc flex-d-c padding-20">
          <div class="css_counter_font">
            159
          </div>
          <div class="vl">
            Jobseekers
          </div>
        </div>
        <div class="count flex-container flex-pc flex-d-c padding-20">
          <div class="css_counter_font">
            2000
          </div>
          <div class="vl">
            Tranings
          </div>
        </div>
      </div>
    </div>
  </div>
</div>