<div class="backimg width-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 flex-container flex-pc">
          <div class="">
            <h3>Skill Passport</h3>
            <p>Skill Passport is the gateway to a career that every student aspires for. It’s an intuitive digital platform that leverages result driven assessment and sustainable learning. Recognizing the apparent gap between the requisite skills and the existing competencies, Skill Passport bridges the disparity.</p>
            <p>Our programs cater to IT, ITES and Finance & Accounting domain keeping in sync with the updated industry requirement and global standards.</p>
            <!-- <div >
              <button class="button button-1" >View More</button> 
            </div> -->
          </div>
        </div>
        <div class="col-md-6 flex-container flex-pc">
          <img src="/assets/images/banner/info-graphic.png" class="abutInfograph img-fluid" alt="Skill Passport career map Image" >
        </div>
      </div>
    </div>
  </div>