@keyframes arrowLineRotation {
		to {
			transform: rotate(180deg);
		}
	}
	@keyframes arrowLineRotationRev {
		to {
			transform: rotate(-180deg);
		}
	}


	.carousel-control-prev-icon{
		background: url("src/assets/images/icons/left_arrow.png");
		background-repeat: no-repeat;
	}
	.carousel-control-next-icon{
		background: url("src/assets/images/icons/right_arrow.png");
		background-repeat: no-repeat;
		right: 40px;
		position: absolute;
	}
	.carousel-control-next-icon, .carousel-control-prev-icon{	
	display: inline-block;
    width: 40px;
    height: 50px;
	background-size: 70% 100%;
	// background-color: var(--primary-background-color);
	 padding: 15px; 
	// border: 1px #ccc solid; border-radius: 35%;

// &:hover{
// 	// background-color: var(--primary-background-color);
// 	background-size: 100%;
// 	transition: 5ms ;
// }

}	

.slide-content {
	position: absolute;
	left: 5%;
	top: 14%;
	margin-left: 0;
	margin-top: 48px;
	max-width: 600px;
	text-align: center;
	color: #fff;
}


@media only screen and (min-width: 1024px) {
	

	.slide-content {
		position: absolute;
		left: 35%;
		top: 35%;
		margin-left: -30px;
		margin-top: 48px;
		max-width: 600px;
		text-align: center;
		color: #fff;
	}
		.slide-heading {
			margin-bottom: 20px;
			font-size: 50px;
			text-shadow: rgb(0, 0, 0) 2px 2px 4px;
		}
		.slide-text {
			font-size: 25px;
			text-shadow: rgb(0, 0, 0) 2px 2px 4px;
			a {
				color: #fff;
			}
		}

				.carousel-item{ 
					height:600px;
				}

				.carousel-control-prev {
					left: -40px;
				}


			}




// @color_1: #fff;
// @color_2: inherit;
// @font_family_1: Helvetica, Arial, sans-serif;
// @background_color_1: var(--primary-background-color);
// @background_color_2: #e2e2e2;
// @background_color_3: #fff;

// @keyframes arrowLineRotation {
// 	to {
// 		transform: rotate(180deg);
// 	}
// }
// @keyframes arrowLineRotationRev {
// 	to {
// 		transform: rotate(-180deg);
// 	}
// }
// html {
// 	height: 100%;
// }
// body {
// 	height: 100%;
// 	overflow: hidden;
// 	font-family: @font_family_1;
// }
// * {
// 	box-sizing: border-box;
// 	margin: 0;
// 	padding: 0;
// 	&:before {
// 		box-sizing: border-box;
// 		margin: 0;
// 		padding: 0;
// 	}
// 	&:after {
// 		box-sizing: border-box;
// 		margin: 0;
// 		padding: 0;
// 	}
// }
// .slider {
// 	position: relative;
// 	height: 100vh;
// }
// .slider__slides {
// 	z-index: 1;
// 	position: relative;
// 	height: 100%;
// }
// .slider__control {
// 	z-index: 2;
// 	position: absolute;
// 	top: 50%;
// 	left: 5%;
// 	width: 60px;
// 	height: 60px;
// 	margin-left: -30px;
// 	margin-top: -30px;
// 	border-radius: 50%;
// 	background: #fff;
// 	transition: background-color 0.3s;
// 	cursor: pointer;
// 	&:hover {
// 		background-color: @background_color_1;
// 		.slider__control-line {
// 			&:after {
// 				background-color: @background_color_3;
// 			}
// 		}
// 	}
// }
// .slider__control--right {
// 	left: 95%;
// 	.slider__control-line {
// 		left: 37px;
// 		transform-origin: 1px 0;
// 		transform: rotate(45deg);
// 		&:nth-child(2) {
// 			transform: translateY(1px) rotate(135deg);
// 		}
// 	}
// }
// .slider__control-line {
// 	position: absolute;
// 	left: 23px;
// 	top: 50%;
// 	width: 3px;
// 	height: 14px;
// 	transform-origin: 50% 0;
// 	transform: rotate(-45deg);
// 	&:nth-child(2) {
// 		transform: translateY(1px) rotate(-135deg);
// 	}
// 	&:after {
// 		content: "";
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		width: 100%;
// 		height: 100%;
// 		background-color: @background_color_2;
// 		transition: background-color 0.3s;
// 	}
// }
// .slider__control.a--rotation {
// 	.slider__control-line {
// 		&:after {
// 			animation: arrowLineRotation 0.49s;
// 		}
// 		&:nth-child(1) {
// 			&:after {
// 				animation: arrowLineRotationRev 0.49s;
// 			}
// 		}
// 	}
// }
// .slide {
// 	overflow: hidden;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	width: 150vmax;
// 	height: 100%;
// 	transform: translate(-50%, -50%);

// 	transition: clip-path 0s 0.91s;
// 	clip-path: circle(30px at 120vw 50%);
// 	&:nth-child(1) {
// 		.slide__inner {
// 			background-image: url("src/assets/images/banner/banner1.jpg");
// 		}
// 	}
// 	&:nth-child(2) {
// 		.slide__inner {
// 			background-image: url("src/assets/images/banner/banner3.jpg");
// 		}
// 	}
// 	&:nth-child(3) {
// 		.slide__inner {
// 			background-image: url("src/assets/images/banner/banner4.jpg");
// 		}
// 	}
// 	&:nth-child(4) {
// 		.slide__inner {
// 			background-image: url("src/assets/images/banner/banner1.jpg");
// 		}
// 	}
// 	&:nth-child(5) {
// 		.slide__inner {
// 			background-image: url("src/assets/images/banner/banner3.jpg");
// 		}
//     }
//     &:nth-child(6) {
// 		.slide__inner {
// 			background-image: url("src/assets/images/banner/banner3.jpg");
// 		}
// 	}
// }

// .addbrd{	border-radius: 0 0 50% 50%;}
// .slide.s--prev {
// 	clip-path: circle(30px at 30vw 50%);
// }
// .slide.s--active {
// 	z-index: 1;
// 	transition: clip-path 1.3s;
// 	clip-path: circle(120vmax at 120vw 50%);
// }
// .slide.s--active.s--active-prev {
// 	clip-path: circle(120vmax at 30vw 50%);
// }
// .slide__inner {
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	width: 100vw;
// 	height: 100vh;
// 	margin-left: -50vw;
// 	margin-top: -50vh;
// 	background-size: cover;
// 	background-position: center center;
// 	&:before {
// 		content: "";
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		width: 100%;
// 		height: 100%;
// 		background: rgba(0, 0, 0, 0.3);
// 	}
// }
// .slide__content {
//     position: absolute;
//     left: 35%;
//     top: 35%;
//     margin-left: -30px;
//     margin-top: 48px;
//     max-width: 600px;
//     text-align: center;
// 	color: @color_1;
// }
// .slide__heading {
// 	margin-bottom: 20px;
// 	font-size: 50px;
// }
// .slide__text {
// 	font-size: 25px;
// 	a {
// 		color: @color_2;
// 	}
// }
// #wrap {
// 	.col {
// 		float: left;
// 		a {
// 			text-decoration: none;
// 		}
// 	}
// }
