<div id="MiddleCarousel" class="carousel slide UACarousel" data-ride="carousel">
 
  <ol class="carousel-indicators">
    <li data-target="#MiddleCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#MiddleCarousel" data-slide-to="1"></li>
    <li data-target="#MiddleCarousel" data-slide-to="2"></li>
    <li data-target="#MiddleCarousel" data-slide-to="3"></li>
     <li data-target="#MiddleCarousel" data-slide-to="4"></li> 
    <!-- <li data-target="#MiddleCarousel" data-slide-to="5"></li> -->
  </ol>
  <div class="carousel-inner banner_alltogether">
      <div class="overlay">
      <div class="container">
    <div class="carousel-item active">
      <div class="slide-content">
        <h2 class="slide-heading wow pulse"  data-wow-iteration="5" data-wow-duration="0.15s" >SMART BUSINESS SOLUTIONS</h2>
        <div class="box-shwd">
          <h4>Connecting the world through technology <span class="brd_bbt"></span></h4>
          <p class="slide-text">Our Success quotient lies in our customer's success.
            <br> Our smart solutions are meant to marginalize cost and optimize process efficiency.</p>
          <ul  class="fa-ul">
            <li > <i class="fa fa-check-square-o" aria-hidden="true"></i> Focussed emphasis on Operational Excellence </li>
            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> New age digitized practices to enable rapid growth</li>
            <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Best in class business solutions for accelerated success</li>
          </ul>
        </div>
      </div>
      <div class="slide-imag"> 
          <img _ngcontent-c8="" alt="First slide" class="d-block " src="./../../assets/images/banner/slide-2.png" style="
              width: 60%;
              float: right;
              z-index: 0;
          "></div>
     
    
    </div>
    

    <div class="carousel-item">
        <div class="slide-content">
          <h2 class="slide-heading">FINANCE & ACCOUNTING</h2>
          <div class="box-shwd">
            <h4>Reliable Solutions for all your Finance & Accounting Offshoring <span class="brd_bbt"></span></h4>
            <p class="slide-text">With rich experience in end-to-end process of Finance & Accounting processes, We aim at managing the entire vertical 
                through our robust operations</p>
            <ul>
              <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Efficient F&A Operations </li>
              <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Governance framework</li>
              <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Cross functional and end-to-end expertise</li>
            </ul>
          </div>
        </div>
        <div class="slide-imag"> 
            <img _ngcontent-c8="" alt="First slide" class="d-block " src="./../../assets/images/banner/slide-5.png" style="
                width: 71%;
                float: right;
                z-index: 0;
            "></div>
    
      </div>

      <div class="carousel-item ">
          <div class="slide-content">
            <h2 class="slide-heading">TECHNOLOGY SOLUTIONS</h2>
            <div class="box-shwd">
              <h4>Cutting edge technology solutions for your business needs <span class="brd_bbt"></span></h4>
              <p class="slide-text"> Our foundation of efficiency is robust and apprised state of technological solutions
                  that brings quantifiable value to our customers</p>
              <ul>
                <li> <i class="fa fa-check-square-o" aria-hidden="true"></i> Smart products and applications </li>
                <li> <i class="fa fa-check-square-o" aria-hidden="true"></i> Automation and process improvements to enhance businesses</li>
                <li> <i class="fa fa-check-square-o" aria-hidden="true"></i> Customizations and tailor made solutions</li>
              </ul>
            </div>
          </div>
          <div class="slide-imag"> 
              <img _ngcontent-c8="" alt="First slide" class="d-block " src="./../../assets/images/banner/slide-1.png" style="
                  width: 61%;
                  float: right;
                  z-index: 0;
              "></div>
         
        </div>

      <div class="carousel-item ">
          <div class="slide-content">
            <h2 class="slide-heading">SKILL PASSPORT</h2>
            <div class="box-shwd">
              <h4>Learning Managment solutions <span class="brd_bbt"></span></h4>
              <p class="slide-text">Skill Passport is the gateway to a career that every student aspires for. It's an intutive digital platform that leverages result driven assessment and sustainable learning.
                </p>
                <p class="slide-text">Recognizing the apparent gap between the requisite skills and the existing competencies, Skill Passport bridges the disparity.</p>
<a href="https://skillpassport.in/" class="button button-s pull-left">Know more</a>
            </div>
          </div>
          <div class="slide-imag"> 
              <img _ngcontent-c8="" alt="First slide" class="d-block " src="./../../assets/images/banner/slide-4.png" style="
                  width: 71%;
                  float: right;
                  z-index: 0;
              "></div>
         
        </div>


        <div class="carousel-item ">
            <div class="slide-content">
              <h2 class="slide-heading">ADOBE EXPERIENCE MANAGER EXPERTS</h2>
              <div class="box-shwd">
                <h4>Adobe Community Partner <span class="brd_bbt"></span></h4>
              
                  <p class="slide-text">Adobe Experience Manager brings artificial intelligence and the scale and security of the cloud to content management, letting you build powerful and personal experiences for your whole audience on any screen.</p>
 
              </div>
            </div>
            <div class="slide-imag"> 
                <img _ngcontent-c8="" alt="First slide" class="d-block " src="./../../assets/images/banner/slide-6.png" style="
                    width: 63%;
                    float: right;
                    z-index: 0;
                "></div>
            <!-- <div class="banner_alltogether">
        <img class="d-block w-100 sliderr" src="./../../assets/images/banner/all.JPG" alt="First slide"> 
          </div>
          <div class="overlay"></div> -->
          </div>
</div>
  </div>
  <a class="carousel-control-prev" href="#MiddleCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#MiddleCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>