<div class="slider">
        <!-- slides -->
        <div class="slider__slides">
          <div class="slide s--active">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Smart Business Solutions</h2>
                <p class="slide__text">Connecting the world through technology</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Technology Solutions</h2>
                <p class="slide__text">Cutting edge technology solutions for your business needs</p>
              </div>
            </div>
          </div>
          <div class="slide ">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Finance & Accounting</h2>
                <p class="slide__text">Reliable Solutions for all your Finance & Accounting Offshoring</p>
              </div>
            </div>
          </div>
          <div class="slide  s--prev">
              <div class="slide__inner">
                <div class="slide__content">
                    <h2 class="slide__heading">Smart Business Solutions</h2>
                    <p class="slide__text">Connecting the world through technology</p>
                </div>
              </div>
            </div>
          <!-- <div class="slide">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Limited browser support</h2>
                <p class="slide__text">Forget about IE/Edge and FF</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Check my other stuff!</h2>
                <p class="slide__text"><a href="https://codepen.io/suez/pens/public/" target="_blank">Other demos</a> and <a href="https://twitter.com/NikolayTalanov" target="_blank">Twitter</a></p>
              </div>
            </div>
          </div> -->
        </div>
        <!-- slides end -->
        <div class="slider__control">
          <div class="slider__control-line"></div>
          <div class="slider__control-line"></div>
        </div>
        <div class="slider__control slider__control--right m--right">
          <div class="slider__control-line"></div>
          <div class="slider__control-line"></div>
        </div>
      </div>