<div class="page-banner" style="background-color: var(--quinary-background-color)">
    <div class="banner-content container">
        <h2 class="banner-heading">Business re-engineering</h2>
    </div>
</div>
<div class="space-40"></div>
<div class="how-section1 container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Business RE-Engineering</h4>
            </div>
            <div class="col-md-8">
                <div class="bg_services col-count">
                    <p>Business process re-engineering (BPR) is the analysis and redesign of workflows within and between enterprises
                        in order to optimize end-to-end processes and automate non-value-added tasks. Our team of experts
                        bring core competency in the areas of Operational Excellence and Business Transformation through
                        their core business insight and experience. Our methodology focuses on radical redesign and reorganization
                        of an enterprise to lower costs and increase quality of service and that information technology is
                        the key enabler for that radical change.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mhalf">
                    <h4>Our Key Methodology for Business RE-Engineering encompasses 7 key philosophies</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bg_services">
                    <ul class="checklist fa-ul">
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Organize around outcomes, not tasks</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Identify all the processes in an organization and prioritize them in order of redesign
                                urgency.
                            </div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Integrate information processing work into the real work that produces the information.</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Treat geographically dispersed resources as though they were centralized.</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Link parallel activities in the workflow instead of just integrating their results.</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Put the decision point where the work is performed, and build control into the process.</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Capture information once and at the source.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Some projects that we managed for clients</h4>
            </div>
            <div class="col-md-8">
                <div class="bg_services">
                    <ul class="checklist fa-ul">
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Improving Employee Output</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Reduction of activity cycle time</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Revenue optimization</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Improve sales volume</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Streamline Payroll function</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Set-up Asset Management process</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Enhance manpower utilization</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Our 5 key focus areas</h4>
            </div>
            <div class="col-md-8">
                <div class="bg_services h_320">
                    <ul class="checklist fa-ul">
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Strategic Alignment</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Project Management</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Process Architecture</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Process Excellence</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Change Management</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Process excellence foundations</h4>
            </div>
            <div class="col-md-8">
                <div class="bg_services h_320">
                    <ul class="checklist fa-ul">
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> 5S for Structure</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Kaizen for Overview & Insight</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Lean for Stability</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> 6 Sigma for Capability enhancement</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> DFSS for robust and consistent operations and delivery

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>How does it help you?</h4>
            </div>

            <div class="col-md-8">
                <div class="bg_services h_320">
                    <ul class="checklist fa-ul">
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Efficient data visualisation</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Business intelligence through data</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Real time tracking of KPIs</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Control on process health and hygiene</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Real time data analytics</div>
                        </li>
                        <li>
                            <div class="flex-container">
                                <i class="fa fa-angle-right fa-fw fa-li"></i> Improves controllership</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="space-60"></div>