.video-section{
    height: 400px;
    width: 100%;
    left: 0px;
    top: 0px;
}
.content-subscription{
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#subscription-form{
    padding: 100px 0px;
    .content-subscription{
        h4{
            margin: 20px 0px;
        }
    }
}