<div class="why-mactec">
  <div class="page-banner" style="background-color: var(--quinary-background-color)">
    <div class="banner-content container">
      <h2 class="banner-heading">Process Excellence</h2>
      <p>Smart Business Solutions… Powered by Intelligent Technologies</p>
    </div>
  </div>

  <div class="space-60"></div>
  <section class="aboutContent">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Our methodology helps integrate design, transform, and run</h2>
          <div id="demo" class="carousel slide space-30" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h4>Smart Strategy</h4>
                <p>Internal and external insights used to address market, growth, and risk challenges</p>
              </div>
              <div class="carousel-item">
                <h4>Smart Design</h4>
                <p>Transparent and consistent to support smart decisions, strengthen control, and speed adoption</p>
              </div>
              <div class="carousel-item">
                <h4>Smart Delivery</h4>
                <p>Recognize global leverage and forward-thinking target operating models</p>
              </div>
            </div>
          </div>
          <!--   <ul>
            <li>
              <h4>Smart Strategy</h4>
              <p>Internal and external insights used to address market, growth, and risk challenges</p>
            </li>
            <li>
                <h4>Smart Design</h4>
                <p>Transparent and consistent to support smart decisions, strengthen control, and speed adoption</p>
            </li>
            <li>
                <h4>Smart Delivery</h4>
                <p>Recognize global leverage and forward-thinking target operating models</p>
            </li>
          </ul> -->
        </div>
        <div class="col-md-6 text-center">
          <img src="../../../assets/images/banner/ourMethodology.png" class="img-fluid  methodologiesImage" />
        </div>
      </div>
    </div>
  </section>
  <div class="space-40"></div>
  <section class="">
    <div class="container">
      <h2>OUR SERVICES</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="our-services-wrapper mb-60 css_14 ">
            <div class="services-inner ">
              <div class="our-services-img">
                <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px"
                  alt="">
              </div>
              <div class="our-services-text">
                <h4 class="text-center"><strong>Brief us</strong></h4>
                <p class="text-center">Send us your job Requirement</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-services-wrapper mb-60 css_14">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px"
                  alt="">
              </div>
              <div class="our-services-text">
                <h4 class="text-center"><strong>Pick Best Resumes</strong></h4>
                <p class="text-center">We send you resume of screened and shortlisted candidates</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-services-wrapper mb-60 css_14">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px"
                  alt="">
              </div>
              <div class="our-services-text">
                <h4 class="text-center"><strong>Choose your Team</strong></h4>
                <p class="text-center">Interview selectd canditaed via phone or video conference. Assign them tests,if
                  you want </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-services-wrapper mb-60 css_14">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px"
                  alt="">
              </div>
              <div class="our-services-text">
                <h4 class="text-center"><strong>Kick Start</strong></h4>
                <p class="text-center">If happy with the result,hire them straightway and start working</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!--  <div class="card" style="margin-top: 31px;">
        <div class="card-body">
          <p>Uberized Employment = cost effective + flexibility of inhouse resource
          </p>
        </div>
      </div> -->
      <div class="row" style="margin-top: 43px;">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <span class="css_reick">1</span>
          <div class="card" style="margin-top: 26px;">

            <p class="text-center" style="padding: 34px;">Direct client to employee management and supervision</p>

          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <span class="css_reick">2</span>
          <div class="card" style="margin-top: 26px;">
            <p class="text-center" style="padding: 34px;">Dedicated resources and one on one – client to employee
              relationship</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 text-center">
          <span class="css_reick">3</span>
          <div class="card" style="margin-top: 26px;">
            <p class="text-center" style="padding: 34px;">Dedicated supervision and state of art infrastructure </p>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12 text-center">
          <div class="card" style="margin-top: 26px;">
            <div class="card-body">

              The only difference between Uberized Employment and hiring employee locally is that you can work together
              online rather than face to face


            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <!-- <div class="space-40"></div>
  <section class="opeExcellence">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Operational Excellence</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="../../../assets/images/banner/operationalExcellence.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section> -->
  <div class="space-40"></div>
  <section class="opeExcellence">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Our Engagement Models</h2>
          </div>
        </div>
        <div class="row space-20">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h4>Managed Reources</h4>
                <p>Management of activities retained with the client.</p>
                <p>Engagement at individual level; input based model; effort is counted, not outcome - Clients processes are followed for production of deliverables</p>
                <p>Coordination, interaction with project environment and eco-system and other higher functions done by client.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Managed Team</h4>
                <p>Ownership of the team, roles and responsibility; routine decision and training lies with  MacTec</p>
                <p>Project management function is discharged by MacTec</p>
                <p>Engagement at ‘project’ level, MacTec applies its best practices</p>
                <p>Defined service parameters, outcome based</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <h4>Managed Services</h4>
                  <p>Relationship is strategic in nature; MacTec participates in planning and strategy formulation.</p>
                  <p>MacTec takes full responsibility for outcomes; engagement at project & program level</p>
                  <p>MacTec takes business level SLA with customer & Operational level agreement with Client</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Client Partner</h4>
                  <p>Engagement at portfolio level, full partnership in risk and gain</p>
                  <p>MacTec participates with client in policy formulation, goal definition and prioritization and fully understand business environment and is part of client ecosystem</p>
                  <p>MacTec understands what creates value in client business environment and incorporates the understanding in solution design.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <div class="space-40"></div>
</div>
