.parallax-banner {
	background-image: url(../../../../../../assets/images/whyMactec/smartEmployee.jpg);
	width: 100%;
	height: 300px;
	background-attachment: inherit;
	background-size: cover;
}
.viewServices {
	p {
		font-size: 14px;
	}
	.checklist {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			font-size: 14px;
			margin-bottom: 14px;
		}
		li:before {
			content: '\f00c';
			font-family: FontAwesome;
			color: #f07615;
			font-size: 10px;
			margin-right: 5px;
			border: 1px solid;
			border-radius: 50%;
			padding: 2px;
		}
	}
	.workList {
		padding: 0;
		list-style-type: none;
		li {
			float: left;
			width: 23%;
			margin: 1%;
			text-align: center;
			background: #f0f0f0;
			padding: 30px 20px 0px 20px;
			height: 150px;
		}
	}
	.serviceInfo {
		//  border-bottom: 1px solid #f07615;
		padding: 20px 0;
		/*  box-shadow: 0px 2px #ddd; */
	}
	h5 {
		color: #212529;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 0;
	}
}
.box {
	background: #fff;
	transition: all 0.2s ease;
	border: 2px dashed #f07615;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	background-clip: padding-box;
	min-height: 150px;
	hr {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, .1);
	}
	span.box-title {
		color: #fff;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
	}
	.box-content {
		padding: 15px;
		border-radius: 0 0 2px 2px;
		background-clip: padding-box;
		box-sizing: border-box;
		text-align: justify;
		.h1, h1 {
			font-size: 1.1rem;
			text-align: center;
		}
		p {
			color: #3c434a;
			text-transform: none;
		}
	}
}
.box:hover {
	border: 2px solid var(--primary-color);
	//background: var(--primary-color);
	//color: var(--quaternary-color);
	color: #3c434a;
	.box-content {
		hr {
			border: 1px solid 3c434a;
		}
		p {
			color: #3c434a;
		}
	}
}


.slide-content {
	color: #fff;
	text-align: center;
	width: 315px;
	margin: 0 auto;
	padding: 35% 0;
  
  }
  
  
  @media only screen and (min-width:768px){
	.slide-content {
		color: #fff;
		text-align: center;
		width: 420px;
		margin: 0 auto;
		padding: 15% 0;
	
	}
	}
  @media only screen and (min-width:1024px){
	.parallax-banner {
		background-image: url(../../../../../../assets/images/whyMactec/smartEmployee.jpg);
		width: 100%;
		height: 500px;
		background-attachment: inherit;
		background-size: cover;
	}
	.slide-content {
	  text-align: center;
	  color: #fff;
	  text-align: center;
	  width: 70%;
	  margin: 0 auto;
	  padding: 16% 0;
  
  }
  
  
  .h2, h2 {
  font-size: 4rem;
  }
  }  