<div class="parallax-banner">
    <div class="slide-content">
        <h2 class="slide-heading">SMART EMPLOYEE SERVICES</h2>
        <p></p>
    </div>
</div>
<div class="space-40"></div>

<div class="how-section1 container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h4>Smart Employee Service</h4>
            </div>
                    <div class="col-md-8 order-md-1 order-sm-2 order-1">
                        <div class="bg_services">
                          <div class="col-count text-justify">
                                    <p>“Getting employment to global village through smart employee services” MacTec – Smart
                                        People Solutions and Smart Employee Services together brings highly talented employee
                                        pool that helps companies and employers globally to outsource Technology and Finance
                                        & Accounting jobs. MacTec specializes in providing staff of the highest quality who
                                        will continue to exceed your expectations for the speed, accuracy and reliability.
                                        <br><br>
                                   Our organization has a proven record in providing the best talent pool for some of the
                                        leading organizations and brands. <br><br>
                                   Our spacious open plan office is supported by advanced network infrastructure, fast internet,
                                        servers, telecom, Computers, software and your staff is provided with the best technology
                                        and equipment. We follow best IT practices to ensure highest quality.  <br><br>
                             
                                   Smart Employee Services creates an office environment which bridges physical distance
                                        and makes it possible to work with your extended team based in an offshore location
                                        in India. The lack of physical presence of the client does not impact the service
                                        delivery in any means as we deploy highly experienced resources to oversee and manage
                                        the operational team. The team of domain experts deliver on every aspect of what
                                        the SLA demands with a maximised focus on Critical to Quality (CTQ) and Critical
                                        to Process (CTP) standards laid out by us. 
                                        <br><br>
                                        The offshore team is equipped with all
                                        the necessary logistical, technological and operational requirement with regards
                                        to infrastructure, training, compliance and other facilities related to employees’
                                        wellbeing. In a nut-shell, it’s pretty much like being an employee of the client
                                        but working out of a remote location and delivering the same standard of work at
                                        significantly lower people and process management cost.
                              
                            </div>


                        </div>
                    </div>
                    <div class="col-md-4 order-md-2 order-sm-1 order-0">
                            <div class="smartb-img"></div>
                        <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
                    </div>
                </div>
            </div>


            <!-- <div class="col-md-12 mar_bbm">
    <div class="row">
            <div class="col-md-4 order-md-1 order-sm-2  order-0">
                    <div class="smartb-img"></div>
                <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> 
            </div>
        <div class="col-md-8 order-md-2 order-sm-1  order-1">
            <div class="bg_services">
              
                 
                        <p>We follow best IT practices to ensure the highest quality, safety and security of our clients processes.</p>
             
                              </div>
          </div>
        
    </div>
</div> -->


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="wehalf">
                    <h4>What we Do?</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wwd"></div>
                <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
            </div>
            <div class="col-md-8">

                <div class="bg_services col-count">
                    <p>We provide Smart workforce services to unleash the territorial boundaries and scarcity in talent. Our
                        global talent bank in lead technologies and skillset will support client’s operational and technological
                        requirements.
                        <br><br>
                        MacTec Smart People Solutions (SPPL) is a key to bridge the gap between swarms of skill sets among jobseekers
                        / employees and the business requirements.
                        <br><br>
                        We aim to formulate the operational and technological strategies that help organizations to break through
                        the challenges of outsourcing and offshoring.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h4>Solution</h4>
            </div>

            <div class="col-md-8 order-md-1 order-sm-1  order-1">

                <div class="bg_services col-count">
                    <p>MacTec offers best in class offshoring solutions for your business needs. A suite of custom- built, proprietary
                        technology we tailor an offshoring solution for each business individually.
                        <br><br>
                        We work closely with our clients and get to know their needs and then prepare a plan based on their specific
                        circumstances. Depending on the requirement and job description we either provide smart employee
                        solutions from our existing repository or our dedicated solution team identifies your desired skillset.
                        <br><br>
                        MacTec has a pool of dedicated resources in variety of professions. We have now become a hub of the most
                        talented professionals. You now have the opportunity to hire our exceptionally qualified, highly-skilled
                        employees to directly work for your business.</p>
                </div>
            </div>
            <div class="col-md-4 order-md-2 order-sm-2  order-0">
                <div class="sol-img"></div>
                <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="mhalf">
                    <h4>Solution Highlights</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hilight-img"></div>
                <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
            </div>
            <div class="col-md-8">

                <div class="bg_services somclient">
                    <ul class="checklist">
                        <li>
                            <b>No Capital Investment</b>
                            <p>No setup cost, overheads and risk</p>
                        </li>
                        <li>
                            <b> No Operations Management</b>
                            <p>No people management cost, admin and maintenance cost</p>
                        </li>
                        <li>
                            <b> No Recruitment Cost</b>
                            <p>No talent bank subscriptions, hiring team and advertisements</p>
                        </li>
                        <li>
                            <b> No Long term Contracts </b>
                            <p>No notice period cost and bench cost – we work with 30 days’ notice</p>
                        </li>
                        <li>
                            <b> No Liability</b>
                            <p>No employee taxes, labour laws, insurance and workmen compensations</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>How does it work</h4>
            </div>
            <div class="col-md-12">
                <div class="bg_services ">
                    <div class="">

                        <p>
                            We have ensured we strive to provide best-in-class services to our clients. Our top notch facilities enabling the smooth
                            operations enhances our delivery standards.
                        </p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-content">
                                        <h1 class="tag-title">Brief us</h1>
                                        <hr />
                                        <p>Explain your requirement to us</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-content">
                                        <h1 class="tag-title">Evaluate Our Solution</h1>
                                        <hr />
                                        <p>We share profiles and proposals</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-content">
                                        <h1 class="tag-title">Choose the Best Solution</h1>
                                        <hr />
                                        <p>Interview, asses & confirm your choice</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box">
                                    <div class="box-content">
                                        <h1 class="tag-title"> Kick Start</h1>
                                        <hr />

                                        <p>Offshore your work and start working</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>























<!-- 











<div class="container ">
    <div class="viewServices">

        <div class="row">
            <div class="col-md-12">
                    <h5>Smart Employee Service</h5>
                <div class="serviceInfo">
                    
                    <p>“Getting employment to global village through smart employee services” MacTec – Smart People Solutions
                        and Smart Employee Services together brings highly talented employee pool that helps companies and
                        employers globally to outsource Technology and Finance & Accounting jobs. MacTec specializes in providing
                        staff of the highest quality who will continue to exceed your expectations for the speed, accuracy
                        and reliability.</p>
                    <p>Our organization has a proven record in providing the best talent pool for some of the leading organizations
                        and brands.</p>
                    <p>Smart Employee Services creates an office environment which bridges physical distance and makes it possible
                        to work with your extended team based in an offshore location in India. The lack of physical presence
                        of the client does not impact the service delivery in any means as we deploy highly experienced resources
                        to oversee and manage the operational team. The team of domain experts deliver on every aspect of
                        what the SLA demands with a maximised focus on Critical to Quality (CTQ) and Critical to Process
                        (CTP) standards laid out by us. The offshore team is equipped with all the necessary logistical,
                        technological and operational requirement with regards to infrastructure, training, compliance and
                        other facilities related to employees’ wellbeing. In a nut-shell, it’s pretty much like being an
                        employee of the client but working out of a remote location and delivering the same standard of work
                        at significantly lower people and process management cost.</p>
                    <p>Our spacious open plan office is supported by advanced network infrastructure, fast internet, servers,
                        telecom, Computers, software and your staff is provided with the best technology and equipment. We
                        follow best IT practices to ensure highest quality.</p>
                    <p>We follow best IT practices to ensure the highest quality, safety and security of our clients processes.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5 class="space-20">What we Do?</h5>
                <div class="serviceInfo">
                    <p>We provide Smart workforce services to unleash the territorial boundaries and scarcity in talent. Our
                        global talent bank in lead technologies and skillset will support client’s operational and technological
                        requirements.</p>
                    <p>MacTec Smart People Solutions (SPPL) is a key to bridge the gap between swarms of skill sets among jobseekers
                        / employees and the business requirements.</p>
                    <p>We aim to formulate the operational and technological strategies that help organizations to break through
                        the challenges of outsourcing and offshoring.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="space-20">Solution</h5>
                <div class="serviceInfo">
                    <p>MacTec offers best in class offshoring solutions for your business needs. A suite of custom- built, proprietary
                        technology we tailor an offshoring solution for each business individually.</p>
                    <p>We work closely with our clients and get to know their needs and then prepare a plan based on their specific
                        circumstances. Depending on the requirement and job description we either provide smart employee
                        solutions from our existing repository or our dedicated solution team identifies your desired skillset.</p>
                    <p>MacTec has a pool of dedicated resources in variety of professions. We have now become a hub of the most
                        talented professionals. You now have the opportunity to hire our exceptionally qualified, highly-skilled
                        employees to directly work for your business.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="space-20">Solution Highlights</h5>
                <div class="serviceInfo">
                    <ul class="checklist">
                        <li> <i  class="fa fa-caret-right fa-fw"></i> No Capital Investment: No setup cost, overheads and risk</li>
                        <li>No Operations Management: No people management cost, admin and maintenance cost</li>
                        <li>No Recruitment Cost: No talent bank subscriptions, hiring team and advertisements</li>
                        <li>No Long term Contracts: No notice period cost and bench cost – we work with 30 days’ notice</li>
                        <li>No Liability: No employee taxes, labour laws, insurance and workmen compensations</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="space-20">How does it work</h5>
                <div class="serviceInfo">


                                <div class="">
                                    
                                        <p>
                                                We have  ensured we strive to provide best-in-class  services to our clients. Our top notch facilities enabling the smooth operations enhances our delivery standards.
                                            </p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="box">
                                                    <div class="box-content">
                                                        <h1 class="tag-title">Brief us</h1>
                                                        <hr />
                                                        <p>Explain your requirement to us</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="box">
                                                    <div class="box-content">
                                                        <h1 class="tag-title">Evaluate Our Solution</h1>
                                                        <hr />
                                                        <p>We share profiles and proposals</p>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="box">
                                                    <div class="box-content">
                                                        <h1 class="tag-title">Choose the Best Solution</h1>
                                                        <hr />
                                                        <p>Interview, asses & confirm your choice</p>
                                                    </div>
                                                </div>
                                            </div>
                                                  <div class="col-md-3">
                                                <div class="box">
                                                    <div class="box-content">
                                                        <h1 class="tag-title"> Kick Start</h1>
                                                        <hr />
                                                       
                                                        <p>Offshore your work and start working</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>           
                                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="space-60"></div>