<div class="strategy">
  <div class="page-banner" style="background-color: var(--primary-color)">
    <div class="banner-content container">
      <h2 class="banner-heading">Our Strategy</h2>
    </div>
  </div>
  <div class="space-30"></div>
  <section class="">
    <div class="container">
      <div class="flex-container flex-pc strategyTop">
        <div>
          <img src="../../../../assets/images/services/sbus/sbusStrategyFirst.png" class="img-fluid" />
        </div>
        <div>
          <div class="">
            <h6>Our methodology helps integrate design, transform and run.</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section class="">
    <div class="container">
      <h2>How does it work?</h2>
      <div class="flex-container flex-w-w howToWork">
        <div>
          <h4>Brief Us</h4>
          <p>Send us your requirement.</p>
        </div>
        <div>
          <h4>Pick the best resume</h4>
          <p>We send you resume of screened and shortlisted candidates.</p>
        </div>
        <div>
          <h4>Choose your team</h4>
          <p>Interview selected candidates via phone or video conference. Assign them tests, if you want.</p>
        </div>
        <div>
          <h4>Kick Start</h4>
          <p>If happy with the results, hire them straightaway and start working.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <div class="flex-container flex-pc uberizedEmp">
        <h5>Uberized Employment = Cost Effective + Flexibility of inhouse resourse</h5>
      </div>
      <div class="space-40"></div>
      <div class="flex-container flex-w-w uberizedEmpSteps">
        <div>
          <p>Direct client to employee management and supervision.</p>
        </div>
        <div>
          <p>Dedicated resourse and one on one - client to employee relationship.</p>
        </div>
        <div>
          <p>Dedicated supervision and safe of art infrastructure.</p>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="flex-container flex-pc">
        <p>The only deference between Uberized Employment and hiring employee locally is that you can work togather
          online rather than face to face.</p>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <div class="flex-container ourMethodology">
        <div>
          <h2>Our Methodology</h2>
          <div class="space-10"></div>
          <h4>Smart Strategy:</h4>
          <p>Internal and external insights used to address market,growth and risk challenges.</p>
          <div class="space-10"></div>
          <h4>Smart Design:</h4>
          <p>Transparent and consistent to support smart decisions, strength control, and speed adoption.</p>
          <div class="space-10"></div>
          <h4>Smart Delivery:</h4>
          <p>Recognise global leverage and forward-thinking target operating models </p>
        </div>
        <div>
          <img src="/assets/images/services/sbus/ourMethodology.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <h2>Our Engagement Modal</h2>
    </div>
    <div class="flex-container flex-pc engagementModal">
      <picture>
        <source media="(min-width: 960px)" srcset="/assets/images/services/sbus/engagementModalPc.png">
        <img src="../../../../assets/images/services/sbus/engagementModalMobile.png" alt="Engagement Modal">
      </picture>
    </div>
  </section>
</div>
