<div class="container">

  <div id="form-one" class="form-container">
      <h2> Mortgage calculator </h2>

      <label for="form-one-input-one" class="form-label">Total mortgage value</label>
      <input type="text" id="form-one-input-one" class="form-input">

      <label for="form-one-input-two" class="form-label">Interest rate p.a.</label>
      <input type="text" id="form-one-input-two" class="form-input">

      <label for="form-one-input-three" class="form-label">Yearly payment</label>
      <input type="text" id="form-one-input-three" class="form-input">

      <button id="form-button-one-next" class="form-button button-next">Next!</button>
  </div>

  <div id="form-two" class="form-container form-to-go">
      <h2> Mortgage calculator </h2>

      <label for="form-two-input-one" class="form-label">Total mortgage value</label>
      <input type="text" id="form-two-input-one" class="form-input">

      <label for="form-two-input-two" class="form-label">Interest rate p.a.</label>
      <input type="text" id="form-two-input-two" class="form-input">

      <label for="form-two-input-three" class="form-label">Yearly payment</label>
      <input type="text" id="form-two-input-three" class="form-input">

      <button id="form-button-two-previous" class="form-button button-previous">Previous</button>
      <button id="form-button-two-next" class="form-button button-next">Next!</button>
  </div>

  <div id="form-three" class="form-container form-to-go">
      <h2> Mortgage calculator </h2>

      <label for="form-three-input-one" class="form-label">Total mortgage value</label>
      <input type="text" id="form-three-input-one" class="form-input">

      <label for="form-three-input-two" class="form-label">Interest rate p.a.</label>
      <input type="text" id="form-three-input-two" class="form-input">

      <label for="form-three-input-three" class="form-label">Yearly payment</label>
      <input type="text" id="form-three-input-three" class="form-input">

      <button id="form-button-three-previous" class="form-button button-previous">Previous</button>
      <button id="form-button-three-next" class="form-button button-next">What's the result?</button>
  </div>
  
  <div id="form-four" class="form-container form-to-go">
      <h2> Mortgage calculator </h2>

      <p>The best plan for you is
          <span id="final-verdict">still calculating</span>.
          <p>

              <button id="form-button-learn-more" class="form-button button-learn-more">Find out more about this plan and how we can help you.</button>

              <button id="form-button-four-previous" class="form-button button-previous">Go back</button>
  </div>

</div>