<a class="fixed-btn button button-1" id="scrollToSubscriptionform" (click)="startTrialBtn()">Start Trial</a>
<div class="parallax-banner">

    <div class="slide-content">
        <h2 class="slide-heading">OUR PRODUCTS</h2>
        <p>
                Enterprise Tool and Transformation services
        </p>
        <!-- <p>
            SBUS
            <sup>&reg;</sup> ERP is a comprehensive EAS (Enterprise Application Software) that aims at encompassing varied
            functions in an ERP giving them complete control and flexibility to managing 360
            <sup>o</sup> functions and end-to-end operations.
        </p> -->
    </div>

</div>

<div class="">
    <div class="region region-content">

        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="panel-flexible panels-flexible-22 clearfix">
                    <div class="panel-flexible-inside panels-flexible-22-inside">
                        <div class="panels-flexible-region panels-flexible-region-22-center panels-flexible-region-first panels-flexible-region-last">
                            <div class="inside panels-flexible-region-inside panels-flexible-region-22-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                <div class="panel-pane pane-block pane-block-20 pane-block shortcodes-section student_solution">
                                    <div class="pane-content">

                                        <div class="shortcodes-elem" *ngFor="let mod of services">
                                            <div class="container">
                                                <h2>{{mod.productCategory}}</h2>
                                                <div class="row alter_check">
                                                    <div class="col-md-6 col-lg-4" *ngFor="let modsub of mod.productDetails">
                                                        <div class="spacious">
                                                            <span class="bg_rng">
                                                                    <img  src="./../../assets/images/product/{{modsub.icon}}.png" class="img-fluid">
                                                                <!-- <i class="fa {{modsub.icon}}" aria-hidden="true">&nbsp;</i> -->
                                                            </span>
                                                            <div class="list-cont">
                                                                <h3>{{modsub.productName}}</h3>
                                                                <p>{{modsub.description}}</p>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="demo" class="carousel slide container" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators mb-0 pb-0">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner no-padding ">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <a  target="_blank" onclick=abc(this) class="slider_info">
                            <img class="img-fluid card-img-top" src="assets/images/banner/eazy.jpg">
                            <div class="card-img-overlay t_img">
                                <div class="float-right text-uppercase eazy_len row">

                                    <a href="http://eazyshipp.com/" class="button button-s">Go to Website </a>


                                    <a href="https://play.google.com/store/apps/details?id=com.mactec.eazyshipp.customer&hl=en_IN" class="button button-s">Download
                                        Android App</a>

                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <a  onclick=abc(this) class="slider_info">
                            <img class="img-fluid card-img-top" src="assets/images/banner/skillbanner.jpg">
                            <div class="card-img-overlay t_img">

                                <div class="float-right text-uppercase text_len"><span class="skillpassportDesc">Skill Passport®
                                        is the gateway to a career that every student aspires for. It’s an intuitive digital
                                        platform that leverages result driven assessment and sustainable learning.</span>

                                    <br>
                                    <a href="https://skillpassport.in" class="button button-s">Know More</a>

                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon sp"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon sp"></span>
        </a>
    </div>


</div>