<!-- <a class="fixed-btn button button-3" id="scrollToSubscriptionform" (click)="startTrialBtn()">Start Trial</a> -->
<div class="page-banner" style="background-color: var(--secondary-background-color)">
    <div class="banner-content container">
        <h2 class="banner-heading">SBuS Products</h2>
        <p class="banner-subheading">
            Enterprise Tool and Transformation services
        </p>
    </div>
</div>
<div class="sub-heading text-center">
    <h5>
        <i>Choose your product</i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i>Provide Personal Details</i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i>Business Details</i>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i>Subscirbe</i>
    </h5>
</div>
<div class="space-30"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-12">
            <div class="product-container" *ngFor="let mod of services">
                <h4 class="heading">{{mod.productCategory}}</h4>

                <ul class="list-container">
                    <li class="product-list" *ngFor="let data of mod.productDetails">
                        <input type="checkbox" (change)="getSelectedProd($event)" name="app" id="app-{{data.productId}}" value="{{data.productId}}">
                        <label for="app-{{data.productId}}">
                            <div class="product-info">
                                <img src="/assets/images/product/{{data.icon}}.png" class="img-fluid product-img">
                                <h4>{{data.productName}}</h4>
                            </div>
                            <p class="product-price">
                                <span>Price: </span>
                                <span>{{data.price | currency: selectedCurr}}</span>
                                / month
                            </p>
                        </label>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <div class="cart-button">
                Checkout
                <span class="badge badge-pill badge-dark">{{totalProduct}}</span>
            </div>
            <div class="price-container">
                <i class="fa fa-times-circle-o cart-close" aria-hidden="true"></i>
                <div class="header">
                    <h3 class="product-count">
                        Selected Apps:
                        <b>{{totalProduct}}</b>
                    </h3>
                    <div class="conversion">
                        <h6>Change<br>Currency:</h6>
                        <button class="curr-btn" (click)="changeConversion()"><i class="fa" [ngClass]="selectedCurr=='INR'?'fa-dollar':'fa-rupee'" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="table-price">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of selectedList; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{data.productName}}</td>
                                <td>{{data.price | currency: selectedCurr}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="user-count">
                    <label for="usercount">
                        Choose number of users
                    </label>
                    <input (change)="productAccUser($event)" type="number" min="1" value="1" name="usercount" id="usercount">
                    <span> / month</span>
                </div>
                <div class="total">
                    <table>
                        <tbody>
                            <tr>
                                <td scope="row">Subscription cost</td>
                                <td>: {{totalPrice | currency: selectedCurr}} </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    GST
                                </td>
                                <td>: {{totalPrice*0.18 | currency: selectedCurr}}</td>
                            </tr>
                            <tr>
                                <td scope="row">Total cost</td>
                                <td>: <b>{{totalPrice+totalPrice*0.18 | currency: selectedCurr}}</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="submit-section">
                    <a href="" data-toggle="modal" data-target="#subform" (click)="setSubcriptionType('Trial')" class="btns btn-p flex-container flex-d-c">Free Trial <br> <small>7 days free trial</small> </a>
                    <a href="" data-toggle="modal" data-target="#subform" (click)="setSubcriptionType('Paid')" class="btns btn-s">Premium</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="subform" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">SBuS
                    <span>| Let's start</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="form-container" (ngSubmit)="onFormSubmit()" [formGroup]="subscriptionFrom">
                        
                        <fieldset id="form-1" formGroupName="userData" *ngIf="formstep==1">
                            <h3>Step 1 of 3 - Personal details</h3>
                            <div class="input-box">
                                <input class="form-input" formControlName="name" type="text" placeholder="Enter your name e.g John doe *">
                                <p *ngIf="subscriptionFrom.get('userData.name').invalid && subscriptionFrom.get('userData.name').touched" class="warn-text">Enter a valid name eg. JohnDoe</p>
                            </div>
                            <div class="input-box">
                                <input class="form-input" formControlName="email" type="email" placeholder="Enter your email id e.g. johndoe@example.com *">
                                <p *ngIf="subscriptionFrom.get('userData.email').invalid && subscriptionFrom.get('userData.email').touched" class="warn-text">Enter a valid email eg. johndoe@example.com</p>
                            </div>
                            <div class="input-box">
                                <input class="form-input" formControlName="mobile" type="text" placeholder="Enter your mobile no. e.g. 9999 8888 77 *">
                                <p *ngIf="subscriptionFrom.get('userData.mobile').invalid && subscriptionFrom.get('userData.mobile').touched" class="warn-text">Enter a valid mobile number eg. 9000090000</p>
                            </div>
                            
                            <div class="btn-box">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" (click)="nextStep()"
                                    [ngClass]="subscriptionFrom.get('userData').invalid?'disabled':''"
                                    value="Next" [disabled]="subscriptionFrom.get('userData').invalid"
                                    >Next</button>
                                    <button type="button" class="btn btn-tertiary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset formGroupName="orgData" id="form-2" *ngIf="formstep==2">
                            <h3>Step 2 of 3 - Organizational details</h3>
                            <div class="input-box">
                                <input class="form-input" formControlName="orgname" type="text" placeholder="Enter your organization Details e.g abc corporation *">
                                <p *ngIf="subscriptionFrom.get('orgData.orgname').invalid && subscriptionFrom.get('orgData.orgname').touched" class="warn-text">Enter a valid Organization number eg. Johndoe Inc.</p>
                            </div>
                            <div class="input-box">
                                <input class="form-input" formControlName="usersNo" type="number" placeholder="Enter number of employers in your company *">
                                <p *ngIf="subscriptionFrom.get('orgData.usersNo').invalid && subscriptionFrom.get('orgData.usersNo').touched" class="warn-text">Enter a valid users value eg. 200</p>   
                            </div>
                            <div class="input-box">
                                <input class="form-input" formControlName="gstin" type="text" placeholder="Enter your GSTin">
                            </div>

                            <div class="btn-box">                            
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary" (click)="prevStep()">Previous</button>
                                    <button type="submit" class="btn btn-primary"
                                    [ngClass]="subscriptionFrom.get('orgData').invalid?'disabled':''"
                                    value="Next" [disabled]="subscriptionFrom.get('orgData').invalid"
                                    >Finish</button>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="form-3" *ngIf="formstep==3">
                            <h3>Step 3 of 3</h3>
                            <div class="flex-container flex-d-c flex-pc">
                                <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw text-primary" aria-hidden="true" *ngIf="finalStatus==1"></i>
                                <i class="fa fa-check fa-5x text-success" aria-hidden="true" *ngIf="finalStatus==2"></i>
                                <i class="fa fa-exclamation fa-5x text-warning" aria-hidden="true" *ngIf="finalStatus==3"></i>
                                <i class="fa fa-times fa-5x text-danger" aria-hidden="true" *ngIf="finalStatus==4"></i>
                                <h5>{{statusMessage}}</h5>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>