.parallax-banner{
    background: url("/assets/images/banner/banner3.jpg");
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}


.campus_lserv1 {
    padding: 15px 15px;
    color: #fff;
    background-attachment: fixed;
    background-size: 100%;
    background: #e8e8e8;
}
.shortcodes-section .shortcodes-elem > h1, .shortcodes-section .shortcodes-elem .skills-box h1, .shortcodes-section .shortcodes-elem .accord-box h1, .shortcodes-section .shortcodes-elem .buttons-area h1, .page-parent-connect h1.benefits, .page-cms-for-colleges .shortcodes-elem h1, .shortcodes-section .shortcodes-elem .social-icons-area h1 {
    color: #3a3d41;
    font-size: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 7px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6eaed;
    margin-bottom: 24px;
    text-align: center;
}
.feature-list2 {
    padding: 0;
    margin: 0 0 30px;
}
.feature-list2 li, .sis_banner .row ul li {
    list-style: none;
}
.feature-list2 li span, .sis_banner .row ul li span {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50% 1px 50%;
    -moz-border-radius: 50% 1px 50%;
    -o-border-radius: 50% 1px 50%;
    border-radius: 50% 1px 50%;
    background: var(--primary-background-color);
    text-align: center;
    margin-bottom: 25px;
}
.feature-list2 li span i, .sis_banner .row ul li span i {
    color: #ffffff;
    line-height: 40px;
}

.feature-list2 li span i, .sis_banner .row ul li span i {
    color: #ffffff;
    line-height: 40px;
}
.feature-list2 li .list-cont {
    margin-left: 54px;
    padding-top: 10px;
}
.feature-list2 li .list-cont h3, .page-cms-for-schools #trendy h3, .page-cms-for-collegess #trendy h3, .sis_styles .feature-list2 li .list-cont h3, .facility_section_another .feature-list2 h3 a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
    color: #3a3d41;
}
.shortcodes-section .back-col {
    background: #003050;
    padding: 30px 30px 0;
    margin-top: -24px;
    color:#fff;
}
.feature-list2.white li .list-cont h3, .cms_list li h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
}
.region-content{padding: 60px 0 0px;}
.list-cont p{font-size: 0.9rem}
.feature-list3 li {
    list-style: none;
}
.feature-list3 li span {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50% 1px 50%;
    -moz-border-radius: 50% 1px 50%;
    -o-border-radius: 50% 1px 50%;
    border-radius: 50% 1px 50%;
    background: var(--primary-background-color);
    text-align: center;
    padding-left: 4px;
}
.feature-list3 li span i {
    color: #ffffff;
    line-height: 40px;
}
.feature-list3 li .list-cont h3, .page-facilities-management-system .feature-list3 li h3 a, .cloud-erp-platform .feature-list3 li h3 a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 16px;
    color: #3a3d41;
    font-size: 18px;
    margin-bottom: 5px;
}
.feature-list3 li .list-cont {
    margin-left: 74px;
}

.slide-content {
    color: #fff;
    text-align: center;
    width: 315px;
    margin: 0 auto;
    padding: 25% 0;
  
  }
.bg_rng{
    display: inline-block;
    float: left;
    width: 35px;
    height: 32px;
    border-radius: 50% 1px 50%;
    background: var(--primary-background-color);
    text-align: center;
    margin-right: 12px;
   i{
    color: #ffffff;
    line-height: 33px;
    padding-left: 5px;
   } 
}
.spacious{
    margin-bottom:20px;
}

.shortcodes-elem:nth-of-type(odd) {
      margin-bottom: 50px;
    }
        
.shortcodes-elem:nth-of-type(even) {
    background-color:#003050;     margin-bottom: 50px;  color: #fff;
    padding: 15px;

    h1{
        a{
        color: #fff;
    }
}

&:last-child{
    margin-bottom: 0px;
}
    }
    

.list-cont{
    font-size: 0.9rem;
    display: block;
    text-align: justify;
    margin-top: 20px;
}

.fixed-btn {
    position: fixed;
    right: -20px;
    bottom: 40%;
    -webkit-transform: rotate(90deg) translateY(50%);
    transform: rotate(90deg) translateY(50%);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    border-radius: 48px 0;
    padding: 9px 32px;
    z-index: 11000;
}
.eazy_len{
    position: relative;
    top: 54%;
    width: 53%; color:#fff;
    .left {
        width: 47%;
        float: left;


  h3{

      font-size:11px;
  }
  a{
    margin-top: 10px;
    font-size: 11px;
    position: absolute;
   
        }
    .button.button-1 {
        font-size: 0.6rem;
        font-weight: normal;
        padding: 7px;
            }
    }

}


.text_len{    position: relative;
    top: 50%;
    width: 53%; color:#fff;    
    line-height: 10px;
    font-size: 16px;
    a{
        margin-top: 10px;
        font-size: 11px;
        position: absolute;
        
    }
    .button.button-1 {
        font-size: 6px;
        font-weight: normal;
        padding: 2px 6px;
    }
    }
.skillpassportDesc{
        font-size: 7px;
        overflow: hidden;
        width: 18px;
        text-overflow: ellipsis;
}

@media only screen and (max-width:425px){
    .card-img-top{height: 215px;}
    .h3, h3 {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width:768px){
.slide-content {
    color: #fff;
    text-align: center;
    width: 420px;
    margin: 0 auto;
    padding: 12% 0;
}

.card-img-top{height: 250px;}

.eazy_len{
    position: relative;
    top: 65%;
    width: 48%; color:#fff;
    .left {
        width: 47%;
        float: left;


  h3{

      font-size:11px;
  }
  a{
    margin-top: 10px;
    font-size: 11px;
    position: absolute;
   
    }
    .button.button-1 {
        font-size: 0.6rem;
        font-weight: normal;
        padding:14px 32px;
            }
    }

}

.text_len{   
    position: relative;
    top: 50%;
    width: 48%; color:#fff; font-size: 11px;
    a{
        margin-top: 10px;
        font-size: 11px;
        position: absolute;
    
    }
.button.button-1 {
    font-size: 0.6rem;
    font-weight: normal;
    padding:14px 32px;
        }
        .skillpassportDesc{
            font-size: 12px;
            line-height: 18px;
        }
}
}

@media only screen and (min-width:1024px){
    .parallax-banner{
        background: url("/assets/images/banner/banner3.jpg");
        width: 100%;
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover; 
    }
    .slide-content {
        text-align: center;
        color: #fff;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding: 20% 0;
    
  }

  .h2, h2 {
    font-size: 4rem;
}
.parallax-banner{
    background: url("/assets/images/banner/banner3.jpg");
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

.list-cont h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -15px;
}
.list-cont p{
margin-top: 20px;
  }


.eazy_len{
    position: relative;
    top: 65%;
    width: 48%; color:#fff;
    .left {
        width: 47%;
        float: left;


  h3{

      font-size:15px;
  }
  a{
    margin-top: 10px;
    position: absolute;

}
.button-1 {
    font-size: 1rem;
    font-weight: normal;
    padding: 8px 18px;
}
}


}

.text_len{    position: relative;
top: 50%;
width: 48%; color:#fff; font-size: 16px;
a{
    margin-top: 10px;
    position: absolute;
    padding: 10px 20px;
 
}
.button-1 {
    font-size: 1rem;
    font-weight: normal;
    padding: 8px 18px;
}
.skillpassportDesc{
    font-size: 15px;
    line-height: 22px;
}
}

.carousel-control-prev-icon {
    //	background: url("src/assets/images/icons/left_arrow.png");
        background-repeat: no-repeat;
    }
    .carousel-control-next-icon {
    //	background: url("src/assets/images/icons/right_arrow.png");
        background-repeat: no-repeat;
        right: 40px;
        position: absolute;
    }
.carousel-control-next-icon,
.carousel-control-prev-icon {
	display: inline-block;
	background: transparent;
	width: 40px;
	height: 50px;
	background-size: 70% 100%;
	// background-color: var(--primary-background-color);
	padding: 15px;
	// border: 1px #ccc solid; border-radius: 35%;
	// &:hover{
	// 	// background-color: var(--primary-background-color);
	// 	background-size: 100%;
	// 	transition: 5ms ;
	// }

}

.carousel-control-prev:hover .carousel-control-prev-icon{
	background: url("src/assets/images/icons/left_arrow.png");
	background-repeat: no-repeat;
    right: 20px;
    /* position: absolute; */
    width: 50px;
    height: 51px;
    background-position: 100% 42%;
    margin: 0;
    padding: 0;
    background-size: cover;
    filter: invert(20%);
}
.carousel-control-next:hover .carousel-control-next-icon{
	background: url("src/assets/images/icons/right_arrow.png");
	background-repeat: no-repeat;
    right: -35px;
    /* position: absolute; */
    width: 50px;
    height: 51px;
    background-position: 100% 42%;
    margin: 0;
    padding: 0;
    background-size: cover;
    filter: invert(20%);
}
.slide-imag {
	position: absolute;
	right: 5%;
	top: 14%;
}




}

  @media only screen and (min-width: 1366px){

.slide-content {
    color: #fff;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 16% 0;
}

.slide-content p {
    font-size: 1.5rem;
}
.fixed-btn {
    position: fixed;
    right: -20px;
    bottom: 40%;
    -webkit-transform: rotate(90deg) translateY(50%);
    transform: rotate(90deg) translateY(50%);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    border-radius: 48px 0;
    padding: 9px 32px;
    z-index: 11000;
}


}

.carousel-inner{border-radius:0px !important;}

body .carousel-control-prev-icon,
body .carousel-indicators li,
body .carousel-control-next-icon{
  background-color:#000;
}

span.carousel-control-prev-icon {
 position: relative;
 right: 40px;
}

span.carousel-control-next-icon {
 position: relative;
}
