<div class="parallax-banner">

    <div class="slide-content">
        <h2 class="slide-heading">Our Products</h2>
      </div>

</div>

<div class="container">
        <div class="region region-content">
         
           <div id="block-system-main" class="block block-system">
              <div class="content">
                 <div class="panel-flexible panels-flexible-22 clearfix">
                    <div class="panel-flexible-inside panels-flexible-22-inside">
                       <div class="panels-flexible-region panels-flexible-region-22-center panels-flexible-region-first panels-flexible-region-last">
                          <div class="inside panels-flexible-region-inside panels-flexible-region-22-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                             <div class="panel-pane pane-block pane-block-20 pane-block shortcodes-section student_solution">
                                <div class="pane-content">
                                 
                                   <div class="shortcodes-elem">
                                      <h1><a href="/student-information-system" style="color:#3A3D41;text-decoration:none;">Human Resource Management Apps</a></h1>
                                      <div class="row">
                                          <div class="col-md-4">
                                             <ul class="feature-list2">
                                                <li>
                                                   <span><i class="fa fa-money" aria-hidden="true">&nbsp;</i></span>
                                                   <div class="list-cont">
                                                      <h3>Pay Roll</h3>
                                                      <p>A payroll is a company's list of its employees, but the term is commonly used to refer to: the total amount of money that a company pays to its employees.. </p>
                                                   </div>
                                                </li>
                                                <li>
                                                   <span><i class="fa fa-calendar">&nbsp;</i></span>
                                                   <div class="list-cont">
                                                      <h3>Leave Management</h3>
                                                      <p>Leave management system allows employees to apply for leaves, check leave balance, approved leaves, holiday list, etc. </p>
                                                   </div>
                                                </li>
                                             </ul>
                                          </div>
                                          <div class="col-md-4">
                                             <ul class="feature-list2">
                                                <li>
                                                   <span><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp;</i></span>
                                                   <div class="list-cont">
                                                      <h3>Recruitments</h3>
                                                      <p>Recruitment (hiring) refers to the overall process of attracting, shortlisting, selecting and appointing suitable candidates for jobs.</p>
                                                   </div>
                                                </li>
                                                <li>
                                                   <span><i class="fa fa-file">&nbsp;</i></span>
                                                   <div class="list-cont">
                                                      <h3>Employee Attendence</h3>
                                                      <p>Get real-time visibility of which employees are on-site and which are not. Employees can tag in or out from their own PC, Mac, laptop, or via their smartphone.</p>
                                                   </div>
                                                </li>
                                             </ul>
                                          </div>
                                          <div class="col-md-4">
                                             <ul class="feature-list2">
                                                <li>
                                                   <span><i class="fa fa-book">&nbsp;</i></span>
                                                   <div class="list-cont">
                                                      <h3>Claims management</h3>
                                                      <p>Claims management services consist of advice or services in respect of claims for compensation, restitution.</p>
                                                   </div>
                                                </li>
                                           
                                             </ul>
                                          </div>
                                       </div>
                                   </div>
                                </div>
                             </div>
                         
                             <div class="panel-separator"></div>
                 <div class="panel-pane pane-block pane-block-22 pane-block shortcodes-section campus_blk">
                                <div class="pane-content">
                                   <div id="stdinfo">&nbsp;</div>
                                   <div class="shortcodes-section">
                                      <div class="shortcodes-elem">
                                         <h1>Finance Apps</h1>
                                         <div class="back-col">
                                            <div class="row">
                                                <div class="col-md-4">
                                                   <ul class="feature-list2 white">
                                                      <li>
                                                         <span><i class="fa fa-fax" aria-hidden="true">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>Income Tax</h3>
                                                            <p>The Income Tax Department, also referred to as IT Department, is a government agency in charge of monitoring the income tax collection by the Government of India. </p>
                                                         </div>
                                                      </li>
                                                    
                                                   </ul>
                                                </div>
                                                <div class="col-md-4">
                                                   <ul class="feature-list2 white">
                                                      <li>
                                                         <span><i class="fa fa-reply-all" aria-hidden="true">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>Accounts payable and Accounts receivable</h3>
                                                            <p>Recruitment (hiring) refers to the overall process of attracting, shortlisting, selecting and appointing suitable candidates for jobs.</p>
                                                         </div>
                                                      </li>
                                                    
                                                   </ul>
                                                </div>
                                                <div class="col-md-4">
                                                   <ul class="feature-list2 white">
                                                      <li>
                                                         <span><i class="fa fa-file-pdf-o" aria-hidden="true">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>invoice</h3>
                                                            <p>An invoice, bill or tab is a commercial document issued by a seller to a buyer, relating to a sale transaction and indicating the products. </p>
                                                         </div>
                                                      </li>
                                               
                                                   </ul>
                                                </div>
                                             </div>  

                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="panel-separator"></div>
                             <div class="panel-pane pane-block pane-block-40 pane-block shortcodes-section">
                                <div class="pane-content">
                                   <div id="campconn">&nbsp;</div>
                                   <div class="shortcodes-section">
                                      <div class="shortcodes-elem">
                                         <h1><a href="/school-library-management" style="color:#3A3D41;text-decoration:none;">Operations Apps</a></h1>
                                         <div class="row">
                                            <div class="col-md-4">
                                               <ul class="feature-list2 ">
                                                  <li>
                                                     <span><i class="fa fa-bed" aria-hidden="true">&nbsp;</i></span>
                                                     <div class="list-cont">
                                                        <h3>Hostel and Visitor</h3>
                                                        <p>Housed in an imposing double storeyed building and located at a central place, Visitors' Hostel provides boarding and lodging facilities for the Institute's guests. </p>
                                                     </div>
                                                  </li>
                                                  <li>
                                                     <span><i class="fa fa-book" aria-hidden="true">&nbsp;</i></span>
                                                     <div class="list-cont">
                                                        <h3>Library</h3>
                                                        <p>A library is a collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing.</p>
                                                     </div>
                                                  </li>
                                               </ul>
                                            </div>
                                            <div class="col-md-4">
                                               <ul class="feature-list2 ">
                                                  <li>
                                                     <span><i class="fa fa-file-text" aria-hidden="true">&nbsp;</i></span>
                                                     <div class="list-cont">
                                                        <h3>Documents Managament</h3>
                                                        <p>Document management, often referred to as Document Management Systems (DMS), is the use of a computer system.</p>
                                                     </div>
                                                  </li>
                                                  <li>
                                                     <span><i class="fa fa-product-hunt" aria-hidden="true">&nbsp;</i></span>
                                                     <div class="list-cont">
                                                        <h3>Procurements</h3>
                                                        <p>Procurement is the process of finding, agreeing terms and acquiring goods, services or works from an external source, often via a tendering or competitive bidding process.</p>
                                                     </div>
                                                  </li>
                                               </ul>
                                            </div>
                                            <div class="col-md-4">
                                               <ul class="feature-list2 ">
                                                  <li>
                                                     <span><i class="fa fa-bus" aria-hidden="true">&nbsp;</i></span>
                                                     <div class="list-cont">
                                                        <h3>Transport Management</h3>
                                                        <p>A transportation management system (TMS) is a subset of supply chain management (SCM) that deals with the planning.</p>
                                                     </div>
                                                  </li>
                                                 
                                              
                                                  <li>
                                                     <span><i class="fa fa-apple" aria-hidden="true">&nbsp;</i></span>
                                                     <div class="list-cont">
                                                        <h3>Canteen Management</h3>
                                                        <p>A canteen facility is a supplementary system that is provided by organizations for their employees. ... They need a centralized canteen management</p>
                                                     </div>
                                                  </li>
                                            
                                               </ul>
                                            </div>
                                      </div> 
                                      </div>
                                   </div>
                                </div>
                             </div>
                           
                             
                             <div class="panel-separator"></div>
                 <div class="panel-pane pane-block pane-block-41 pane-block shortcodes-section campus_blk">
                                <div class="pane-content">
                                   <div id="campinfo">&nbsp;</div>
                                   <div class="shortcodes-section">
                                      <div class="shortcodes-elem">
                                         <h1>Learning Managment Apps</h1>
                                         <div class="back-col">
                                            <div class="row">
                                                <div class="col-md-4">
                                                   <ul class="feature-list2 white">
                                                      <li>
                                                         <span><i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>Assesments</h3>
                                                            <p>Assessment may refer to: Educational assessment, documenting knowledge, skills, aptitudes, and beliefs; Health assessment, identifies needs of the patient and.</p>
                                                         </div>
                                                      </li>
                                                    
                                                  
                             <li>
                                                         <span><i class="fa fa-book">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>Trainings</h3>
                                                            <p>This orientation for students editing Wikipedia as a class assignment consists of four main modules: Welcome, a short introduction.</p>
                                                         </div>
                                                      </li> </ul>
                                                </div>
                                                <div class="col-md-4">
                                                   <ul class="feature-list2 white">
                                                      <li>
                                                         <span><i class="fa fa-commenting" aria-hidden="true">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>Assignments</h3>
                                                            <p>Assignment or assign may refer to: Assignment (computer science), a type of modification to a variable; Assignment (education), a task given to students by their.</p>
                                                         </div>
                                                      </li>
                                                    
                                                   </ul>
                                                </div>
                                                <div class="col-md-4">
                                                   <ul class="feature-list2 white">
                                                      <li>
                                                         <span><i class="fa fa-newspaper-o" aria-hidden="true">&nbsp;</i></span>
                                                         <div class="list-cont">
                                                            <h3>Learning Module</h3>
                                                            <p>A learning management system (LMS) is a software application for the administration, Teachers can manage courses and modules, enroll students or set up. </p>
                                                         </div>
                                                      </li>
                                                 
                                                   </ul>
                                                </div>
                                             </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="panel-separator"></div>
                            
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>