.parallax-banner{
    background: url("/assets/images/banner/banner3.jpg");
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}


.campus_lserv1 {
    padding: 15px 15px;
    color: #fff;
    background-attachment: fixed;
    background-size: 100%;
    background: #e8e8e8;
}
.shortcodes-section .shortcodes-elem > h1, .shortcodes-section .shortcodes-elem .skills-box h1, .shortcodes-section .shortcodes-elem .accord-box h1, .shortcodes-section .shortcodes-elem .buttons-area h1, .page-parent-connect h1.benefits, .page-cms-for-colleges .shortcodes-elem h1, .shortcodes-section .shortcodes-elem .social-icons-area h1 {
    color: #3a3d41;
    font-size: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 7px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6eaed;
    margin-bottom: 24px;
    text-align: center;
}
.feature-list2 {
    padding: 0;
    margin: 0 0 30px;
}
.feature-list2 li, .sis_banner .row ul li {
    list-style: none;
}
.feature-list2 li span, .sis_banner .row ul li span {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50% 1px 50%;
    -moz-border-radius: 50% 1px 50%;
    -o-border-radius: 50% 1px 50%;
    border-radius: 50% 1px 50%;
    background: var(--primary-background-color);
    text-align: center;
    margin-bottom: 25px;
}
.feature-list2 li span i, .sis_banner .row ul li span i {
    color: #ffffff;
    line-height: 40px;
}

.feature-list2 li span i, .sis_banner .row ul li span i {
    color: #ffffff;
    line-height: 40px;
}
.feature-list2 li .list-cont {
    margin-left: 54px;
    padding-top: 10px;
}
.feature-list2 li .list-cont h3, .page-cms-for-schools #trendy h3, .page-cms-for-collegess #trendy h3, .sis_styles .feature-list2 li .list-cont h3, .facility_section_another .feature-list2 h3 a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
    color: #3a3d41;
}
.shortcodes-section .back-col {
    background: #003050;
    padding: 30px 30px 0;
    margin-top: -24px;
    color:#fff;
}
.feature-list2.white li .list-cont h3, .cms_list li h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
}
.region-content{padding: 60px 0;}
.list-cont p{font-size: 0.9rem}
.feature-list3 li {
    list-style: none;
}
.feature-list3 li span {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50% 1px 50%;
    -moz-border-radius: 50% 1px 50%;
    -o-border-radius: 50% 1px 50%;
    border-radius: 50% 1px 50%;
    background: var(--primary-background-color);
    text-align: center;
    padding-left: 4px;
}
.feature-list3 li span i {
    color: #ffffff;
    line-height: 40px;
}
.feature-list3 li .list-cont h3, .page-facilities-management-system .feature-list3 li h3 a, .cloud-erp-platform .feature-list3 li h3 a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 16px;
    color: #3a3d41;
    font-size: 18px;
    margin-bottom: 5px;
}
.feature-list3 li .list-cont {
    margin-left: 74px;
}

@media only screen and (min-width:1024px){

    .slide-content {
      position: absolute;
      left: 45%;
      top: 35%;
      margin-left: -30px;
      margin-top: 48px;
      max-width: 600px;
      text-align: center;
      color: #fff;
  }
  }