<div class="workbook padding-80">
  <div class="container">
    <h2 class="text-center">How does it work?</h2>
    <p class="text-center p_how_does_it">The fundamental philosophy and the mantra of CareerPassport is a 4 stage journey of a student towards as aspiring professional world.</p>
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <img src="/assets/images/banner/workflow.png" class="img-fluid" alt="Smiley face" >
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div><strong>Diagnose</strong></div>
        <div>Identify development area.</div>
        <div class=" space-10"><strong>Design</strong></div>
        <div>Build specific learning intervention.</div>
        <div class=" space-10"><strong>Deliver </strong></div>
        <div>Facilitate Result Orinted training.</div>
        <div class=" space-10"><strong>Deploy </strong></div>
        <div>Full assistance to connect student to employer.</div>
      </div>
    </div>
  </div>
</div>