<div class="parallax-banner">
    <div class="slide-content">
        <h2 class="slide-heading">BUSINESS RE-ENGINEERING</h2>
    </div>
</div>
<div class="space-40"></div>


    
    
    
    
    <div class="how-section1 container-fluid">
    
    
          <div class="container">
         
         <div class="row">
            <div class="col-md-12">
                    <h4>Business RE-Engineering</h4>
                    
            </div>
            <div class="col-md-8">
            <div class="bg_services">
                    <p>Business process re-engineering (BPR) is the analysis and redesign of workflows within and between enterprises
                            in order to optimize end-to-end processes and automate non-value-added tasks. Our team of experts bring
                            core competency in the areas of Operational Excellence and Business Transformation through their core
                            business insight and experience. Our methodology focuses on radical redesign and reorganization of an
                            enterprise to lower costs and increase quality of service and that information technology is the key
                            enabler for that radical change.</p>
                              </div>
          </div>
          <div class="col-md-4 ">
                <div class="how-img"></div>
              <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
          </div>
          </div>
          </div>
     
    
    
    
          <div class="container">
         
              <div class="row">
                <div class="col-md-12">
                  <div class="mhalf">
                <h4>Our Key Methodology for Business RE-Engineering encompasses 7 key philosophies</h4>
                  </div>
                </div>
          <div class="col-md-4">
                <div class="how-img"></div>
              <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
          </div>
          <div class="col-md-8">
             
                <div class="bg_services">
                    <ul class="checklist">
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Organize around outcomes, not tasks</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Identify all the processes in an organization and prioritize them in order of redesign urgency.</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Integrate information processing work into the real work that produces the information.</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Treat geographically dispersed resources as though they were centralized.</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Link parallel activities in the workflow instead of just integrating their results.</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Put the decision point where the work is performed, and build control into the process.</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Capture information once and at the source.</li>
                    </ul>
                </div>
          </div>
          </div>
          </div>
          <div class="container">
         
              <div class="row">
                  <div class="col-md-12">
                        <h4>Our 5 key focus areas</h4>
                  </div>
    
          <div class="col-md-4">
             
                
                <div class="bg_services">
                    <ul class="checklist">
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Strategic Alignment</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Project Management</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Process Architecture</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Process Excellence</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Change Management</li>
                    </ul>
                </div>



          </div>
          <div class="col-md-8 ">
                <div class="how-img"></div>
              <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
          </div>
          </div>
      </div>
    
          <div class="container">
         
              <div class="row">
                  <div class="col-md-12">
                      <div class="mhalf1">
                            <h4>Our process excellence foundations enable us to win the client confidence and hand over value benefits to
                                    them</h4>
                      </div>
                    </div>
          <div class="col-md-4 ">
                <div class="how-img"></div>
              <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
          </div>
          <div class="col-md-8">
             
              
                <div class="bg_services">
                        <ul class="checklist">
                            <li> <i  class="fa fa-caret-right fa-fw"></i> 5S for Structure</li>
                            <li> <i  class="fa fa-caret-right fa-fw"></i> Kaizen for Overview & Insight</li>
                            <li> <i  class="fa fa-caret-right fa-fw"></i> Lean for Stability</li>
                            <li> <i  class="fa fa-caret-right fa-fw"></i> 6 Sigma for Capability enhancement</li>
                            <li> <i  class="fa fa-caret-right fa-fw"></i> DFSS for robust and consistent operations and delivery</li>
                        </ul>
                    </div>

           
          </div>
          </div>
          </div>
          <div class="container">
         
              <div class="row">
    
                  <div class="col-md-12">
                        <h4>Some projects that we managed for clients</h4>
                  </div>
    
          <div class="col-md-8">
                <div class="bg_services">
                    <ul class="checklist">
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Improving Employee Output</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Reduction of activity cycle time</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Revenue optimization</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Improve sales volume</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Streamline Payroll function</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Set-up Asset Management process</li>
                        <li> <i  class="fa fa-caret-right fa-fw"></i> Enhance manpower utilization</li>
                    </ul>
                </div>

          </div>
          <div class="col-md-4 ">
                <div class="how-img"></div>
              <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
          </div>
          </div>
          </div>
    
          <div class="container">
         
              <div class="row">
    
                  <div class="col-md-12">
                      <div class="mhalf2">
                          <h4>How does it help you?</h4>
                      </div>
                    </div>
    
          <div class="col-md-8 ">
                <div class="how-img"></div>
               <!-- <img src="../../../../../../assets/images/banner/dummy.jpg" class=" img-fluid" alt=""/> -->
          </div>
          <div class="col-md-4">
             

           
              <div class="bg_services">
                  <ul class="checklist">
                      <li> <i  class="fa fa-caret-right fa-fw"></i> Efficient data visualisation</li>
                      <li> <i  class="fa fa-caret-right fa-fw"></i> Business intelligence through data</li>
                      <li> <i  class="fa fa-caret-right fa-fw"></i> Real time tracking of KPIs</li>
                      <li> <i  class="fa fa-caret-right fa-fw"></i> Control on process health and hygiene</li>
                      <li> <i  class="fa fa-caret-right fa-fw"></i> Real time data analytics</li>
                      <li> <i  class="fa fa-caret-right fa-fw"></i> Improves controllership</li>
                    </ul>
                </div>
          </div>
      </div>
    </div>
    
    </div>
    

<div class="space-60"></div>