<div class="burger-icon" id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="header nav-menu header-sp container">
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li *ngIf="loginStatus" routerLinkActive="active" class="nav-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <!-- <li routerLinkActive="active" class="nav-item"><a routerLink="/aboutUs">About Us</a></li> -->
      <li [routerLinkActiveOptions]='{exact: true}' routerLinkActive="active" class="nav-item">
        <a routerLink="/" class="flex-container flex-ai-c">
          <i class="fa fa-home fa-1x f_20 fa-fw" aria-hidden="true"></i> Home
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/aboutUs">About Us</a>
      </li>
      <li class="dropdown appdropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Smart Business Solutions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu sm-menu" role="menu">
          <li class="dropdown appdropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SBuS Services</a>
            <ul class="dropdown-menu sm-menu  sub-menu" role="menu">

              <li routerLinkActive="active" class="dropdown appdropdown">
                <a routerLink="/technoconsult">Technology Services</a>
              </li>

              <li routerLinkActive="active" class="nav-item">
                <a routerLink="/e-governence">e-Governance</a>
              </li>

              <li routerLinkActive="active" class="nav-item">
                <a routerLink="/appdevelopment">Application Development</a>
              </li>

              <li routerLinkActive="active" class="nav-item">
                <a routerLink="/business">Business Re-Engineering</a>
              </li>

              <li routerLinkActive="active" class="nav-item">
                <a routerLink="/allProducts">SBuS Products</a>
              </li>

              <!-- <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/technoconsult">Technology Services</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/e-governence">e-Governance</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/appdevelopment">Application Development</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/business">Business Re-Engineering</a>
                </li> -->
            </ul>

          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/allProducts">SBuS Products</a>
          </li>
          <!-- <li routerLinkActive="active" class="nav-item">
            <a routerLink="/technoconsult">Technology Services</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/e-governence">e-Governance</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/appdevelopment">Application Development</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/business">Business Re-Engineering</a>
          </li> -->
        </ul>
      </li>

      <!-- <li routerLinkActive="active" class="nav-item">
        <a routerLink="/allProducts">Products</a>
      </li> -->
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/careers">Career</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>