<div class="burger-icon" id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="header nav-menu header-sp container">
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <!-- <li class="nav-item dropdown add-dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Course Offering
        </a>
        <div class="dropdown-menu">
          <a class="float-left active" data-screen="1">
            <i class="fa fa-caret-left float-right"></i>
            Rite Erp
          </a>
          <a class="float-left" data-screen="2">
            <i class="fa fa-caret-left float-right"></i>
            Rite Campus
          </a>
          <a class="float-left" data-screen="3">
            <i class="fa fa-caret-left float-right"></i>
            Easy Ship
          </a>
          <a class="float-left" data-screen="4">
            <i class="fa fa-caret-left float-right"></i>
            Skill Passport
          </a>
          <ul class="list-group list-item-screen">
              <div class="list-item-screen-1">
                <h2>Rite Erp</h2>
              </div>
              <div class="list-item-screen-2 d-none">
                <h2>Rite Campus</h2>
              </div>
              <div class="list-item-screen-3 d-none">
                <h2>Rite Ship</h2>
              </div>
              <div class="list-item-screen-4 d-none">
                <h2>Rite Passport</h2>
            </div> 
          </ul>
        </div>
      </li> -->
      
      <li routerLinkActive="active" class="nav-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="/courses">Course Offerings</a></li>
      <li routerLinkActive="active" class="nav-item"><a routerLink="/support">Support</a></li>
      <!-- <a href="/#subscription-form" title="start your trail subscription" class="button button-s">Start Trial</a> -->
    </ul>
  </nav>
</div>