<div class="burger-icon" id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="header nav-menu header-sp container">
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">

      <li *ngIf="loginStatus" routerLinkActive="active" class="nav-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <!-- <li routerLinkActive="active" class="nav-item"><a routerLink="/aboutUs">About Us</a></li> -->
      <li [routerLinkActiveOptions]='{exact: true}' routerLinkActive="active" class="nav-item">
        <a routerLink="/" class="flex-container flex-ai-c">
          <i class="fa fa-home fa-1x f_20 fa-fw" aria-hidden="true"></i> Home
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/aboutUs">Why Mactec</a>
      </li>


      <li class="dropdown appdropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu sm-menu" role="menu">
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/smartEmployee">Smart Employee Services</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/finance-accounts">Finance & Accounting</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/technoconsult">Technology Services</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/e-governence">e-Governance</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/appdevelopment">Application Development</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/business">Business Re-Engineering</a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/allProducts">Products</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/careers">Career</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/contact">Contact</a>
      </li>
     
    </ul>
  </nav>


</div>

<!-- <li class="nav-item dropdown add-dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Course Offering
        </a>
        <div class="dropdown-menu">
          <a class="float-left active" data-screen="1">
            <i class="fa fa-caret-left float-right"></i>
            Rite Erp
          </a>
          <a class="float-left" data-screen="2">
            <i class="fa fa-caret-left float-right"></i>
            Rite Campus
          </a>
          <a class="float-left" data-screen="3">
            <i class="fa fa-caret-left float-right"></i>
            Easy Ship
          </a>
          <a class="float-left" data-screen="4">
            <i class="fa fa-caret-left float-right"></i>
            Skill Passport
          </a>
          <ul class="list-group list-item-screen">
              <div class="list-item-screen-1">
                <h2>Rite Erp</h2>
              </div>
              <div class="list-item-screen-2 d-none">
                <h2>Rite Campus</h2>
              </div>
              <div class="list-item-screen-3 d-none">
                <h2>Rite Ship</h2>
              </div>
              <div class="list-item-screen-4 d-none">
                <h2>Rite Passport</h2>
            </div> 
          </ul>
        </div>
      </li> -->









<!-- <li routerLinkActive="active" class="nav-item"><a  class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Services
      
        <div class="dropdown-menu ">
          <a class="float-left " data-screen="1">
          Rite Erp<i class="fa fa-caret-right float-right"></i>
          </a>
          <a class="float-left" data-screen="2">
          Rite Campus<i class="fa fa-caret-right float-right"></i>
          </a>
          <a class="float-left" data-screen="3">
          Easy Ship<i class="fa fa-caret-right float-right"></i>
          </a>
          <a class="float-left" data-screen="4">
          Skill Passport<i class="fa fa-caret-right float-right"></i>
          </a>
       
        </div>
      </a>
      </li> -->
<!-- <li routerLinkActive="active" class="nav-item"><a routerLink="/feature">Features</a></li> -->