
.sbus-tabs {
    .sbus-controls{
        position: sticky;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        z-index: 1000;    
        min-height: 4rem;
        transition: 0.1s all linear;
        &.up {
            top: 100vh;
        }
        &.down {
            top: calc( 100vh - 4rem );
        }
    }
    .sales-img {
        padding:  3rem 0 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-tabs {
        justify-content: space-around;
        border-bottom: none;
        flex-wrap: nowrap;

        .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: white;
                font-size: 0.65rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover {
                    border-radius: 0rem;
                    border: none;
                    background-color: var(--quaternary-color);
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.dummy-container {
    display: block;
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
}
@media only screen and ( min-width: 980px) {
    .sbus-tabs {
        .nav-tabs {
            flex-wrap: wrap;
            .nav-item {
                a {
                    font-size: 1rem;
                }
            }
        }
    }
}