<section class="banner">
  <div class="page-banner" style="background-color: var(--quinary-background-color)">
		<div class="banner-content container">
			<h2 class="banner-heading">SBuS Services</h2>
		</div>
	</div>
</section>



<section class="sbus-tabs">
  <!-- Nav tabs -->
  <div class="sbus-controls up">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="currentsec=='finance-accounting'?'active':''" data-toggle="tab" href="#home">Finance & Accounting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="currentsec=='information-technology'?'active':''" data-toggle="tab" href="#menu1">Information & Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="currentsec=='operation-excellence'?'active':''" data-toggle="tab" href="#menu2">Operation Excellence</a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" [ngClass]="currentsec=='finance-accounting'?'active':'fade'" id="home">
      <app-finance-accounting></app-finance-accounting> 
    </div>
    <div class="tab-pane" [ngClass]="currentsec=='information-technology'?'active':'fade'" id="menu1">
        <app-technology-consulting-service></app-technology-consulting-service>
    </div>
    <div class="tab-pane" [ngClass]="currentsec=='operation-excellence'?'active':'fade'" id="menu2">
      <app-operational-excellence></app-operational-excellence>
    </div>
  </div>
</section>
