.parallax-banner {
	background-image: url(../../../../../../assets/images/whyMactec/technologyAndAccounting.jpg);
	width: 100%; 
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column;
	filter: grayscale(0.4);

	h4{ text-shadow: 0px 0px 10px #444444; text-align: center; }
	h2{ text-shadow: 0px 0px 10px #444444; font-size: 3rem;  
		text-transform: capitalize;
		font-weight: bolder; 
		 padding: 0 30px;
		 text-align: center; 
		}
}
.techno-img{
	background: url(../../../../../../assets/images/services/techno/techno.png);
	width: 100%; 
	height: 100%;
	background-position: 37% 100%;
	background-size: cover;
	min-height: 200px;
}
// .technology-img{
// 	background: url(../../../../../../assets/images/services/techno/technolys.png);
// 	width: 100%; 
// 	height: 100%;
// 	background-position: 37% 100%;
// 	background-size: cover;
// 	min-height: 200px;
// }

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
	background: #00000073;
	/* opacity: 0.5; */
}
.col-count{
	p{
		column-count: 2;
		column-gap: 2rem;
	}
}
.mar_bbm{
	margin-bottom: 4rem;
}
.mhalf {
	margin-left: calc(50% + 1.5rem);
}
.mhalf1 {
  margin-left: calc(30% + 3rem);
}
.bg_services{
	ul{
		padding-left: 0px;
		li{
			list-style: none; 
			margin-bottom: 10px;
			font-size: 0.906rem;
			.fa-fw{
margin-left: -10px;
			}

}
	}
}
.modal-body{
	ul{
		padding-left: 0px;
		li{
			list-style: none;
		}
	}
}

.how-section1{
.container{
	margin-bottom:4rem;



}
}

.how-section1 h4{
    color: #212529;
  //  font-weight: bold;
    font-size: 22px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.bg_services{
	background: #f9f9f9;
	padding: 1rem;
}
.how-img 
{
background:	linear-gradient(45deg,#848484,#dadada); 
height:100%; width:100%; 
    text-align: center;
}
.how-img img{
    width: 100%;
}

.viewServices {
	p {
		font-size: 14px;
	}
	.checklist {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			font-size: 14px;
			margin-bottom: 14px;
		}
		li:before {
			content: '\f00c';
			font-family: FontAwesome;
			color: #f07615;
			font-size: 10px;
			margin-right: 5px;
			border: 1px solid;
			border-radius: 50%;
			padding: 2px;
		}
	}
	.workList {
		padding: 0;
		list-style-type: none;
		li {
			float: left;
			width: 48%;
			margin: 1%;
			text-align: center;
			background: #f1f1f1;
			padding: 30px 0px 0px 0;
			height: 150px;
		}
	}
	.serviceInfo {
		//   border-bottom: 1px solid #f07615;
		padding: 20px 0;
		/*  box-shadow: 0px 2px #ddd; */
		& :last-child {
			border-bottom: 0px;
		}
	}
	h5 {
		color: #212529;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 0;
	}
}
.modal.show .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	margin-top: 8%;
}
.modal-body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
	min-height: 200px;
	overflow-y: auto;
	height: 350px;
}


.slide-content {
	color: #fff;
	text-align: center;
	width: 315px;
	margin: 0 auto;
  
  }
  
  @media screen and (min-width:320px) and (max-width:425px) {

	.mhalf {
		margin-left: 0;
	}
	.mainHeader[_ngcontent-c5] {
	
		top: 2.5rem;
	
	}
	.somclient{
		ul{
			display: flex;
			flex-wrap: wrap;
		li{
		
			flex:0 0 calc(50% - 0.5rem);

		}
		}
	}
	.col-count{
		p{
			column-count: 1;
			column-gap: 2rem;
		}
	}	
	.parallax-banner{
		h2 {
			font-size: 2rem;
			}
	} 
}
  @media only screen and (min-width:768px){
	.slide-content {
		color: #fff;
		text-align: center;
		width: 70%;
		margin: 0 auto;
	
	}
	.parallax-banner{
		h2 {
			font-size: 2rem;
			}
	} 
	}
  @media only screen and (min-width:1024px){
	.parallax-banner {
		background-image: url(../../../../../../assets/images/whyMactec/technologyAndAccounting.jpg);
		width: 100%;
		height: 400px;
		background-attachment: inherit;
		background-position: 100% 20%;
		background-size: cover;
		h2 {
			font-size: 3rem;
			position: relative;
			top: -17px;
			}
	}
	.slide-content {
	  text-align: center;
	  color: #fff;
	  text-align: center;
	  width: 70%;
	  margin: 0 auto;
  
  }
  
  
  .h2, h2 {
  font-size: 4rem;
  }
  }  