<div class="parallax-banner">

        <div class="slide-content">
                <h2 class="slide-heading"> TECHNOLOGY SERVICE</h2>
            </div>
</div>
<div class="space-40"></div>
<div class="container">
    <div class="viewServices">
        <div class="row">
            <div class="col-md-12">
                    <h5>Technology Service</h5>
                <div class="serviceInfo">
                    <p>Our technology consulting service not only allows our customers implement strategies to marginalize cost
                        but also add value and benefits from world class service levels and reliability that might otherwise
                        be inaccessible. Our IT offshoring services are primarily on application development support, UI/UX
                        design and software testing along with the networking and system administration and maintenance (Dev
                        Ops)</p>
                    <p>MacTec is an expert in the evolving ITO marketplace. By using our proprietary methodology and knowledge
                        base, we can develop and tailor your IT outsourcing strategy.</p>
                    <p>All our employees are office-based to ensure that the quality of communication and output is maintained
                        at a high level. We have our own leased line to guarantee uninterrupted and high-speed internet connection
                        with fiber optic cable as the backbone network.</p>
                    <p>Our service is exactly what we say it is.</p>
                    <p>OFFSHORE DEDICATED TEAM IS READY TO WORK ON YOUR PROJECTS IN THE AREAS OF</p>
                    <ul class="checklist">
                        <li>
                            <a href="#viewWeb" data-toggle="modal">Web & Mobile App Development</a>
                        </li>
                        <li>
                            <a href="#viewTesting" data-toggle="modal">Software Testing</a>
                        </li>
                        <li>
                            <a href="#viewProduct" data-toggle="modal">Product Development</a>
                        </li>
                    </ul>
                </div>


                <div class="modal fade" role="dialog" id="viewWeb">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Web & Mobile App Development</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>At MacTec our employees are highly qualified, screened for all required skill sets, and proficient
                                    in a range of domains such as PHP, .ASP, .NET, Ruby, Java, Drupal, Word Press, Adobe
                                    CQ/AEM, Phone Gap, Android and iOS .</p>
                                <p>We save companies time by connecting our team of experts experienced in iOS , Android, UI
                                    Designs, front-end technologies (HTML, CSS, JavaScript, jQuery , Angular.Js) or full-stack
                                    (front-end skills plus PHP, Ruby, Python, Java or .Net) ,Adobe CQ/AEM , Word press and
                                    Drupal with our clients teams. We’ve got our sight set on these specialties, but we’ll
                                    be just as effective in finding the best candidates for your needs.</p>
                                <ul class="checklist">
                                    <li>E-Commence Solutions</li>
                                    <li>Content Management System</li>
                                    <li>Application Development</li>
                                    <li>Mobile Apps</li>
                                    <li>Front-End UI/UX</li>
                                    <li>Quality Assurance/li>
                                        <li>Graphic Designing</li>
                                        <li>Project Management Group</li>
                                        <li>Maintenance and support</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" role="dialog" id="viewTesting">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Software Testing</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Add a Virtual Software tester to your team if you’d like to ease the workload of your on-site
                                    Quality Assurance team and Managers. We can offer for you both experienced professionals
                                    and juniors that will further develop their skills under your direct supervision.</p>
                                <p>If you need a reliable resource either Automation or Manual tester to take on some of your
                                    responsibilities, we’ll make sure our candidates will not only have sound technical capabilities
                                    but they’ll also work well with the rest of your team and clients.</p>
                                <p>Our software testing team of experts are industry professionals &amp; specialists proficient
                                    in all elements of software testing, from regression and automation to security and performance
                                    testing. MacTec specialises in providing QA Testers of the highest quality who will continue
                                    to exceed your expectations ongoing with areas of expertise in manual testing and Automation
                                    testing tools like Selenium, Cucumber, Load Runner, Jmeter,Sikuli, Rational Robot etc.
                                    Our range of services include Project &amp; Test Management, Web application testing
                                    (API Testing (Soap UI), Drupal testing, Adobe CQ testing, etc.), Cross browser testing,
                                    Functional testing, Usability testing, UI testing, Mobile testing, Performance testing,
                                    Load testing, security testing etc.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" role="dialog" id="viewProduct">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Product Development</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>MacTec provides agile, cost effective design &amp; development support services to our client’s
                                    product needs. Our services enable complex solutions in product development.</p>
                                <p>We have a unique blend of creative and technical skills and many years of product development
                                    and product development life cycle management expertise. We thrive on technically challenging
                                    projects. Our team specializes in finding elegant solutions to difficult problems and
                                    also provide the insight, tools, and expertise to bring their ambitions to market.</p>
                                <p>Our broad range of services provides clients with everything necessary for effective product
                                    development. We aim to produce work that exceeds our client’s expectations .Our expert
                                    team of UI designers / developers, Software developers, QA testers work on a broad range
                                    of projects, including Retail, Manufacturing, Pharmaceuticals, and Education and Entertainment
                                    sectors.</p>
                                <p>MacTec believes in product innovation that redefines user experience and transforms the way
                                    we are oriented with familiarity of certain services. By leveraging cutting edge technology
                                    and innovative approach, MacTec has been constantly pushing the boundaries to change
                                    and enhance ‘User Experience’.</p>
                                <p>Our differentiation lies in having a pool of product development expertise and process excellence.
                                    We offer a range of services from technical consultancy to running projects and to product
                                    development partnership, taking full responsibility for certain parts of the customer’s
                                    portfolio and/or product development processes.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

<div class="space-60"></div>