<footer class="footer2">
    <div class="backimg_footer footer_border">
        <div class="container">
            <div class="row ">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <h5>Who We Are</h5>
                    <p>The vision of Skill Passport&trade; is to be the unique single destination platform and built a benchmark in the Learning Lifecycle Management. We aim to build the Best-in-Class Competency Assessment and Virtual Classroom by leveraging our innovative methodology, best talent and high-end technology solution.</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h5>Help</h5>
                    <ul class="ul_footer">
                        <li><a href="#">Support</a></li>
                        <!-- <li><a href="#">Contact Us</a></li> -->
                        <!-- <li><a href="#">Request a Demo</a></li> -->
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h5>Links</h5>
                    <ul class="ul_footer">
                        <li><a href="/lms-web/" target="_blank" title="student-login">Student Login</a></li>
                        <li><a href="/lms-web/admin-login" target="_blank" title="student-login">Organization Login</a></li>
                        <li><a href="#" target="_blank" title="trainer-connect"> Trainer Connect</a></li>
                        <li><a href="#" target="_blank" title="employer-connect">Employer Connect</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>Connect with us</h5>
                    <div class="flex-container flex-w-w social-links">
                        <a href="http://www.facebook.com/" title="facebook" target="_black">
                            <i class="fa fa-facebook fa_footer" aria-hidden="true"></i>
                        </a>
                        <a href="http://www.twitter.com/" title="twitter" target="_black">
                            <i class="fa fa-twitter fa_footer_twitter" aria-hidden="true"></i>
                        </a>
                        <a href="http://www.linkedin.com/" title="linkedin" target="_black">
                            <i class="fa fa-linkedin fa_footer_linkidin" aria-hidden="true"></i>
                        </a>
                        <a href="http://www.youtube.com/" title="youtube" target="_black">
                            <i class="fa fa-youtube fa_footer_youtube" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <span class="navbar-text pull-left no-margin">© 2018 - 
                <a href="#">Skill Passport</a>
            </span>
            <span class="navbar-text pull-right">
                <a href="http://www.mactecit.com/" target="_blank"> Powered by MacTec IT Solutions</a>
            </span>
        </div>
    </div>
</footer>