.footer2{
    .footer_border {
        padding: 30px 0 60px;
        font-size: 0.8rem !important;
        .ul_footer {
            padding-left: 0px;
            list-style-type: none;
            transition: all 0.03s ease-in;
            li {
                a {
                    font-size: 0.8rem;
                }
            }
        }
        .social-links{
            a{
                margin-right: 10px;
                i{
                    border-radius: 50%;
                    height: 38px;
                    width: 38px;
                    font-size: 21px;
                    line-height: 38px;
                    text-align: center;
                    transform: scale(1);
                    transition: all 0.03s ease-in;
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .row{
            &>*{
                padding: 40px 28px 0;
            }
        }
    }
    .footer-bar{
        min-height: 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        a, a:hover{
            color: var(--quaternary-color);
        }
        span{
            font-size: 13px;
            margin: 0px;
        }  
    }
}

@media only screen and ( min-width: 1020px ){
    .footer2{
        .footer-bar{
            justify-content: space-between;
            a, a:hover{
                color: var(--quaternary-color);
            }
        }
    }
} 