<footer class="footer2">
    <div class="backimg_footer footer_border">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h5>Who We Are</h5>
                    <p>We are global Smart Employee Services (SeS) provider with state-of-the-art technology and able human resources. Our spectrum of services branded as Smart Employee Services (SeS) – is widely enabled in the areas of Technology and Finance & Accounting domains. Our business model is a new outcome of outsourcing and contract employee services.</p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>Links</h5>
                    <ul class="ul_footer">

                            <li><a routerLink="/services">Smart Employee Services</a></li>
                            <li><a routerLink="/services">Finance & Accounting</a></li>
                            <li><a routerLink="/services">Technology Services</a></li>
                            <li><a routerLink="/services">e-Governance</a></li>
                            <li><a routerLink="/services">Application Development</a></li>
                            <li><a routerLink="/services">Business Re-Engineering</a></li>

                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h5>Connect with us</h5>
                    <div class="flex-container flex-w-w social-links">
                        <a href="http://www.facebook.com/" title="facebook" target="_black">
                            <i class="fa fa-facebook fa_footer" aria-hidden="true"></i>
                        </a>
                        <a href="http://www.twitter.com/" title="twitter" target="_black">
                            <i class="fa fa-twitter fa_footer_twitter" aria-hidden="true"></i>
                        </a>
                        <a href="http://www.linkedin.com/" title="linkedin" target="_black">
                            <i class="fa fa-linkedin fa_footer_linkidin" aria-hidden="true"></i>
                        </a>
                        <a href="http://www.youtube.com/" title="youtube" target="_black">
                            <i class="fa fa-youtube fa_footer_youtube" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <span class="navbar-text pull-left no-margin">&copy; 2018.   <a href="http://www.mactecit.com/">SD MacTec IT Solutions (P) Limited </a>. All Rights Reserved.
              
            </span>
 
        </div>
    </div>
</footer>