<form class="form-container" (ngSubmit)="onFormSubmit()" [formGroup]="contactFrom" *ngIf="serviceList">
  <fieldset id="form-2" *ngIf="formstep==1">
    <div class="row">
      <div class="input-box col-12 col-sm-6 col-md-6">
        <input class="form-input" formControlName="contactName" type="text" placeholder="Enter your name e.g John doe *">
        <p *ngIf="contactFrom.get('contactName').invalid && contactFrom.get('contactName').touched" class="warn-text">
          Enter a valid name eg. JohnDoe</p>
      </div>
      <div class="input-box col-12 col-sm-6 col-md-6">
        <input class="form-input" formControlName="email" type="email" placeholder="Enter your email id e.g. johndoe@example.com *">
        <p *ngIf="contactFrom.get('email').invalid && contactFrom.get('email').touched" class="warn-text">
          Enter a valid email eg. johndoe@example.com</p>
      </div>
      <div class="input-box col-12 col-sm-6 col-md-6">
        <input class="form-input" formControlName="contactNumber" type="text" placeholder="Enter your mobile no. e.g. 9999 8888 77 *">
        <p *ngIf="contactFrom.get('contactNumber').invalid && contactFrom.get('contactNumber').touched" class="warn-text">
          Enter a valid mobile number eg. 9000090000</p>
      </div>
      <div class="input-box col-12 col-sm-6 col-md-6">
        <select class="form-input" formControlName="sizeOfBusiness" placeholder="Select your size of business">
          <option name="sizeOfBusiness" value="" [selected]="'selected'"> Select your size of business*</option>
          <option name="sizeOfBusiness" value="100-500"> 10-50</option>
          <option name="sizeOfBusiness" value=" 500-1000"> 50-100</option>
          <option name="sizeOfBusiness" value=" 1000-5000"> 100-500</option>
          <option name="sizeOfBusiness" value="5000+"> 500+</option>
        </select>
        <p *ngIf="contactFrom.get('sizeOfBusiness').invalid && contactFrom.get('sizeOfBusiness').touched" class="warn-text">
          Select your business size</p>
      </div>
      <div class="input-box col-12 col-sm-6 col-md-6">
        <input class="form-input" formControlName="designation" type="text" placeholder="Enter your designation *">
        <p *ngIf="contactFrom.get('designation').invalid && contactFrom.get('designation').touched" class="warn-text">
          Enter your designation</p>
      </div>
      <div class="input-box col-12 col-sm-6 col-md-6">
        <textarea class="form-input" cols="4" formControlName="message" placeholder="Enter your Message *"></textarea>
        <p *ngIf="contactFrom.get('message').invalid && contactFrom.get('message').touched" class="warn-text">
          Enter a Message</p>
      </div>
      <div class="input-box col-12 col-sm-12 col-md-12">
        Select our service:
        <div *ngFor="let data of serviceList.response; let i of index">
          <label class="form-check-label">
            <input type="checkbox" (change)="onServiceListChange($event)" class="form-check-input" name="{{data.id}}" id="{{i}}" value="{{data.value}}">            {{data.value}}
          </label>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="button button-3" [ngClass]="{'disabled': contactFrom.invalid}" [disabled]="contactFrom.invalid">Send</button>
    </div>
  </fieldset>
  <fieldset id="form-2" *ngIf="formstep==3">
    <div class="flex-container flex-d-c flex-pc">
      <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw text-primary" aria-hidden="true" *ngIf="finalStatus==1"></i>
      <i class="fa fa-check fa-5x text-success" aria-hidden="true" *ngIf="finalStatus==2"></i>
      <i class="fa fa-exclamation fa-5x text-warning" aria-hidden="true" *ngIf="finalStatus==3"></i>
      <i class="fa fa-times fa-5x text-danger" aria-hidden="true" *ngIf="finalStatus==4"></i>
      <p class="text-center" [innerHTML]="statusMessage"></p>
    </div>
  </fieldset>
</form>