.routerContainer{
    position: relative;
    &>*{
        display: block;
    }
}

@media only screen and (min-width: 1024px){
    .layer-1{
        z-index: 10000;
    }
    .layer-2{
        margin-bottom: 344px;
        z-index: 1100;
        box-shadow: 0px -4px 33px 0px #000;
    }
    .layer-3{
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
}