<div class="parallax-banner">
        <div class="slide-content">
                <h2 class="slide-heading">Contact Us</h2>
                <p class="slide-text">Feel free to contact us any time</p>
            </div>


</div>
<div class="contact-us-page">
<div class="container">
                <div class="row">
    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
    
                        <div class="contact-us-form">
    
                            <h3>Send A Message</h3>
    
                           
    
                            <form action="inc/sendemail.php" class="form-validation" autocomplete="off" novalidate="novalidate">
    
                                <div class="row">
    
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
                                        <input name="name" placeholder="Username" type="text">
    
                                    </div>
    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
                                        <input name="email" placeholder="Email" type="email">
    
                                    </div>
    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
                                        <input name="sub" placeholder="Subject" type="text">
    
                                    </div>
    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
                                        <textarea name="message" placeholder="Write Message"></textarea>
    
                                        <button class="button button-s" title="Send">send message</button>
    
                                    </div>
    
                                </div>
    
                            </form>
    
    
    
                        </div> <!-- /.contact-us-form -->
    
                    </div> <!-- /.col- -->
    
    
    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
    
                        <div class="contactUs-address">
    
                            <!-- <h3>CONTACT US</h3> -->
    
                            <p>Welcome to our website , Feel free to contact us any time </p>
    <div class="row mr_l0">
    <div class="col-md-6">

        <ul>
        
            <li>
        
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
        
                <a href="mailto:helpneed@edutech.com" class="tran3s">info@mactecit.com</a>
        
            </li>
        
    
        
          
        
        </ul>
    </div>
    <div class="col-md-6">
            <ul>
            <li>
         <i class="fa fa-phone" aria-hidden="true"></i>
             <a href="tel:+8801712570051" class="tran3s">INDIA : (+91) 40 6514 2434</a><br/>
             <a href="tel:+1 848-217-1487" class="tran3s">USA : (+1) 848-217-1487</a>
              </li>
       </ul>

    </div>
</div>
    
<div class="row mr_l0">
        <div class="col-md-12">
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
        
                    <h4> <b> INDIA</b> </h4>1-98/K/15, 2nd Floor, Krithika Layout <br>Opposite Image Gardens, Hitech City , Rd, Hyderabad, Telangana 500081
            <div class="space-20"></div>
                    <h4> <b>USA</b> </h4>74 Dublin Road. Skillman <br/> New Jersey – 08558 USA
            
            
            
                </li>
                </ul>
            </div>
            </div>
            
    
    
                        </div> <!-- /.our-address -->
    
                    </div>
    </div>
                </div> <!-- /.row -->
    
</div>
