<div class="page-banner" style="background-color: var(--tertiary-background-color)">
    <div class="banner-content container">
        <div class="logo-img">
            <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" style="enable-background:new 0 0 29.731 29.731;"
                version="1.1" viewBox="0 0 29.731 29.731" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px"><g>
                    <path
                        d="M23.895,29.731c-1.237,0-2.731-0.31-4.374-0.93c-3.602-1.358-7.521-4.042-11.035-7.556
                            c-3.515-3.515-6.199-7.435-7.558-11.037C-0.307,6.933-0.31,4.245,0.921,3.015c0.177-0.177,0.357-0.367,0.543-0.563
                            c1.123-1.181,2.392-2.51,4.074-2.45C6.697,0.05,7.82,0.77,8.97,2.201c3.398,4.226,1.866,5.732,0.093,7.478l-0.313,0.31
                            c-0.29,0.29-0.838,1.633,4.26,6.731c1.664,1.664,3.083,2.882,4.217,3.619c0.714,0.464,1.991,1.166,2.515,0.642l0.315-0.318
                            c1.744-1.769,3.25-3.296,7.473,0.099c1.431,1.15,2.15,2.272,2.198,3.433c0.069,1.681-1.27,2.953-2.452,4.075
                            c-0.195,0.186-0.385,0.366-0.562,0.542C26.103,29.424,25.126,29.731,23.895,29.731z M5.418,1C4.223,1,3.144,2.136,2.189,3.141
                            C1.997,3.343,1.811,3.539,1.628,3.722C0.711,4.638,0.804,7.045,1.864,9.856c1.31,3.472,3.913,7.266,7.33,10.683
                            c3.416,3.415,7.208,6.018,10.681,7.327c2.811,1.062,5.218,1.152,6.133,0.237c0.183-0.183,0.379-0.369,0.581-0.56
                            c1.027-0.976,2.192-2.082,2.141-3.309c-0.035-0.843-0.649-1.75-1.825-2.695c-3.519-2.83-4.503-1.831-6.135-0.176l-0.32,0.323
                            c-0.78,0.781-2.047,0.608-3.767-0.51c-1.193-0.776-2.667-2.038-4.379-3.751c-4.231-4.23-5.584-6.819-4.26-8.146l0.319-0.315
                            c1.659-1.632,2.66-2.617-0.171-6.138C7.245,1.651,6.339,1.037,5.496,1.001C5.47,1,5.444,1,5.418,1z"></path>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g></svg>
        </div>
        <div class="heading-content">
            <h2 class="banner-heading">Contact us</h2>
            <p class="banner-subheading">
                Feel free to contact us any time
            </p>
        </div>

    </div>
    <svg x="0px" y="0px" viewBox="0 0 1000 78" style="enable-background:new 0 0 1000 78; fill: #ffffff;">
        <g>
            <polygon points="1000,78 1000,0 0,78" />
        </g>
    </svg>
</div>
<div class="contact-us-page">
    <div class="container">

        <h2 class="text-center font_csss"> WHAT'S YOUR BUSINESS CHALLENGE?</h2>
        <p class="text-center font_csss">Request a POC today</p>
        <h5 class="text-center">Got an interesting business case? We will be happy to invest in it, along with you, to work
            out a solution. We will go on to co-develop the first-level Proof of Concept.</h5>

        <form name="form" (ngSubmit)="f.form.valid &&  onSubmit4th()" #f="ngForm" novalidate>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">

                        <input placeholder="Name*" type="text" class="form-control css_fields" name="fromContactName" [(ngModel)]="model.fromContactName"
                            #fromContactName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fromContactName.invalid }" required
                        />
                        <div *ngIf="f.submitted && fromContactName.invalid" class="invalid-feedback">
                            <div *ngIf="fromContactName.errors.required"> Name required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">


                        <input placeholder="Email*" type="email" class="form-control css_fields" name="toContactName" [(ngModel)]="model.toContactName"
                            #toContactName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && toContactName.invalid }" required
                        />

                        <div *ngIf="f.submitted && fromContactNumber.invalid" class="invalid-feedback">
                            <div *ngIf="fromContactNumber.errors.required">Email is required</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">
                        <!-- <label for="fromContactNumber">contact Number</label> -->
                        <input placeholder="contact Number*" type="text" class="form-control css_fields" name="fromContactNumber" [(ngModel)]="model.fromContactNumber"
                            #fromContactNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fromContactNumber.invalid }"
                            required />

                        <div *ngIf="f.submitted && fromContactNumber.invalid" class="invalid-feedback">
                            <div *ngIf="fromContactNumber.errors.required">ContactNumber is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">

                        <!-- <label for="sizeOfBusiness">size Of Business</label> -->

                        <select class="form-control css_fields" name="sizeOfBusiness" [(ngModel)]="model.sizeOfBusiness" style="margin-top:24px;">
                            <!--   <option>size Of Business</option> -->
                            <option value={{Timeline.name}} name="sizeOfBusiness" *ngFor="let Timeline of size">
                                {{Timeline.name}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">
                        <!-- <label for="Designation">Designation</label> -->
                        <input placeholder="Designation*" type="text" class="form-control css_fields" name="Designation" [(ngModel)]="model.Designation"
                            #Designation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Designation.invalid }" required
                        />

                        <div *ngIf="f.submitted && Designation.invalid" class="invalid-feedback">
                            <div *ngIf="Designation.errors.required">Designation is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">
                        <!-- <label for="toContactNumber">Message</label> -->
                        <input placeholder="Message*" type="text" class="form-control css_fields" name="toContactNumber" [(ngModel)]="model.toContactNumber"
                            #toContactNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && toContactNumber.invalid }" required
                        />
                        <div *ngIf="f.submitted && toContactNumber.invalid" class="invalid-feedback">
                            <div *ngIf="toContactNumber.errors.required">Message is required</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-left:20px">

                <div class="list-group">
                    <h5> Select our services</h5>

                    <div class="checkbox pull-left" *ngFor="let all of responds">

                        <form id="myform" class="checkboxes">
                            <label><input type="checkbox" name="checkfield" id="{{all.id}}" />{{all.value}}</label>

                        </form>
                    </div>
                </div>


            </div>

            <div class="form-group" style="text-align:center">
                <button class="button button-3">Send</button>
            </div>

        </form>








        <div class="row">

            <div class="col-md-12">
                <img src="/assets/images/banner/map.jpg" class="img-fluid" alt="office-map">

                <div class="row">
                    <div class="col-md-6">
                        <div class="brd_cnt"><b>INDIA OFFICE </b></div>
                        <div class="row">

                            <div class="col-md-6">


                                <i class="fa fa-home" aria-hidden="true"></i> 2nd Floor and 5th Floor,
                                <br /> 1-98/K/15, Krithika Layout, Madhapur, Hyderabad,
                                <br /> Telangana 500081
                                <br />
                                <i class="fa fa-phone-square" aria-hidden="true"></i> +91 40 6514 2434
                                <br />
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:info@mactecit.com"> info@mactecit.com</a>
                                <br />
                                <br />
                                <br />
                            </div>
                            <div class="col-md-6">

                                <i class="fa fa-home" aria-hidden="true"></i> 1st Floor, No. 110 Luxury Village,
                                <br /> Mangalagiri Road, Vijayawada, AP
                                <br />
                                <i class="fa fa-phone-square" aria-hidden="true"></i> + 91 798-942-3589
                                <br />
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:info@mactecit.com"> info@mactecit.com</a>
                                <br />
                                <br />
                                <br />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="brd_cnt"><b>US OFFICE </b></div>
                        <div class="row">
                            <div class="col-md-6">

                                <i class="fa fa-home" aria-hidden="true"></i> 74 Dublin Road. Skillman
                                <br /> New Jersey – 08558 USA
                                <br />
                                <i class="fa fa-phone-square" aria-hidden="true"></i> +1 703-665-4255
                                <br />
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:info@mactecit.com"> info@mactecit.com</a>
                                <br />
                                <br />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<svg x="0px" y="0px" viewBox="0 0 1000 78" style="enable-background:new 0 0 1000 78; fill: var(--secondary-color);">
    <g>
        <polygon points="1000,78 0,0 0,78" />
    </g>
</svg>