
.parallax-banner{
    background: url("/assets/images/banner/contact-us1.png");
    width: 100%; 
    height: 400px;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    filter: grayscale(0.4);
  
    h4{ text-shadow: 0px 0px 10px #444444; text-align: center; }
    h2{ text-shadow: 0px 0px 10px #444444; font-size: 3rem;  
      text-transform: capitalize;
      font-weight: bolder; 
       padding: 0 30px;
       text-align: center; 
      }
      p{
        text-align: center;
      }
  }
  .form-validation{
    margin-bottom: 3rem;
  }
  .send_btn{
    color: var(--quaternary-color) !important;
    background-color: var(--primary-background-color);
    padding: 0;
    border: 0;
    border-radius: 2px;
    &:hover{
      color: var(--quaternary-color) !important;
      background-color: var(--primary-background-color);
      padding: 0;
      border: 0;
      border-radius: 2px;
    }
  }

  .list-group{
    display: block;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
  }
.brd_cnt{
  border-bottom: 1px #ccc solid;
  margin-bottom: 15px;
}
.float-left { float: left;}
.pull-left {
  float: left;
  width: 50%;
}

@media (min-width: 375px) and (max-width: 425px)
   {
    .pull-left {
      float: left;
      width: 100%;
    }
   }


.contact-us-page{    margin: 60px 0;}

.contact-us-page h3 {
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact-us-page .contact-us-form form .row {
  margin-right: -10px;
  margin-left: -10px;
}

.contact-us-page .contact-us-form form .row [class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
    color: #525252;
}

.contact-us-page .contact-us-form .macon,
.contact-us-page .contact-us-form textarea {
  background: #fff;
  border: 1px solid #666;
  width: 100%;
  font-size: 13px;
  padding: 14px 10px 14px 10px;
  margin-bottom: 11px;
}

/* .contact-us-page .contact-us-form input {

  height:50px;

} */
.mr_l0 ul{padding-left:0px;}
.contact-us-page .contact-us-form textarea {
  height:75px;
  max-width: 100%;
  padding: 20px 20px 15px 10px;
}

.contact-us-page .contact-us-form button {
      width: 160px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-us-page .contact-us-form input:focus,
.contact-us-page .contact-us-form textarea:focus {
  border-color: var(--primary-color);
}

.contact-us-page .contact-us-form form ::-webkit-input-placeholder {
text-transform: uppercase;
}



.contact-us-page .contact-us-form form :-moz-placeholder { /* Firefox 18- */
  text-transform: uppercase;}



.contact-us-page .contact-us-form form ::-moz-placeholder {  /* Firefox 19+ */
  text-transform: uppercase;}



.contact-us-page .contact-us-form form :-ms-input-placeholder {    text-transform: uppercase;}

.contact-us-page .contactUs-address {  padding-left: 0px;     margin-top: 50px;}

.contact-us-page .contactUs-address ul li {
  display: block;
  border:1px solid #cac6c6;
  //width:298px;
  height:auto;
  position: relative;
  text-align: center;
  margin-bottom: 38px;
  padding-top: 27px;
  padding-bottom: 10px;
  min-height: 95px;
}

.contact-us-page .contactUs-address ul li i {
  width:35px;
  height:35px;
  border-radius: 50%;
  background: var(--primary-background-color);
  line-height: 35px;
  text-align: center;
  color:#fff;
  font-size: 16px;
  position: absolute;
  top:-17px;
  left:50%;
  margin-left: -17px;
   font-weight: bold;
}

.contact-us-page .contactUs-address ul li i.fa-map-marker {
  font-size: 18px;}
textarea:focus, input:focus{
  outline: none;}

.contact-us-page .contactUs-address ul li,.contact-us-page .contactUs-address ul li a {
  color:#000;}

.warn-text{
  font-size: 0.8rem;
  color: red;
  margin: -5px 0px 15px 10px;
}

.slide-content {
  color: #fff;
  text-align: center;
  width: 315px;
  margin: 0 auto;

}

@media screen and (min-width: 320px) and (max-width: 425px){
  .parallax-banner {
    h2{
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width:768px){
  .slide-content {
      color: #fff;
      text-align: center;
      width: 420px;
      margin: 0 auto;
      
  }
  .parallax-banner {
    h2{
      font-size: 2rem;
    }
  }
  }
@media screen and (min-width:1024px) and (max-width:3000px){
  .parallax-banner{
    background: url("/assets/images/banner/contact-us1.png");
    width: 100%;
    height: 400px;
    background-position: bottom;
    background-size: 100%;
    background-attachment: inherit;

        /* background-attachment: fixed; 
         background-attachment: fixed;
    background-position: center;
    background-size: cover; 
        */
 

    .h2, h2 {
      font-size: 3rem;
      display: flex;
      justify-content: center; 
      align-items: center;
      flex-direction: column;
      filter: grayscale(0.4);
      }
}
  .slide-content {
    text-align: center;
    color: #fff;
    text-align: center;
    width: 600px;
    margin: 0 auto;

}


.slide-content p {
  font-size: 1.1rem;
}


  }


  .class_h3{

    color: #373737;
    margin-bottom: 0px;
    position: relative;
    margin-bottom: 30px;
    padding: 0;
    border-bottom: 0;
    text-align: left;
    font-size: 37px;
    font-weight: 1000;
    text-transform: uppercase;
  }
.class_para {
    font-size: 21px;
    font-weight: lighter;
}

.slect_css {
  border: 1px solid #666666;
  border-radius: 0px;
  height: 49px;
  padding: 8px 8px 11px 9px;
}

.mar_bottom{
  margin-bottom: 11px;
}
@media only screen and (max-width: 375px) {
  .bg_grey {
    padding: 2rem 0rem;
  }
}

.css_fields {
  padding: 14px 10px 14px 10px;
  height: 49px;
  border: 1px solid #666;
  border-radius: 0;
}

.font_csss {
  font-weight: 1000;
  /* font-size: 12px; */
}