.header-sp{
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s all;
    z-index: 10;
    z-index: 1000;
    background: transparent;
    &.sticky{
        position: fixed;
        top: 0;
        height: 4.5rem;
        background: var(--quaternary-background-color);
        box-shadow: 0px 0px 50px 0px var(--quinary-transparent-color);
    }
}

@media only screen and (min-width: 1020px) {
    .header-sp{
        &.sticky{
            height: 3.5rem;
        }
    }
}