.header-sp{
    height: 92px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s all;
    z-index: 10;
    z-index: 1000;
    background: transparent;
    &.sticky{
        position: fixed;
        top: 0;
        height: 70px;
        background: white;
        border-bottom: 2px solid #f07615;
        box-shadow: 0px 0px 50px 0px #44444421;
    }
}