<div id="banner1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000" data-pause="hover">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item" [ngClass]="i==0?'active':''" *ngFor="let pdata of sliderContent; let i = index;">
      <div class="container banner-content">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-12 slide-content flex-container flex-d-c flex-jc-sb">
            <div class="content-box">
              <h2 [innerHTML]="pdata.heading"></h2>
              <h5>
                <i class="subheading">{{pdata.subheading}}</i>
              </h5>
              <p class="content" [innerHTML]="pdata.content"></p>
              <ul class="slide-features animate a-right" *ngIf="pdata.seclist">
                <li *ngFor="let data of pdata.seclist">
                  <h5 class="text-center">
                    <i class="fa {{data.icon}}" aria-hidden="true"></i>
                  </h5>
                  <h6>{{data.heading}}</h6>
                  <p>{{data.content}}</p>
                </li>
              </ul>
              <div class="emp-text e1 animate a-left" *ngIf="pdata.secheading">
                <h5 class="text-center">
                  <i>
                    {{pdata.secheading}}
                  </i>
                  <br>
                </h5>
                <p class="text-center">
                  <i>
                    {{pdata.seccontent}}
                  </i>
                </p>
              </div>
              <div class="emp-text animate a-right" *ngIf="pdata.feature">
                <ul class="slide-list">
                  <li *ngFor="let data of pdata.feature">
                    {{data}}
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <a routerLink="{{pdata.link}}" *ngIf="pdata.type=='page'" class="button button-3">Learn more</a>
              <a href="{{pdata.link}}" *ngIf="pdata.type=='web'" target="_blank" class="button button-4">Learn more <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="offset-md-1 offset-sm-1 col-md-4 col-sm-4 col-12 slide-img animate a-top">
            <img alt="First slide" src="{{pdata.imagepath}}">
          </div>
        </div>
      </div>
      <svg id="Layer_1" style="enable-background:new 0 0 1000 140;fill: #f1f1f1;" viewBox="0 0 1000 140" x="0px" y="0px">
        <g >
          <polygon points="1000,140 1000,0 0,140"></polygon>
        </g>
      </svg>
    </div>
  </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#banner1" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" id="auto-next"  href="#banner1" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>

</div>