.carousel-control-next, .carousel-control-prev {
    width: 10%;
}
.carousel {
    position: relative;
    height: 100vh;
}
.carousel-inner {
    .carousel-item {
        width: 100%; 
        height: auto;
        min-height: 100vh;
        padding: 1rem 1rem 2.5rem;
        .banner-content {
            color: var(--quaternary-color);
            margin:0rem auto;
            .button {
                margin: 1rem 0rem;
                display: inline-block;
                text-transform: inherit;
            }
            .slide-content {
                padding-top: 3rem;
                font-weight: 100;
                height: auto;
                h2 {
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: #f07615;
                    sup {
                        font-size: 1rem;
                        top: -1rem;
                        left: 0.3rem;
                    }
                }
                .subheading {
                    display: block;
                }
                .content {
                    font-size: 0.9rem;
                    font-weight: 400;
                    text-align: justify;
                }
                .slide-features {
                    display: none;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    li {
                        position: relative;
                        list-style-type: none;
                        flex: 0 0 calc(100% - 1rem);
                        margin: 0 0.5rem;
                        h6 {
                            font-size: 0.9rem;
                            text-align: center;
                            font-weight: 600;
                        }
                        p {
                            padding: 0;
                            font-size: 0.9rem;
                            text-align: center;
                        }
                        &:not(:last-child)::after {
                            content: "";
                            width: 1px;
                            height: 2rem;
                            background-color: var(--quaternary-color);
                            display: block;
                            position: absolute;
                            right: -0.5rem;
                            top: 1rem;
                        }
                    }
                }
                .slide-list {
                    padding: 0;
                    display: none;
                    flex-wrap: wrap;
                    li {
                        font-size: 0.8rem;
                        flex: 0 0 100%;
                    }                                        
                }
            }
            .slide-img {
                display: flex;
                justify-content: center;
                align-items: center;                    
                height: auto;
                img {
                    position: absolute;
                    width: auto;
                }
                .mobileEmphasixed{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    animation-name: example;
                    animation-duration: 2s;
                    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  //  -webkit-animation-delay: 2s;
                    .emphasizeContent{
                        flex:0 0 49%;
                        background: #101010a3;
                        border: 1px solid #bbbbbb59;
                        padding: 0.5rem;
                        margin-bottom: 0.5rem;
                       
                        ul{
                            padding: 0;
                            list-style-type: none;
                            li{
                                font-size: 0.9rem;
                                .fa{
                                    padding-right: 0.2rem;
                                    margin-top: 0.2rem;
                                }
                            }
                        }
                    }
                    @-webkit-keyframes example {
                        0%   { left:0px; top:0px;}
                        25%  { left:20px; top:0px;}
                        50%  { left:20px; top:0px;}
                        75%  {left:0px; top:0px;}
                        100% { left:0px; top:0px;}
                    }
                }
            }
            &>*{
                height: 100%;
            }
        }
        &:nth-child(1) {
            background-image: url(../../../../../assets/images/whyMactec/SmartbusinessSolutionsSBuS.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
        &:nth-child(2) {
            background-image: url(../../../../../assets/images/whyMactec/FinanceAccountingCoESolutions.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
        &:nth-child(3) {
            background-image: url(../../../../../assets/images/whyMactec/ITandITESCoESolutions.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
        &:nth-child(4) {
            background-image: url(../../../../../assets/images/whyMactec/banner18.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
        &:nth-child(5) {
            background-image: url(../../../../../assets/images/whyMactec/SmartBusinessSolutionsProduct.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
}

@media only screen and (min-width: 960px) {
    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
    .carousel-inner {
        .md-none {
            display: block;
        }
        .carousel-item {
          //  min-height:  100vh;
            height: 100vh;
            .banner-content {
                margin:5rem auto;
                .slide-content {
                    h2 {
                        font-size: 3rem;
                        font-weight: 300;
                    }
                    .subheading {
                        display: block;
                    }
                    .slide-features {
                        display: flex;
                        li {
                            flex: 0 0 calc(33.33% - 1rem);
                        }
                    }
                    .slide-list {
                        display: flex;
                        li {
                            flex: 0 0 50%;
                        }                                        
                    }
                }
                .slide-img {
                    display: flex;
                    height: 35rem;
                    img {
                        // position: relative;
                    }
                    .mobileEmphasixed{
                        display: flex;
                        flex-direction: column;
                        .emphasizeContent{
                            background: #101010a3;
                            border: 1px solid #bbbbbb59;
                            padding: 0.5rem;
                            margin-bottom: 0.5rem;
                            ul{
                                padding: 0;
                                list-style-type: none;
                                li{
                                    font-size: 0.9rem;
                                    .fa{
                                        padding-right: 0.2rem;
                                        margin-top: 0.1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(1) {
                img {
                    height: 29rem;
                    top: calc(50% - 11rem);
                    left: 1.5rem;
                }
            }
            &:nth-child(2) {
                img {
                    height: 21rem;
                    top: calc(50% - 11rem);
                    left: -1.5rem;
                }
            }
            &:nth-child(3) {
                img {
                    height: 28rem;
                    top: calc(50% - 12rem);
                    left: -5.5rem;
                }
            }
            &:nth-child(4) {
                img {
                    height: 27rem;
                    top: calc(50% - 11rem);
                    left: -4.5rem;
                }
            }
            &:nth-child(5) {
                img {
                    height: 27rem;
                    top: calc(50% - 11rem);
                    left: -4.5rem;
                }
            }
        }
    }
}


@media screen and (min-width: 1500px) and (max-width:2560px) {


    .carousel-inner {
        .carousel-item {
            &:nth-child(1) {
             display: flex;
            }        
            &:nth-child(2) {
                display: flex;
            }        
            &:nth-child(3) {
                display: flex;
            }        
            &:nth-child(4) {
                display: flex;
            }        
            &:nth-child(5) {
                display: flex;
            }     
        }
        }

}