.carousel-control-next, .carousel-control-prev {
    cursor: pointer;
    z-index: 11;
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 18px;
    background-color: rgba(0, 44, 78);
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    .fa {
        color: white;
    }
    &:hover {
        .fa {
            color: var(--primary-color);
        }
        background-color: rgba(0, 44, 78);
    }
}
.carousel-control-next{
    right: -2.5rem;
} 
.carousel-control-prev {    
    left: 0.5rem;
}
.carousel {
    position: relative;   
    svg{
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
    .carousel-indicators {
        li {
            background-color: var(--secondary-color);
            opacity: 0.5;
            &.active {
                opacity: 1;
            }
        
        }
    }
}
.carousel-inner {
    .carousel-item {
        width: 100%; 
        height: auto;
        min-height: 100vh;
        z-index: 10;

        .animate {
            position: relative;
            visibility: hidden;
            opacity: 0;
            transition: 1s all ease-in-out;
            &.a-left {
                left: 5rem;
            }
            &.a-right {
                right: 5rem;
            }
            &.a-top {
                top: 5rem;
            }
        }
        &.active {
            .animate {
                visibility: visible;
                opacity: 1;
                &.a-left {
                    left: 0rem;
                }
                &.a-right {
                    right: 0rem;
                }
                &.a-top {
                    top: 0rem;
                }
            }
        }
        .banner-content {
            color: var(--quaternary-color);
            position: relative;
            z-index: 10;
            .content-box {
                margin-top: 3rem;
            }
            .slide-content {    
                padding: 3rem;
                font-weight: 100;
                height: auto;
                .emp-text {
                    display: none;
                    background-color: #00000066;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    margin: 0 auto 0.5rem;
                    padding: 0.35rem 1rem;
                    &.e1 {
                        display: flex;
                        background-color: #f0761570;
                        flex-direction: column;
                        h5 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                    &>* {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                    }
                }
                h2 {
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--primary-color);
                    sup {
                        font-size: 1rem;
                        top: -1rem;
                        left: 0.3rem;
                    }
                }
                .subheading {
                    display: none;
                }
                .content {
                    font-size: 0.9rem;
                    line-height: 1.3rem;
                    font-weight: 200;
                }
                .slide-features {
                    display: none;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    li {
                        position: relative;
                        list-style-type: none;
                        flex: 0 0 calc(100% - 1rem);
                        margin: 0 0.5rem;
                        h5 {
                            margin-bottom: 0.1rem;
                        }
                        h6 {
                            font-size: 0.9rem;
                            text-align: center;
                            margin-bottom: 0.1rem;
                            font-weight: 600;
                        }
                        p {
                            padding: 0;
                            font-size: 0.7rem;
                            text-align: center;
                        }
                        &:not(:last-child)::after {
                            content: "";
                            width: 1px;
                            height: 4rem;
                            background-color: var(--quaternary-color);
                            display: block;
                            position: absolute;
                            right: -0.5rem;
                            top: 1rem;
                        }
                    }
                }
                .slide-list {
                    padding: 0;
                    display: none;
                    flex-wrap: wrap;
                    list-style: none;
                    justify-content: flex-start !important;
                    li {
                        font-size: 0.9rem;
                        flex: 0 0 50%;
                    }                                        
                }
            }
            .slide-img {
                display: none;
                justify-content: center;
                align-items: center;                    
                height: auto;
                img {
                    position: absolute;
                    width: auto;
                }
            }
            &>*{
                // height: 42rem;
                height: 39rem;
            }
        }
        &:nth-child(1) {
            background: linear-gradient(235deg, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
        }        
        &:nth-child(2) {
            background: linear-gradient(45deg, #3a3897, #a3a1ff);
        }        
        &:nth-child(3) {
            background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
        }        
        &:nth-child(4) {
            background: linear-gradient(235deg, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }        
        &:nth-child(5) {
            background: linear-gradient(45deg, #403591, #53bedf);
        }      
    }
}

@media only screen and (min-width: 960px) {
    .carousel-control-next{
        right: 2rem;
    } 
    .carousel-control-prev {    
        left: 4rem;
    }
    .carousel-inner {
        .md-none {
            display: block;
        }
        .carousel-item {
            min-height: auto;
            height: 42rem;
            .banner-content {
                .content-box {
                    margin-top: 6rem;
                }
                .slide-content {
                    padding: 1rem 0 0;
                    height: 38rem;
                    .emp-text {
                        display: block;
                    }
                    h2 {
                    }
                    .subheading {
                        display: block;
                    }
                    .slide-features {
                        display: flex;
                        li {
                            flex: 0 0 calc(33.33% - 1rem);
                        }
                    }
                    .slide-list {
                        display: flex;                                     
                    }
                    .button-4 {
                        display: inline-block;
                        margin-right: 0.5rem;
                    }
                }
                .slide-img {
                    display: flex;
                    height: calc(100vh - 8rem);
                    img {
                        // position: relative;
                    }
                }
                
                &>*{
                    height: 42rem;
                }
            }

            &:nth-child(1) {
                img {
                    height: 34rem;
                    top: 7rem;
                    left: -7.5rem;
                }
            }
            &:nth-child(2) {
                img {
                    height: 21rem;
                    top: 19rem;
                    left: -8.5rem;
                }
            }
            &:nth-child(3) {
                img {
                    height: 26rem;
                    top: 14rem;
                    left: -8.5rem;
                }
            }
            &:nth-child(4) {
                img {
                    height: 28rem;
                    top: 12rem;
                    left: -3.5rem;
                }
            }
            &:nth-child(5) {
                img {
                    height: 26rem;
                    top: 14rem;
                    left: -1.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1700px) {
    .carousel-inner {
        .carousel-item {
            .banner-content {
                .content-box {
                    margin-top: 2.5rem;
                }
                .slide-content {
                    height: 37rem;
                }
            }
            
            &:nth-child(2) {
                img {
                    height: 20rem;
                    top: 19rem;
                    left: -5.5rem;
                }
            }
            &:nth-child(3) {
                img {
                    height: 25rem;
                    top: 14rem;
                    left: -4.5rem;
                }
            }
            &:nth-child(4) {
                img {
                    height: 27rem;
                    top: 13rem;
                    left: -2.5rem;
                }
            }
            &:nth-child(5) {
                img {
                    height: 24rem;
                    top: 16rem;
                    left: 0.5rem;
                }
            }
        }
    }
}
