<div class="about-section">
  <div class="parallax-banner">
      <div class="slide-content">
          <h2 class="slide-heading">CAREER</h2>
          <p class="slide-text">At MacTec, your individual aspirations take center stage along with building a strong company future. Come join us to author a successful future, together.</p>
      </div>

  </div>

  <div class="container">
    <div class="row space-50">
      <div class="col-md-12">
        <p>We aim at building a robust team that strongly believes in our philosophy of individual aspirations resulting in
          collective achievement. MacTec strives to be highly receptive in adding resources who have huge potential to be
          part of our young and dynamic family. We are looking for individuals who wish to be a stakeholder in authoring
          our success story.</p>
        <p>If you have the zeal and believe you have the fire inside of you, we are looking for you! (Open positions are mentioned
          below)
        </p>
      </div>
    </div>

    <div class=" space-50"></div>
    <div class="row">
      <!--team-1-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="/assets/images/icons/java.PNG" class="img-fluid" />
            <h3>Java developer</h3>
            <p>FullTime, Hyderabad </p>
          </div>
          <div class="team-back">
            <h6>
              <b>Job Description</b>
            </h6>
            <p>We have an excellent opportunity to join our product development team specializing in Struts, Spring, Hibernate,
              Ajax. The successful candidate must be committed, flexible and work well individually and as part of a team.
              Must have a minimum of 5+ years commercial experience.</p>
          </div>
        </div>
      </div>
      <!--team-1-->
      <!--team-2-->
      <div class="col-lg-4">
        <div class="our-team-main">

          <div class="team-front">
            <img src="/assets/images/icons/java.PNG" class="img-fluid" />
            <h3>Java developer</h3>
            <p>FullTime, Hyderabad </p>
          </div>

          <div class="team-back">
            <h6>
              <b>Job Description</b>
            </h6>
            <p>We have an excellent opportunity to join our product development team specializing in Struts, Spring, Hibernate,
              Ajax. The successful candidate must be committed, flexible and work well individually and as part of a team.
              Must have a minimum of 1+ years experience.</p>
          </div>
        </div>
      </div>
      <!--team-2-->

      <!--team-3-->
      <div class="col-lg-4">
        <div class="our-team-main">

          <div class="team-front">
            <img src="/assets/images/icons/UI.PNG" class="img-fluid" />
            <h3>Junior UI developer</h3>
            <p>FullTime, Hyderabad </p>
          </div>
          <div class="team-back">
            <h6>
              <b>Job Description</b>
            </h6>
            <p>We have an excellent opportunity to join our product development team specializing in HTML5, CSS3, Angular6.
              The successful candidate must be committed, flexible and work well individually and as part of a team. Must
              have a minimum of 1+ years experience.</p>
          </div>
        </div>
      </div>
      <!--team-3-->
    </div>
    <div class=" space-50"></div>
  </div>
</div>