<div class="why-mactec">
<div class="page-banner" style="background-color: var(--quinary-background-color)">
		<div class="banner-content container">
			<h2 class="banner-heading">Why MacTec</h2>
			<p>Smart Business Solutions… Powered by Intelligent Technologies</p>
		</div>
  </div>
  <div class="space-40"></div>
  
  <section class=" container">
      <div class="">
          <h2>HR Top 10 Practices</h2>
      </div>
    <div class="flex-container pplPractice flex-wrap">
    <div class="macTecPractices">
      <ul>
        <li><h5>Integrate</h5></li>
        <li>1) Pre-Hire Orientation</li>
        <li>2) Buddy Program</li>
      </ul>
    </div>
    <div class="macTecPractices">
        <ul>
          <li><h5>Engage</h5></li>
          <li>3) 1-on-1 with supervisor</li>
          <li>4) High impact touch points</li>
          <li>5) Connect Family Day</li>
        </ul>
    </div>
    <div class="macTecPractices">
      <ul>
        <li><h5>Communicate</h5></li>
        <li>6) Straight Talk- Q&A</li>
        <li>7) Monthly all associate townhall</li>
        <li>8) Monthly all managers meet</li>
      </ul>
    </div>
    <div class="macTecPractices">
      <ul>
          <li><h5>Monitor</h5></li>
          <li>9) Early warning system</li>
          <li>10) Daily attrition tracker</li>
        </ul>
    </div>
    </div>
   
  </section>
  <div class="space-40"></div>
  <section class=" container">
    <div class="flex-container pplPractice flex-wrap">
    <div class="macTecPractices">
      <ul>
        <li><h5>Service</h5></li>
        <li>We treat engagements as lasting partnerships and not contracts</li>
        <li>We strive to delight our customers by looking beyond the "needs" & "wants"</li>
      </ul>
    </div>
    <div class="macTecPractices">
        <ul>
          <li><h5>Values</h5></li>
          <li>Our Value system "Teamwork & Collaboration" is a crucial pillar to the success</li>
          <li>Selected and imbibed in every associate who are part of the fabric "MacTec"</li>
        </ul>
    </div>
    <div class="macTecPractices">
      <ul>
        <li><h5>Knowledge</h5></li>
        <li>Best practices capable for business process optimization</li>
        <li>Delivers unmatched business value to customers</li>
      </ul>
    </div>
    <div class="macTecPractices">
      <ul>
          <li><h5>Technical Excellence</h5></li>
          <li>We think outside the box to solve our client's challenges innovatively</li>
          <li>New Dimensional products implementation and support </li>
        </ul>
    </div>
    </div>
    <div class="space-40"></div>
    <div class="flex-container pplPractice flex-wrap">
        <div class="macTecPractices">
          <ul>
            <li><h5>Commitment</h5></li>
            <li>On-time delivery </li>
            <li>Guaranteed deliverable</li>
            <li>Customer focused</li>
            <li>Whatever it takes is our Motto</li>
          </ul>
        </div>
        <div class="macTecPractices">
            <ul>
              <li><h5>Associates</h5></li>
              <li>Highly skilled associates and ramping up continuously</li>
              <li>More than 500 + Certified resources</li>
            </ul>
        </div>
        <div class="macTecPractices">
          <ul>
            <li><h5>Strong Leadership</h5></li>
            <li>Leadership that believes in and empowers the workforce</li>
            <li>Diverse experience allowing them to view with "a day in your shoes" concept</li>
          </ul>
        </div>
        <div class="macTecPractices">
          <ul>
              <li><h5>Value Proposition</h5></li>
              <li>Flexible resource ramp up & down option</li>
              <li>Leverage our Global Presence to bring the best value & lower the ROI & TCO</li>
              <li>Invest in POCs & new dimensional products at NO cost to Clients</li>
            </ul>
        </div>
        </div>
  </section>
  <div class="space-60"></div>
  <section class="aboutContent">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2>It's all about</h2>
          <ul>
            <li>How all work gets done.</li>
            <li>How we deliver VALUE to the customer.</li>
            <li>How we strive for continous improvement of our own process as well as our customers.</li>
          </ul>
        </div>
        <div class="col-md-7">
          <img src="../../../assets/images/banner/whyMactec.png" class="img-fluid"/>
        </div>
      </div>
      </div>
  </section>
</div>
<div class="space-40"></div>