<!-- MultiStep Form -->
<div class="flex-container flex-jc-c row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="msform" [formGroup]="subscribeUsers">
			<!-- progressbar -->
			<ul id="progressbar">
				<li class="active">Personal Details</li>
				<li>Organization Details</li>
				<li>Done</li>
			</ul>
			<!-- fieldsets -->
			<fieldset>
				<h2 class="fs-title">Company Details</h2>
				<h3 class="fs-subtitle">Enter Company Details</h3>
				<div class="form-group">
					<input type="text" class="frm-cntrl" formControlName="name" placeholder="Contact Name" />
				</div>
				<input type="text" class="frm-cntrl"  formControlName="email" placeholder="Email id"/>
				<input type="text" class="frm-cntrl"  formControlName="phoneNum" placeholder="Mobile no."/>
				<input type="button" name="next" class="next action-button" value="Next" (click)="onNext();"/>
			</fieldset>
			<fieldset formGroupName="organizeInfo">
				<h2 class="fs-title">Contact Address</h2>
				<h3 class="fs-subtitle">Enter Contact Details</h3>
				<div class="space-40"></div>
				<input type="text" class="frm-cntrl"  formControlName="orgname" placeholder="Organization Name"/>
				<a data-toggle="tooltip" class="qmark" title="Users inclusive students, trainers and employers">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
				</a>
				<input type="text" class="frm-cntrl"  formControlName="usersNo" placeholder="Number of Users"/>
				<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
				<input type="button" name="next" class="next action-button" value="Next" (click)="onNext();"/>
			</fieldset>
			<fieldset formGroupName="userAddress">
				<div class="status">
					<div class="done">
						<!-- <i class="fa fa-check" aria-hidden="true"></i> -->
						<img src="/assets/images/icons/tickicon.png" alt="" class="img-fluid">
						<h4>Request Completed</h4>
						<h6>Sit calm and have a coffee while your environment is getting ready to use.</h6>
					</div>
					<div class="undone" *ngIf="false">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>