<div class="operationalExcellence">
  <div class="page-banner" style="background-color: var(--secondary-color)">
    <div class="banner-content container">
      <h2 class="banner-heading">SBuS Service</h2>
    </div>
  </div>
  <div class="space-20"></div>
  <section>
    <div class="container operationalExlImage">
      <div class="flex-container flex-pc flex-d-c">
        <img src="/assets/images/services/sbus/operationalExcellence.png" class="img-fluid" />
        <div class="space-10"></div>
        <h2>Operational Excellence</h2>
      </div>
      <div class="space-20"></div>
      <div>
        <p>Business process re-engineering (BPR) is the analysis and redesign of workflows within and between
          enterprice in order to optimize end-to-end process and automate non-value-added tasks. Our team of experts
          bring core competency in the areas of operational Excellence and Business Transformation through their core
          business insight and
          experience.Our methodology focuses on radial redesign and reorganization of an enterprise to lower costs and
          increase quality of service and that information technology is the key enabler for that radical change.
        </p>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container operationalExlImg ">
      <picture>
        <source media="(min-width: 930px)" srcset="/assets/images/services/sbus/operatinalExcellencePC.png">
        <img src="/assets/images/services/sbus/operatinalExcellenceMobile.png" alt="Opertional Excellence Mobile">
      </picture>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <div class="flex-container flex-w-w keyMethodoligies">
        <div>
          <img src="/assets/images/services/sbus/keyMethodology.png" class="img-fluid" />
        </div>
        <div>
          <h2>Our key methodology for Business RE-Engineering emcompassess 7 key philosophises</h2>
          <ul>
            <li>Organise around aotcomes, not tasks.</li>
            <li>Identify all the processes in an organization and prioritize them in order of redesign urgency.</li>
            <li>Integrate information processing work into the real work that produces the information.</li>
            <li>Treat geographically dipresed resourses as though they were centralized.</li>
            <li>Link parallel activities in the workflow instead of just integrating their results.</li>
            <li>Put the decisions points where the work is performed, and build control into the process.</li>
            <li>Capture information once and at the source.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="">
      <div class="flex-container flex-jc-c flex-pc flex-d-c keyAreas">
        <h2>Our key area of focus</h2>
        <div class="space-20"></div>
        <ul class="flex-container flex-w-w">
          <li>Strategic Alignment</li>
          <li>Magement</li>
          <li>Architecture</li>
          <li>Excellence</li>
          <li>Management</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="">
      <div class="flex-container flex-jc-c flex-pc flex-d-c prohectsManged">
        <h2>Some pojects that we managed for clients</h2>
        <div class="space-20"></div>
        <div class="flex-container">
          <ul class="flex-container flex-d-c">
            <li>Imployee Employee output</li>
            <li>Reduction of activity cycle time</li>
            <li>Revenue optimization</li>
            <li>Improve sales volume</li>
          </ul>
          <ul class="flex-container flex-d-c">
            <li>Streamline payroll function</li>
            <li>Set-up asset management process</li>
            <li>Enhance manpower uitilization</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="">
      <div class="flex-container flex-jc-c flex-pc flex-d-c helpsYou">
        <h2>How does it help you?</h2>
        <div class="space-20"></div>
        <div class="flex-container">
        <ul class="flex-container flex-d-c">
          <li>Efficient data visualization</li>
          <li>Control on process health and hygine</li>
          <li>Business intelligence through data</li>
        </ul>
        <ul class="flex-container flex-d-c">
            <li>Real time data analytics</li>
            <li>Real time tracking of KPI's</li>
            <li>Improve Controllership</li>
          </ul>
          </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
</div>
