
.parallax-banner{

  
    h4{ text-shadow: 0px 0px 10px #444444; text-align: center; }
    h2{ text-shadow: 0px 0px 10px #444444; font-size: 3rem;  
      text-transform: capitalize;
      font-weight: bolder; 
       padding: 0 30px;
       text-align: center; 
      }
      p{
        text-align: center;
      }
  }
  .form-validation{
    margin-bottom: 3rem;
  }
  .send_btn{
    color: var(--quaternary-color) !important;
    background-color: var(--primary-background-color);
    padding: 0;
    border: 0;
    border-radius: 2px;
    &:hover{
      color: var(--quaternary-color) !important;
      background-color: var(--primary-background-color);
      padding: 0;
      border: 0;
      border-radius: 2px;
    }
  }
.joblist_highlite{ 
  background: #eee;
  padding: 0.8rem;
  border-radius: 0;
  margin-bottom: 1rem;
  border: 0;
.hilite{
  display: flex; align-items: center;
p{
  margin-left: 1rem;    margin-bottom: 0;
}

}
.green_status{
  color: green;
}
}
.upload_btn{
  background: #ccc;
border-radius: 0 5px 5px 0;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}


  .list-group{
    display: block;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
  }
.brd_cnt{
  border-bottom: 1px #ccc solid;
  margin-bottom: 15px;
}
.float-left { float: left;}
.pull-left {
  float: left;
  width: 50%;
}
.jobInfo{
  padding: 1rem;
  h6{
    b{
      font-size: 1rem;
      color: #002C4E;
        }
  }
  h5{
    
  font-weight: 100;
    color: #002C4E;
  
   &:after{ content: "";
    display: block;
    margin: 0.75rem 0;
    width: 3rem;
    height: 0.25rem;
    background-color: var(--secondary-color);
   }
}
  }

.applyForm{
  position: sticky;
  top:5rem;
  background:#f1f1f1;
  padding: 1rem;
}
