<div class="operationalExcellence">
  <div class="space-20"></div>
  <section class="operationalExlImage">
    <div class="container">
      <div class="flex-container flex-pc flex-d-c">
        <img src="/assets/images/services/sbus/operationalExcellence.png" class="img-fluid" />
        <div class="space-10"></div>
        <h2>Operational Excellence</h2>
      </div>
      <div class="space-20"></div>
      <div>
        <p>Business process re-engineering (BPR) is the analysis and redesign of workflows within and between
          enterprice in order to optimize end-to-end process and automate non-value-added tasks. Our team of experts
          bring core competency in the areas of operational Excellence and Business Transformation through their core
          business insight and
          experience.Our methodology focuses on radial redesign and reorganization of an enterprise to lower costs and
          increase quality of service and that information technology is the key enabler for that radical change.
        </p>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container operationalExlImg ">
      <picture>
        <source media="(min-width: 930px)" srcset="/assets/images/services/sbus/operatinalExcellencePC.png">
        <img src="/assets/images/services/sbus/operatinalExcellenceMobile.png" alt="Opertional Excellence Mobile">
      </picture>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <div class="flex-container flex-w-w keyMethodoligies">
        <div>
          <img src="/assets/images/services/sbus/keyMethodology.png" class="img-fluid" />
        </div>
        <div>
          <h2>Our key methodology for Business RE-Engineering emcompassess 7 key philosophises</h2>
          <ul class="fa-ul">
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Organise around aotcomes, not tasks.</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Identify all the processes in an organization and prioritize them in order of redesign urgency.</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Integrate information processing work into the real work that produces the information.</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Treat geographically dipresed resourses as though they were centralized.</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Link parallel activities in the workflow instead of just integrating their results.</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Put the decisions points where the work is performed, and build control into the process.</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Capture information once and at the source.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="">
      <div class="flex-container flex-jc-c flex-pc flex-d-c keyAreas">
        <h2>Our key area of focus</h2>
        <div class="space-20"></div>
        <ul class="flex-container flex-w-w">
          <li><p>Strategic Alignment</p></li>
          <li><p>Magement</p></li>
          <li><p>Architecture</p></li>
          <li><p>Excellence</p></li>
          <li><p>Management</p></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="">
      <div class="flex-container flex-jc-c flex-pc flex-d-c prohectsManged">
        <h2>Some pojects that we managed for clients</h2>
        <div class="space-20"></div>
        <div class="flex-container">
          <ul class="flex-container fa-ul flex-d-c">
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Imployee Employee output</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Reduction of activity cycle time</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Revenue optimization</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Improve sales volume</p></li>
          </ul>
          <ul class="flex-container fa-ul flex-d-c">
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Streamline payroll function</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Set-up asset management process</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Enhance manpower uitilization</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="">
      <div class="flex-container flex-jc-c flex-pc flex-d-c helpsYou">
        <h2>How does it help you?</h2>
        <div class="space-20"></div>
        <div class="flex-container">
        <ul class="flex-container fa-ul flex-d-c">
          <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Efficient data visualization</p></li>
          <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Control on process health and hygine</p></li>
          <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Business intelligence through data</p></li>
        </ul>
        <ul class="flex-container fa-ul flex-d-c">
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Real time data analytics</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Real time tracking of KPI's</p></li>
            <li><i class="fa fa-angle-right fa-fw fa-li" aria-hidden="true"></i><p>Improve Controllership</p></li>
          </ul>
          </div>
      </div>
    </div>
  </section>
</div>
