<div class="operationalExcellence">
  <section class="banner">
    <div class="page-banner" style="background-color: var(--dark)">
      <div class="banner-content container">
        <h2 class="banner-heading">Operational Excellence</h2>
      </div>
      <svg x="0px" y="0px" viewBox="0 0 1000 78" style="enable-background:new 0 0 1000 78; fill: #f1f1f1;">
        <g>
          <polygon points="1000,78 1000,0 0,78" />
        </g>
      </svg>
    </div>
  </section>
  <section class="operationalExlImage">
    <div class="breadcrumb-box">
      <div class="container">
        <ul class="breadcrumb">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/sbus-service">SBuS Services</a></li>
          <li>Operational Excellence</li>
        </ul>
      </div>
    </div>
    <div class="space-20"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-sm-6 flex-container flex-pc">
          <img src="/assets/images/services/sbus/operationalExcellence.png" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6 col-sm-6 flex-container flex-pc">
          <p>Business process re-engineering (BPR) is the analysis and redesign of workflows within and between enterprice
            in order to optimize end-to-end process and automate non-value-added tasks. Our team of experts bring core competency
            in the areas of operational Excellence and Business Transformation through their core business insight and experience.Our
            methodology focuses on radial redesign and reorganization of an enterprise to lower costs and increase quality
            of service and that information technology is the key enabler for that radical change.
          </p>
        </div>
      </div>
    </div>
  </section>
  <svg x="0px" y="0px" viewBox="0 0 1000 78" style="enable-background:new 0 0 1000 78; fill: #f1f1f1;">
    <g>
      <polygon points="0,0 1000,78 1000,0" />
    </g>
  </svg>
  <div class="space-50"></div>
  <section>
    <div class="container operationalExlImg ">
      <picture>
        <source media="(min-width: 930px)" srcset="/assets/images/services/sbus/operatinalExcellencePC.png">
        <img src="/assets/images/services/sbus/operatinalExcellenceMobile.png" alt="Opertional Excellence Mobile">
      </picture>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <div class="flex-container flex-w-w keyMethodoligies">
        <div>
          <img src="/assets/images/services/sbus/keyMethodology.png" class="img-fluid" />
        </div>
        <div>
          <h3>Our key methodology for Business RE-Engineering emcompassess 7 key philosophises</h3>
          <ul class="slide-list">
            <li>
              <p>Organise around aotcomes, not tasks.</p>
            </li>
            <li>
              <p>Identify all the processes in an organization and prioritize them in order of redesign urgency.</p>
            </li>
            <li>
              <p>Integrate information processing work into the real work that produces the information.</p>
            </li>
            <li>
              <p>Treat geographically dipresed resourses as though they were centralized.</p>
            </li>
            <li>
              <p>Link parallel activities in the workflow instead of just integrating their results.</p>
            </li>
            <li>
              <p>Put the decisions points where the work is performed, and build control into the process.</p>
            </li>
            <li>
              <p>Capture information once and at the source.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="space-50"></div>
  <section>
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-12">
            <h3>How does it help</h3>
            <ul class="slide-list">
              <li>
                <p>Efficient data visualization</p>
              </li>
              <li>
                <p>Control on process health and hygine</p>
              </li>
              <li>
                <p>Business intelligence through data</p>
              </li>
  
              <li>
                <p>Real time data analytics</p>
              </li>
              <li>
                <p>Real time tracking of KPI's</p>
              </li>
              <li>
                <p>Improve Controllership</p>
              </li>
            </ul>
          </div>
        <div class="col-md-4 col-sm-4 col-12">
          <h3>Project managed for clients</h3>
          <ul class="slide-list">
            <li>
              <p>Imployee Employee output</p>
            </li>
            <li>
              <p>Reduction of activity cycle time</p>
            </li>
            <li>
              <p>Revenue optimization</p>
            </li>
            <li>
              <p>Improve sales volume</p>
            </li>
            <li>
              <p>Streamline payroll function</p>
            </li>
            <li>
              <p>Set-up asset management process</p>
            </li>
            <li>
              <p>Enhance manpower uitilization</p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
          <h3>Key focus area</h3>
          <ul class="slide-list">
            <li>
              <p>Strategic Alignment</p>
            </li>
            <li>
              <p>Magement</p>
            </li>
            <li>
              <p>Architecture</p>
            </li>
            <li>
              <p>Excellence</p>
            </li>
            <li>
              <p>Management</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>