<div class="dashboard dashboard-home">
  <div class="grid-container">
    <div class="d-comp welcome-space">
      <h3>Welcome <b>Testmon</b></h3>
    </div>
    <div class="d-comp avatar">
      <div class="avatar-img"></div>
    </div>
    <div class="d-comp notification">
      <h4 class="heading">
        Notification
      </h4>
      <ul class="fa-ul">
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
        <li>
          <i class="fa fa-caret-right fa-li fa-fw" aria-hidden="true"></i>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique error sequi 
          aut et perspiciatis quaerat id ducimus ipsam sed. Nulla nobis aliquid aspernatur 
          autem ipsa consequatur, eaque doloremque quibusdam veniam!
        </li>
      </ul>
    </div>
  </div>
</div>