.button{
    &.button-1{
        font-size: 1rem;
        font-weight: normal;
        padding: 14px 32px;
    }
    
    &.button-s{
        font-size: 0.8rem;
        font-weight: bold;
        padding: 7px 16px;
    }
    
    cursor: pointer;
    border-radius: 35px;
    border: none !important;
    transition: 0.3s all ease-in;
    &:hover{
        text-decoration: none;
    }
}