// .button{
//     &.button-1{
//         font-size: 1rem;
//         font-weight: bold;
//         padding: 1rem 2rem;
//     }
    
//     &.button-s{
//         font-size: 0.8rem;
//         font-weight: bold;
//         padding: 0.5rem 1rem;
//     }
    
//     cursor: pointer;
//     border: none !important;
//     transition: 0.3s all ease-in;
//     user-select: none;


// }

.button{
	position: relative;
	font-size: 1rem;
	user-select: none;
    cursor: pointer;
    
    &.button-1{
		border-radius: 0rem;
		font-weight: 400;
		padding: 0.7rem 1.5rem;
		transition: 0.1s all ease-in;
		background-color: transparent;
		border: 1.5px solid;
		border-color: var(--quaternary-border-color);
		margin-top: 1rem;
        
        &:hover{
			text-decoration: none;
			background-color: var(--primary-background-color);	
			border-color: var(--quaternary-border-color);
        }
	}
	
	&.button-2 {
		padding: 0.7rem 0.4rem 0.7rem 1.5rem;
		text-transform: capitalize;
		background-color: var(--primary-background-color);
		font-weight: 400;
		border: none;
		color: var(--quaternary-color); 
		margin-top: 1rem;
		transition: 0.15s all ease-in;
		&::after {
			content: "";
			visibility: hidden;
			opacity: 0;
			margin-left: 0.5rem;
			transition: 0.2s all ease-in;
			border: solid var(--quaternary-border-color);
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(-45deg);
		}
		&:hover {
			box-shadow: 0 5px 10px var(--quinary-color);
			padding: 0.7rem 1.5rem 0.7rem 1.5rem;
			&::after {
				visibility: visible;
				opacity: 1;
			}
		}
		&:active {
      		background-color:  var(--quinary-background-color);
		}
	}

	&.button-icon {
		width: 1.5rem;
		height: 1.5rem;
		display: inline-flex;
		color: white;
		background-color: var(--primary-background-color);
		border: none;
		font-size: 0.7rem;
		justify-content: center;
		align-items: center;
		transition: 0.15s all ease-in;
		&:hover {
			background-color: var(--primary-color)
		}
    }
	&.button-3 {
			padding: 0.8rem 1.5rem;
			background-color: var(--primary-background-color);
			transition: 0.15s all ease-in;
			font-weight: 400;
			border: none;
			color: var(--quaternary-color); 
			margin-top: 1rem;
			display: inline-block;
			&::after{
				content:'';
				font-family: fontawesome;
				opacity: 0;
				visibility: hidden;
				height: 0;
				width:0;
				transition: all 0.3s linear;
			}
			&:hover {
				background-color: var(--primary-background-color);
				&::after{
					content:'\f178';
					font-family: fontawesome;
					opacity : 1;
					visibility : visible;
					margin-left: 8px;
					height: auto;
					width:auto;
				}
			}        
		}
   
	&.button-4 {
        padding: 0.8rem 1.5rem;
        background-color: var(--primary-background-color);
		font-weight: 400;
		border: none;
		color: var(--quaternary-color); 
		margin-top: 1rem;

		&:hover {
			background-color: var(--primary-background-color);
        }        
    }

    &:hover{
        text-decoration: none;
    }
    
    &.disabled {
        cursor: no-drop;
    }
}