// The color periority is high and then going down their priority goes down
// primary
// secondary
// tertiary
// quaternary
// quinary
// senary 
// septenary 
// octonary 
// nonary 
// denary

@primary-color: rgb(25, 97, 209);
@secondary-color: rgb(255, 188, 0);
@tertiary-color: rgb(84, 84, 84);
@quaternary-color: rgb(255, 255, 255);
@quinary-color: rgb(36, 36, 36);

@primary-background-color: rgb(25, 97, 209);
@secondary-background-color: rgb(255, 188, 0);
@tertiary-background-color: rgb(84, 84, 84);
@quaternary-background-color: rgb(255, 255, 255);
@quinary-background-color: rgb(36, 36, 36);

@primary-border-color: rgb(25, 97, 209);
@secondary-border-color: rgb(255, 188, 0);
@tertiary-border-color: rgb(84, 84, 84);
@quaternary-border-color: rgb(255, 255, 255);
@quinary-border-color: rgb(36, 36, 36);

@primary-transparent-color: rgba(25, 97, 209, 0.4);
@secondary-transparent-color: rgba(255, 188, 0, 0.4);
@tertiary-transparent-color: rgba(84, 84, 84, 0.4);
@quaternary-transparent-color: rgba(255, 255, 255, 0.4);
@quinary-transparent-color: rgba(36, 36, 36, 0.4);


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@site-font:  'Open Sans', sans-serif;


// @extra-color1: #215394;

@scroll-width: 8px;
@scroll-color-track:#f1f1f1;
@scroll-color-thumb:rgb(199, 64, 45);
@scroll-color-hover:#555;
