<div class="slideshow-container">
  <div class="container">
    <div class="mySlides c-fade" *ngFor="let d of data; let i = index">
      <h4 class="heading text-center">{{d.heading}}</h4>
      <p class="content text-center">{{d.content}}</p>
    </div>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  <div style="text-align:center">
    <span class="dot" *ngFor="let data of data; let i = index" (click)="currentSlide(i+1)"></span>
  </div>
</div>