<div class="container slideshow-container">
  <div id="visionpath" class="carousel slide carousel-fade" data-ride="carousel" data-interval="9000" data-pause="false">
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="i==0?'active':''" *ngFor="let d of data.listdata; let i = index">
        <div class="banner-content" [ngClass]="data.height=='medium'?'h-lrg':''">
          <h4 class="heading text-center">{{d.heading}}</h4>
          <img class="v-image img-fluid" *ngIf="d.img" src="{{d.img}}" alt="{{d.heading}} image">
          <p class="content text-center">{{d.content}}</p>
        </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev prev" href="#visionpath" data-slide="prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next next" id="t-nextauto" href="#visionpath" data-slide="next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>