<section class="banner">
    <div class="page-banner" style="background-color: var(--secondary-color)">
        <div class="banner-content container">
        <h2 class="banner-heading">Information & Technology</h2>
        </div>
    </div>
</section>
<section>
    <div class="sub-banner">
        <img src="/assets/images/services/sbus/it.png" alt="About-us banner" class="img-fluid" />
        <h2>Information & Technology</h2>
    </div>
</section>
<div>
    <div class="container">
        <ul class="breadcrumb">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/sbus-service">SBuS Services</a></li>
            <li>Information & Technology</li>
        </ul>
    </div>
</div>
<div>
    <section class="data-section">
        <div class="data-container" *ngFor="let pdata of servOffer">
            <div class="container">
                <h4 class="data-heading">{{pdata.heading}}</h4>
                <div class="list-container">
                    <div class="list-box" *ngFor="let data of pdata.seclist">
                        <h5 class="sub-heading">
                            {{data.header}}
                        </h5>
                        <ul class="slide-list outsource">
                            <li *ngFor="let cdata of data.feature">
                                <p>{{cdata}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>