.banner {
    padding: 0rem;
}
section {
    padding: 1rem;
    &:nth-child(even){
        background-color: #f1f1f1;
    }
}

.sub-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: #f1f1f1;
    .inner-svg {
        position: relative;
        display: flex;
        width: 100%;
        height: 17rem;
        svg{
            position: absolute;
            top: -5vh;
            left: 50%;
            transform: translateX(-50%);
            height: 20rem;
            enable-background:new 0 0 1000 1000;
            .aemcode{
                fill:rgb(236, 212, 193);
            }
            
            .eclipse{
                transform-origin: 50% 50%;
                animation: animate linear infinite;
                opacity: 0.5;
                &.eclipse:nth-child(1) {
                    animation-duration: 4s;
                    fill:rgb(236, 111, 19);
                }
                &.eclipse:nth-child(2) {
                    fill:rgb(46, 31, 16);
                    animation-duration: 6s;
                }
                &.eclipse:nth-child(3) {
                    fill:rgb(236, 111, 19);
                    animation-duration: 8s;
                }
                &.eclipse:nth-child(4) {
                    fill:rgb(46, 31, 16);
                    animation-duration: 10s;
                }
                &.eclipse:nth-child(5) {
                    fill:rgb(236, 111, 19);
                    animation-duration: 12s;
                }
            }
        }
    }
}
@keyframes animate{
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(90deg);
    }
    40% {
        transform: rotate(120deg);
    }
    60% {
        transform: rotate(210deg);
    }
    80% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.data-section {
    .data-container {
        .list-container {
            display: flex;
            flex-wrap: wrap;
            .list-box {
                flex: 0 0 calc(100% - 1rem);
                margin: 0.5rem;
                background-color: #f1f1f1;
                padding: 1rem;
                .sub-heading {
                    font-size: 1.25rem;
                    &::after {
                        content: "";
                        margin: 0.5rem 0 1rem;
                        background-color: #444444;
                        width: 2rem;
                        height: 0.25rem;
                        display: block;
                    }
                }
                .list-heading {
                    font-weight: 600;
                }
                .slide-list {
                    margin-bottom: 1rem;
                }
            }
        }
        .data-heading {
            text-align: center;
            margin: 1rem 0;
        }
        &:nth-child(even){
            background-color: #f1f1f1;
            padding: 1.5rem 0;
            .list-container {
                .list-box {
                    background-color: #ffffff;
                }
            }
        }
    }
}

@media only screen and ( min-width: 980px) {
    .sub-banner {
        img {
            height: 20rem;
        }
        .inner-svg {
            height: 30rem;
            svg{
                height: 35rem;
            }
        }
    }
    .heading {
        width: 50%;
    }
    .data-section {
        .data-container {
            .list-container {
                .list-box {
                    flex: 0 0 calc(33.33% - 1rem);
                }
            }
        }
    }
    
    .block-box1 {
        .block-list {
            .block {
                flex: 0 0 calc(50% - 2rem);
                margin: 0.5rem;
           }   
        }   
    }   
    
    .fin-data-list {
        .level-1 {
            li {
            margin: 0.5rem;
            flex: 0 0 calc(33.33% - 1rem);
            }
        }
    }
}
