<section class="banner">
    <div class="banner">
        <img src="/assets/images/services/sbus/it.png" alt="About-us banner" class="img-fluid" />
        <h2>Information & Technology</h2>
    </div>
</section>
<section class="data-section">
    <div class="data-container" *ngFor="let pdata of servOffer">
        <div class="container">
            <h4 class="data-heading">{{pdata.heading}}</h4>
            <div class="list-container">
                <div class="list-box" *ngFor="let data of pdata.seclist">
                    <h5 class="sub-heading">
                        {{data.header}}
                    </h5>
                    <ul class="slide-list outsource">
                        <li *ngFor="let cdata of data.feature">
                            <p>{{cdata}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>